
#tx-newspaper-role-menu .toolbar-item {
	padding-left: 8px;
	padding-right: 7px;
}

#tx-newspaper-role-menu .toolbar-item-active {
	background-image: url('toolbar_item_active_bg.png');
}

#tx-newspaper-role-role {
	width:76px;
	text-align: right;
	border: 1px dashed #999;
	padding: 1px 2px;
	position: relative;
	top: -4px;
	margin-left:15px;
}

#tx-newspaper-role-counter {
	width: 14px;
	text-align: right;
	border: 1px dashed #999;
	padding: 1px 2px;
	position: relative;
	top: -4px;
	display:none;
}

#tx-newspaper-role-menu .toolbar-item-menu {
	position: absolute;
	list-style: none;
	padding: 2px 0px 0px;
	margin: 0px;
	background-color: #f9f9f9;
	border: 1px solid #abb2bc;
	border-top: none;
	width: 161px;
}

#tx-newspaper-role-menu .toolbar-item-menu .list {
	width: 100%;
}

#tx-newspaper-role-menu .toolbar-item-menu .list th {
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
	background-color: #dbdbdb;

	text-align: left;
	font-weight: normal;
	line-height: 16px;
	padding-left: 7px;
}

#tx-newspaper-role-menu .toolbar-item-menu .list  td {
	padding: 2px 1px;
	line-height: 16px;
}

