{debug}
<script language="javascript">

	function getChosenExtra() {ldelim}
		if (document.getElementById('extra_list_pooled').selectedIndex < 0) {ldelim}
			alert('{$MESSAGE.no_extra_selected}');
			return false;
		{rdelim}
 		return document.getElementById('extra_list_pooled').value;
	{rdelim}

	function extra_insert_after_POOL_copy(origin_uid, extra_class, pz_uid, paragraph, path) {ldelim}
		extra_uid = getChosenExtra();
		if (extra_uid != false) {ldelim}
			self.location.href = "index.php?extra_insert_after_from_pool_copy=1&pooled_extra_uid=" + extra_uid + "&origin_uid=" + origin_uid + "&extra_class=" + extra_class + "&pz_uid=" + pz_uid + "&paragraph=" + paragraph + "&path=" + path;
		{rdelim}
	{rdelim}
	function extra_insert_after_POOL_ref(origin_uid, extra_class, pz_uid, paragraph, path) {ldelim}
		extra_uid = getChosenExtra();
		if (extra_uid != false) {ldelim}
			self.location.href = "index.php?extra_insert_after_from_pool_ref=1&pooled_extra_uid=" + extra_uid + "&origin_uid=" + origin_uid + "&extra_class=" + extra_class + "&pz_uid=" + pz_uid + "&paragraph=" + paragraph + "&path=" + path;
		{rdelim}
	{rdelim}

</script>


{* render list with pooled extras *}
{if sizeof($EXTRA_POOLED) > 0 && $EXTRA_POOLED != false	}
	<select id="extra_list_pooled" size="{$LIST_SIZE}">';
	{section name=i loop=$EXTRA_POOLED}
		<option value="{$EXTRA_POOLED[i]->getUid()}">{$EXTRA_POOLED[i]->getDescription()}</option>
	{/section}
	</select>
	<br /><br />
	<input onclick="extra_insert_after_POOL_copy({$ORIGIN_UID}, '{$EXTRA_CLASS}', {$PZ_UID}, {$PARAGRAPH}, top.path)" type="button" value="{$LABEL.extra_copy_from_pool}" />
	<input onclick="extra_insert_after_POOL_ref({$ORIGIN_UID}, '{$EXTRA_CLASS}', {$PZ_UID}, {$PARAGRAPH}, top.path)" type="button" value="{$LABEL.extra_reference_from_pool}" />
{else}
	{$MESSAGE.pool_is_empty}
{/if}