{* debug *}
<script language="javascript" >
	{section name=i loop=$EXTRA_DATA} {* store default values for paragraphs *}
		document.def[{$EXTRA_DATA[i].uid}] = {$EXTRA_DATA[i].paragraph};
	{/section}
</script>

<table style="margin-bottom: 21px;">
<tr>
	<td>{$LABEL.extra}</td>
	<td align="center">{$LABEL.show}</td>
	<td align="center">{$LABEL.pass_down}</td>
	<td align="center">{$LABEL.inherits_from}</td>
	<td align="center">{$LABEL.paragraph}</td>
	<td>{$LABEL.commands}</td>
</tr>
	{section name=i loop=$EXTRA_DATA} 
		{if ($EXTRA_DATA[i].bg_color_type == 0)}
			<tr class="bg1">
		{else}
			<tr class="bg2">
		{/if}
				<td> {$EXTRA_DATA[i].extra_type}<br /><span class="gray">{$EXTRA_DATA[i].title}</span> </td>
				<td align="center">
		{if $EXTRA_DATA[i].show == 0}
		<input type="checkbox" onchange="extra_set_show({$EXTRA_DATA[i].uid}, 1);" /> 
		{else}
		<input type="checkbox" onchange="extra_set_show({$EXTRA_DATA[i].uid}, 0);" checked="checked" />
		{/if}
				</td>
				<td align="center">
		{if $EXTRA_DATA[i].pass_down == 0}
		<input type="checkbox" onchange="extra_set_pass_down({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, 1);" />
		{else}
		<input type="checkbox" onchange="extra_set_pass_down({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, 0);" checked="checked" />
		{/if}
				</td>
				<td> {$EXTRA_DATA[i].inherits_from} </td>
		
				<td id="para_td_{$EXTRA_DATA[i].uid}" align="center">
					<input id="para_{$EXTRA_DATA[i].uid}" onChange="changeParagraph({$EXTRA_DATA[i].uid}); return false;" style="width: 30px" type="text" value="{$EXTRA_DATA[i].paragraph}" />
					<span style="display: none" id="save_{$EXTRA_DATA[i].uid}"> <a href="#" onclick="saveParagraph({$EXTRA_DATA[i].uid}); return false;">{$SAVE_ICON}</a> <a href="#" onclick="undoParagraph({$EXTRA_DATA[i].uid}); return false;">{$UNDO_ICON}</a></span> 
				</td>

				<td> 
		{if $EXTRA_DATA[i].origin_placement == true} 
		  <a href="#" onclick="extra_edit('{$EXTRA_DATA[i].concrete_table}', {$EXTRA_DATA[i].concrete_uid});">{$EDIT_ICON}</a>
		{else}
		  {$EMPTY_ICON}
		{/if} 
		
		<a href="#" onclick="extra_insert_after({$EXTRA_DATA[i].origin_uid}, {$DATA.pagezone_id});">{$NEW_BELOW_ICON}</a>
		
		{* calculate index for origin uid for moving extras up and down *}	
		{math assign="index_minus_one" equation="x-1" x=$smarty.section.i.index}
		{math assign="index_plus_one" equation="x+1" x=$smarty.section.i.index}

{* |i-1:{$EXTRA_DATA[$index_plus_one].paragraph}|i:{$EXTRA_DATA[i].paragraph}| *}
		{if $EXTRA_DATA[$index_minus_one].paragraph != $EXTRA_DATA[i].paragraph} 
		  {$EMPTY_ICON}
		{else}
		  {if $move_up_after_index < 0}
		    <a href="javascript:extra_move_after(0, {$DATA.pagezone_id}, {$EXTRA_DATA[i].uid});">{$MOVE_UP_ICON}</a> {* move to top *}
		  {else}
			<a href="javascript:extra_move_after({$EXTRA_DATA[$move_up_after_index].origin_uid}, {$DATA.pagezone_id}, {$EXTRA_DATA[i].uid});">{$MOVE_UP_ICON}</a>
		  {/if}
		{/if}

		{if $EXTRA_DATA[$index_plus_one].paragraph == $EXTRA_DATA[i].paragraph} 
		  <a href="javascript:extra_move_after({$EXTRA_DATA[$move_down_after_index].origin_uid}, {$DATA.pagezone_id}, {$EXTRA_DATA[i].uid});">{$MOVE_DOWN_ICON}</a>
		{else}
		  {$EMPTY_ICON}
		{/if}


		{if $EXTRA_DATA[i].origin_placement == true} 
		  <a href="javascript:extra_delete({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, '{$LABEL.extra_delete_confirm}');">{$DELETE_ICON}</a>
		{else}
		  {$EMPTY_ICON}
		{/if}
				</td>
		
		{if $EXTRA_DATA[i].position}
			<td>{$EXTRA_DATA[i].paragraph}</td>
			<td>{$EXTRA_DATA[i].position}</td>
			<td>{$EXTRA_DATA[i].uid}</td>
		{/if}
			</tr>
	{/section}
</table>