{* debug *}
<script language="javascript">

	function getChosenExtra() {ldelim}
		if (document.getElementById('extra_list').selectedIndex < 0) {ldelim}
			alert('{$MESSAGE.no_extra_selected}');
			return false;
		{rdelim}
		return document.getElementById('extra_list').value;
	{rdelim}

	function getParagraph() {ldelim}
		return parseInt(document.getElementById('paragraph').value);
	{rdelim}

	function extra_insert_after_NEW(origin_uid, pz_uid) {ldelim}
		new_extra_paragraqph_position_data = '';
{if ($PARAGRAPH_USED == true)}
		{* todo: move logic from smarty to js *}
		new_extra_paragraqph_position_data = '&paragraph=' + getParagraph();
{/if}
		extra_class_sysfolder = getChosenExtra();
		extra_class = top.splitAtPipe(extra_class_sysfolder, 0);
		extra_sysfolder = top.splitAtPipe(extra_class_sysfolder, 1);
		if (extra_class == false || extra_sysfolder == false) {ldelim}
			alert('Fatal error: Value in list of extras has wrong structure! Please contact developers!');
			return false;
		{rdelim}
		extra_sysfolder = parseInt(extra_sysfolder);
		if (extra_class != false) {ldelim}
// todo: ajax call: create extra, edit created etxra
//alert('o: ' + origin_uid + ', pz: ' + pz_uid + ', p: ' + paragraph + ', pid: ' + extra_sysfolder + 'class: ' + extra_class);
			self.location.href = top.path + "typo3/alt_doc.php?returnUrl=" + top.path + "typo3conf/ext/newspaper/mod3/close.html&edit[" + extra_class + "][" + extra_sysfolder + "]=new&new_extra_pz_uid=" + pz_uid + "&new_extra_after_origin_uid=" + origin_uid + new_extra_paragraqph_position_data
		{rdelim} 
	{rdelim}

	function extra_insert_after_POOL(origin_uid, pz_uid) {ldelim}
		new_extra_paragraqph_position_data = '';
{if ($PARAGRAPH_USED == true)}
		{* todo: move logic from smarty to js *}
		new_extra_paragraqph_position_data = '&paragraph=' + getParagraph();
{/if}
		extra_class_sysfolder = getChosenExtra();
		extra_class = top.splitAtPipe(extra_class_sysfolder, 0);
		if (extra_class == false) {ldelim}
			alert('Fatal error: Value in list of extras has wrong structure! Please contact developers!');
			return false;
		{rdelim}
		if (extra_class != false) {ldelim}
			self.location.href = "index.php?chose_extra_from_pool=1&origin_uid=" + origin_uid + "&extra=" + extra_class + "&pool_extra_pz_uid=" + pz_uid + "&pool_extra_after_origin_uid=" + origin_uid + new_extra_paragraqph_position_data
		{rdelim} 
	{rdelim}

</script>


{* render list with registered extras *}
<select id="extra_list" size="{$LIST_SIZE}">';
{section name=i loop=$EXTRA}
	<option value="{$EXTRA[i]->getTable()}|{$EXTRA[i]->getSysfolderPid()}">{$EXTRA[i]->getTitle()}</option>
{/section}
</select>
<br /><br />


{* add input field for paragraph (if article) *}
{if ($PARAGRAPH_USED == true)}
Paragraph: 
	{if ($NEW_AT_TOP == true)}
<input id="paragraph" name="paragraph" value="{$PARAGRAPH}" type="text" />
	{else}
<input id="paragraph" name="paragraph" value="{$PARAGRAPH}" type="hidden" /> {$PARAGRAPH}
	{/if}
<br /><br />
{/if}


<input onclick="extra_insert_after_NEW({$ORIGIN_UID}, {$PZ_UID})" type="button" value="{$LABEL.new_extra_new}" />
<input onclick="extra_insert_after_POOL({$ORIGIN_UID}, {$PZ_UID})" type="button" value="{$LABEL.new_extra_from_pool}" />
