{* debug *}

<div class="tag_selection">
    <h3>{$LL.deleteTag}</h3>
    <select id="tag_delete" size="1">
        <option selected="selected" id="0">{$lang.chooseTag}</option>
        {html_options options=$tags}
    </select>
    <p><input type="button" value="{$LL.deleteSelectedTag}" onclick="NpTag.deleteTag(); return false;" /><span id="spinner"></span></p>
	<div id="message"></div>
</div>
