{* debug *}

<div class="tag_selection">
    <h3>{$LL.tagRename}</h3>
    <select id="tag_rename" size="1" onchange="NpTag.processRenameInputField(); return false;">
        <option selected="selected" id="0">{$lang.chooseTag}</option>
        {html_options options=$tags}
    </select>
	<div id="renameBackend">
		<input type="text" id="rename" value="" /> <a href="#" onclick="NpTag.storeRenamedTag(); return false;">{$ICON.save}</a><span id="spinner"></span> <a href="#" onclick="NpTag.refreshRenameInputField(); return false;">{$ICON.undo}</a>
	</div>
	<div id="message"></div>
</div>
