{* debug *}

<p class="description">
{$LL.mergeDescription}
</p>

<div class="tag_selection">
    <h3>{$LL.tagsToMergeFrom}</h3>
    <select id="tag_merge" size="10" multiple="multiple">
        {html_options options=$tags}
    </select>
    <p class="message"> {$LL.tagMergeHelp} </p>
</div>

<div class="tag_selection">
    <h3>{$LL.tagToMergeTo}</h3>
    <select id="tag_merge_with" size="1">
        <option selected="selected" id="0">{$lang.chooseTag}</option>
        {html_options options=$tags}
    </select>
	<p><input type="button" value="{$LL.mergeSelected}" onclick="NpTag.merge(); return false;" /><span id="spinnerMerge"></span></p>
	<div id="message"></div>
</div>
