{* debug *}

<link rel="stylesheet" type="text/css" href="{$T3PATH}typo3conf/ext/newspaper/mod8/res/mod8.css" />
<script type="text/javascript" src="{$T3PATH}typo3/contrib/prototype/prototype.js"> </script>
<script language="javascript" type="text/javascript" src="../res/be/newspaper.js"> </script>
<script type="text/javascript" src="{$T3PATH}typo3conf/ext/newspaper/mod8/res/mod8.js"> </script>

<script type="text/javascript">
	NpTag.param["labelChooseTag"] = "{$LL.chooseTag}";
	NpTag.param["confirmMessageRename"] = "{$LL.renameConfirm}";
	NpTag.param["tagNotUniqueMesssage"] = "{$LL.message_tag_not_unique}";
	NpTag.param["tagRenamedMesssage"] = "{$LL.message_tag_renamed}";
	NpTag.param["confirmMessageMerge"] = "{$LL.mergeConfirm}";
	NpTag.param["messagePleaseSelectTargetTag"] = "{$LL.messageSelectTargetTag}";
	NpTag.param["messagePleaseSelectSourceTags"] = "{$LL.messageSelectSourceTags}";
	NpTag.param["confirmMessageDelete"] = "{$LL.deleteConfirm}";
	NpTag.param["confirmDetachMessage"] = "{$LL.deleteDetachConfirm}";
	NpTag.param["tagDeletedMesssage"] = "{$LL.message_tag_deleted}";
	NpTag.param["messagePleaseSelectTag"] = "{$LL.messageSelectTag}";
</script>

<h2 style="color:red;">{$LL.message_performance_warning}</h2>

<div id="tagType">
<input type="radio" name="tagType" onclick="NpTag.selectCtrlTagCat();" id="tagTypeCtrl" checked="checked" value="ctrl" />{$LL.npCtrlTag}
<input type="radio" name="tagType" onclick="NpTag.selectContentTag();" value="content" />{$LL.npContentTag}<span id="spinnerContentTag"></span>
</div>

<div id="ctrlTagCat">
	<label for="ctrltagcat">{$LL.label_ctrltagcat}</label>
	<select name="ctrltagcat" id="ctrltagcat" onchange="NpTag.changeCtrlTagCat(); return false;">
	{foreach from=$CTRLTAGCATS item=ctrltagcat}
		<option value="{$ctrltagcat.uid}"{if $ctrltagcat.uid == $DATA.ctrltagcat} selected="selected"{/if}>{$ctrltagcat.title}</option>
	{/foreach}
	</select><span id="spinnerCtrlTag"></span>
</div>

{literal}
<script type="text/javascript">
	window.onload = function() {
		NpTag.fetchTags();
	}
</script>
{/literal}