/* Hacks fuer den IE6 oder niedriger, getestet nur mit IE 6.0/XP */

.bildspalte_rechts img{
	margin-bottom: 1px;
}

.bildspalte_links{
	margin-left:31px;
	margin-top:-15px;
}

.bildspalte_rechts{
	margin-top:-15px;
}

.bildspalte_rechts img{
	margin-left:0px;
}

.karikatur_icons_rechts{
	display:inline;
}

.karikatur_icons_rechts img{
	margin-top:-12px;
}

.mehr_taz_icons_rechts{
	display:inline;
}

.taz_dossier_icon_rechts{
	display:inline;
}

.taz_dossier_icon_rechts img{
	margin-top:-12px;
}

#thirdlevel_teaser{
	padding-bottom:4px;
}
/* Eliminiert IE Duplicate Characters Bug */
.tabbox_right_header{
	margin-right: -3px;
}

.main_navi_suchfeld input{
	margin-top:0;
}

.main_navi_suchfeld img{
	margin-top:1px;
}

.main_navi_suchfeld_aktiv img{
	margin-top:1px;
}

.dossierbox_links_header{
	width: 408px;
	/*height: 20px;*/
	padding-right:7px;
	padding-top:7px;
	line-height: 18px;
	padding-left:7px;
	background-color: #efede4;
	font-size:13px;
	font-weight:bold;
	color:#000000;
	border-color:#dfdbc9;
	border-top-width:8px;
	border-top-style:solid;
}

.toolleiste_unten{
	margin-top:-10px;
}

.weitere_interne_links{
	margin-top:-14px;
}

.zum_seitenanfang{
	margin-top:2px;
}

.antwort_absenden{
	padding-top:13px;
}

.teaserpic_blog{
	padding-bottom:0px;
}

.toolleiste{
	margin-top:-4px;
}

.dossiers_schmuckbild{
	padding-bottom: 0;
}

.header_schmuckbild{
	padding-top:57px;
}


.weitere_interne_links{
	margin-top:-12px;
}

.toolleiste_unten{
	margin-top:-13px;
}

.leserkommentare_box_links{
	padding-top:10px;
	padding-bottom:4px;
}

.clear_columns_charts{
	padding-top:2px;
	clear:both;
}

.send_to_a_friend_form{
	padding-top:29px;
}

.footer_zeile_links{
	margin-top:-37px;
}

.detail_search_form{
	padding-top:28px;
}

.main_navi_suchfeld img{
	margin-top:2px;
	padding-top:1px;
}

#bilder_des_tages_header_links{
	margin-top:-7px;
	float:left;
	padding-right:8px;
	width:135px;
}

#bilder_des_tages_header_mitte{
	margin-top:-7px;
	float:left;
	padding-right:8px;
	width:135px;
}

#bilder_des_tages_header_rechts{
	margin-top:-7px;
	float:left;
	width:135px;
}

.tabbox_left{
	padding-top:2px;
}

.tabbox_right{
	padding-top:2px;
}

.bildunterschrift{
	padding-top:2px;
	padding-bottom:12px;
}

.bildunterschrift_rechts{
	padding-top:2px;
	padding-bottom:12px;
}

.form_big_left_abstand{
	padding-top:2px;
}

.toolleiste p{
	margin-top:1px;
}

.toolleiste img{
	margin-bottom:2px;
}

.mehr_taz_icon_rechts_einspaltig{	
	margin-top: -12px;	
}