
.primary_teaser .pfeil_rechts_13_abstand {
font-size: 16px; 
font-weight: normal; 
font-family: georgia, courier new, sans-serif; 
/*font-family: georgia; */
line-height: 2px;
color:#C61940;
margin-left: 4px;
}

span.pfeil_rechts_13_abstand {
font-size: 16px; 
font-weight: normal; 
font-family: georgia, courier new, sans-serif; 
/*font-family: georgia; */
line-height: 2px;
color:#C61940;
margin-left: 4px;
}
.dossier_header{
	padding-top:2px;
}
.header_zeile_links{
	padding-top:12px;
}

.main_navi_suchfeld input{
	margin-top:1px;

}

.main_navi_suchfeld_aktiv input{
	margin-top:1px;
}

div.tx-hptazsearch-pi2 input{
	margin-top:2px;
}
.main_navi_suchfeld #searchform2 input{

	margin-top:2px;
}

/*
#sorgenkind {
	background-color:#cc0000;
	margin-top:2px;
}

*/

.dossier_header_wahrheit{
	padding-top:35px;
}


.pfeil_rechts_13 {
font-family: georgia, courier new, sans-serif; 
font-size: 16px; 
/*font-weight: bold; */
margin-left: -2px;
color:#C61940;
}


.pfeil_rechts_11 {
font-family: georgia, courier new, sans-serif;
font-size: 12px; 
font-weight: bold; 
margin-left: -2px;
color:#C61940; 
}

.pfeil_rechts_11_abstand {
font-family: georgia, courier new, sans-serif;
font-size: 12px; 
font-weight: bold; 
color:#C61940; 
}

span.pfeil_rechts_11_abstand_blog {
font-family: georgia, courier new, sans-serif; 
font-size: 12px; 
font-weight: bold; 
color:#C61940;
margin-left: 4px;
}

/* Plugin_rechts - nach unten verschobenes bild       OLga 6.02.08  */
.kommentar_rechts img {
margin-top:0px;
}

/* Poll - Einrückung der srsten Zeile beheben - Olga 8.02.08 */
div.pollfrage p.bodytext {
/*text-indent: -20px;*/
}