div.rect {
display: none;
}

div.toolleiste_unten_trenner {
display: none;
}

/*pfeil weg in mehr zum thema */
span.pfeil_rechts_11_abstand_blog {
display: none;
}



/* Abstand zur druckurl  - Olga 15.02.08  */
.article_url {
padding-top:5px;
}

/* Länge von dem Rahmen links, damit die 2. seite nicht verrutscht  - Olga 18.02.08  */
.schwarzer_rahmen_links {
height:1300px;
}