/*Zusaetzliches Stylesheet fuer den IE6, das die Vergroesserung durch den User erlaubt, indem relative Fontangaben verwendet werden. Die absoluten Fontangaben werden dabei einfach ueberschrieben */  

body {
	font-size: 0.8125em;	/*Basis:entspricht 13px*/
}

li {
	line-height:1.1em;
}

p{
	font-size:1em;
	line-height: 1.23em;
}

h1 {
	font-size:1.3em;
}

h1 a{
	font-size:1.3em;
}

h2{
	line-height: 1.1em;
	font-size:0.9em;
}

h2 a{
	line-height: 1.1em;
	font-size:0.9em;
}

h3 {	
	font-size:1.23em;
}
	
h4 {	
	line-height: 1.1em;
	font-size:0.9em;
}
	
h4 a{	
	line-height: 1.1em;
	font-size:0.9em;
	}

h5 {	
	font-size:1em;
	}
	
h5 a{	
	font-size:1em;
	}

h6 {	
	font-size:0.9em;
	}
	
h6 a{	
	font-size:0.9em;
	}

.smallblackfont_rechts{
	font-size:0.9em;
	line-height:1.1em;
}

.smallblackfont_bildstrecke{
	font-size:0.85em;
}

.smallblackfont{
	font-size:0.9em;
	line-height:1.1em;
}

.smallblackfont_bold{
	font-size:1em;
	line-height:1.1em;
}

.bigblackfont_bold{
	font-size:1em;
	line-height:1.23em;
}

.bigblackfont{
	font-size:1em;
	line-height:1.23em;
}

.smallredfont{
	font-size:0.9em;
	line-height:1.1em;
}

.stopperbox_text p{
	font-size:0.9em;
}

a.ressortlink_text{
	font-size:0.9em;line-height:1.1em;
}

a.ressortlink_title {
	font-size:0.9em;
}

.main_navi_suchfeld input{
	line-height:0.85em;
	font-size:0.85em;
}

.main_navi_suchfeld_aktiv input{
	line-height:0.85em;
	font-size:0.85em;
}

.suchfeld_element{
	line-height:1.55em;
}

.suchfeld_element_aktiv{
	line-height:1.55em;
}

.tabbox_titel{
	font-size:0.9em;
}

a.tabbox_titel{
	font-size:0.9em;
}

.teasertext_blog p{
	font-size:0.9em;
}

#main_navi_div a{ 
	font-size:1em;
	line-height:1.55em;
}

#main_navi_div a.main_navi_element_erstes{ 
	font-size:1em;
	line-height:1.55em;
}

#suche_top{
	line-height:1.55em;
}

#main_navi_div a.main_navi_element_aktiv{
	font-size:1em;
	line-height:1.55em;
}

#mini_navi_rahmen li{
	font-size:0.9em;
}

#mini_navi_rahmen a{
	font-size:0.9em;
}

#mini_navi_rahmen a:link a:active a:visited{
	color:#ffffff;
}

#mini_navi_rechts li{
	font-size:0.9em;
}

#mini_navi_rechts a{
	font-size:0.9em;
}

#main_navi_div{
	line-height:1.55em;
}

#main_navi_sub_div{
	line-height:1.55em;
}

#main_navi_sub_element li{
	line-height: 1.55em;
}

#main_navi_sub_div a{
	font-size:1em;
	line-height:1.55em;
}

#main_navi_sub_div a.erstes_element{
	font-size:1em;
	line-height:1.55em;
}

#main_navi_sub_div a.main_navi_sub_element_aktiv{
	font-size:1em;
	line-height:1.55em;
}

#main_navi_sub_div_hidden{
	line-height:1.55em;
}

#datum_plugin_rechts{
	font-size:2.8em;
}

#bilder_des_tages_header{
	font-size:0.9em;
}

.copyright_notice {
	font-size:0.85em;
	line-height: 1.1em;
}

.sitemap_footer a{
	font-size:0.9em;
}

.sitemap_footer_trennlinie a{
	font-size:0.9em;
}

.header_links{
	font-size:0.9em;
	line-height: 1.4em;
}

.header_links_alternativ{
	font-size:0.9em;
	line-height: 1.4em;
}

.header_rechts{
	font-size:0.9em;
	line-height: 1.4em;
}

.header_rechts_alternativ{
	font-size:0.9em;
	line-height: 1.4em;
}

.header_mit_icon_links{
	font-size:0.9em;
	line-height: 1.4em;
}

.header_mit_icon_rechts{
	font-size:0.9em;
	line-height: 1.4em;
}

.antwort_links_text{
	font-size:1em;
}

.formlabel{
	font-size:0.85em;
}

.antwort_absenden{
	font-size:0.85em;
}



.fuenf_fragen_rechts_text{
	font-size:0.9em;
}

.newlinks_rechts_text{
	font-size:0.9em;
}

.kommentar_rechts{
	font-size:0.9em;
}

.stopperbox_text{
	font-size:0.9em;
	line-height: 1.4em;
}

.werbeblock_inline{
	font-size:0.9em;
}

.ausklapp_plugin_rechts p{
	font-size:0.9em;
}

.ausklapp_plugin_rechts_expanded{
	font-size:0.9em;
}

.ausklapp_plugin_rechts_expanded p{
	font-size:1em;
}

.ausklapp_plugin_links_expanded{
	font-size:0.9em;
}

.andere_ressorts_plugin_header{
	font-size:0.9em;
	line-height:1.1em;
}

.andere_ressorts_left_box{
	font-size:0.9em;
}

.tabbox_left_header{
	line-height:1.55em;
}

.nonjs_tabbox_left_header{
	line-height:1.55em;
}

.tabbox_right_header{
	line-height:1.55em;
}

.nonjs_tabbox_right_header{
	font-size:0.9em;
	line-height:1.55em;
}

.andere_ressorts_right_box{
	font-size:0.9em;
}

#main_navi_div li{
	line-height: 1.55em;
}

.artikeldatum{
	font-size:0.9em;

}
.toolleiste{
	font-size:0.9em;
	line-height: 1.7em;
}

.toolleiste_unten{
	font-size:0.9em;
}

.bildunterschrift{
	font-size:0.85em;
}

.bildunterschrift_rechts{
	font-size:0.85em;
}

.shorty_mehr_links_text{
	font-size:0.9em;
}

.shorty_header_links{
	font-size:0.9em;
	line-height: 1.4em;
}

.shorty_info_typ1_links_text{
	font-size:0.9em;
}

.shorty_info_typ1_links_text p{
	line-height:1.2em;
}

.shorty_info_typ1_header_links{
	line-height: 1.4em;
	font-size:0.9em;
}

.shorty_info_typ2_text{
	font-size:0.9em;
}

.shorty_info_typ2_text p{
	line-height:1.2em;
}

.externe_links_block li{
	line-height:1.1em;
	font-size:0.9em;
}

.dossier_header{
	font-size:0.9em;
}

.dossierbox_rechts_text{
	font-size:0.9em;
}

.dossierbox_links_text{
	font-size:1em;
}

.dossierbox_rechts_header{
	line-height: 1.4em;
	font-size:0.9em;
}

.dossierbox_links_header{
	line-height: 1.4em;
	font-size:1em;
}

.send_to_a_friend_form input, textarea{
	font-size: 1em;
}

.detail_search_form input, textarea{
	font-size: 1em;
}

.header_zeile_rechts{
	font-size:0.9em;
}

.header_zeile_links{
	font-size:0.9em;
}

.form_big{
	font-size:1em;
}

.form_small{
	font-size:0.9em;
	line-height:1.1em;
}

.form_big_left{
	font-size:0.9em;
	line-height:1.4em;
}

.form_big_left_abstand{
	font-size:0.9em;
}

.form_big_right{
	font-size:0.9em;
}

.fotobox p{
	font-size:0.9em;
}

.tag_selektor{
	font-size:0.9em;
}

.monat_selektor{
	font-size:0.9em;
}

.jahr_selektor{
	font-size:0.9em;
}

.detailsuchbegriff{
	font-size:0.9em;
}

.ressort_selektor{
	font-size:0.9em;
}

.suche_form_big_left{
	float:left;
}

.suche_form_small_right{
	font-size:0.85em;
}

.suche_charts_links{
	font-size:0.9em;
	line-height:1.1em;
}

.paginierung_navi{
	font-size:0.9em;
}

.main_navi_liste li{
	line-height: 1.55em;
}

.spezialsuche_box_links_element{
	font-size:0.9em;
}

.spezialsuche_box_links_element_rechts{
	font-size:0.9em;
}

.alle_leserkommentare{
	font-size:0.9em;
}

/*Zusaetzliche EM-Unterscheidungen fuer IE6 */

.tabbox_left li{ 
	font-size: 0.9em;
}
.tabbox_right li{ 
	font-size: 0.9em;
}

.header_rechts h6{
	font-size: 1.05em;
}

.stopperbox_text h4{
	font-size: 1.05em;
	line-height: 1.2em;
	padding-bottom:10px;
}

.stopperbox_text p{
	font-size: 0.9em;
	line-height: 1.2em;
}

.andere_block h6{
	font-size: 1.05em;
}


.kommentar_rechts_zweispaltig_text{
	font-size: 1.05em;
}

.teasertext_blog h4{
	font-size: 1.05em;
}

.ausklapp_plugin_rechts p{
	font-size: 0.85em;
}

.sitemap_footer li{
	font-size: 0.9em;
}

.sitemap_footer_trennlinie a{
	font-size: 0.85em;
}

.header_rechts_alternativ{
	font-size: 1.05em;
}

.fruehere_artikel_block{
	font-size: 0.9em;
	line-height:1.1em;
}

.externe_links_block{
	font-size: 0.9em;
}

.weitere_interne_links{
	font-size: 0.9em;
}

.leserkommentare_box_links{
	font-size: 0.9em;
}

.artikeldatum{
	font-size: 0.85em;
}

.artikel_main h1{
	font-size: 1.69em;
}

.artikel_main h2{
	font-size: 0.85em;
}

.header_rechts h6{
}

.leserkommentar_vollanzeige p{
	font-size: 1.05em;
}

.ausklapp_plugin_links_expanded{
	font-size: 1.05em;
	line-height: 1.2em;
}

.suche_charts_box_rechts{
	font-size: 0.9em;
}

.spezialsuche_box_links_element_rechts{
	font-size: 0.85em;
}

.dossierbox_rechts_text p{
	line-height: 1.2em;
}

#popup_content{
	font-size:0.9em;
}

#popup_content h1{
	font-size:1.9em;
}

#popup_content_tom{
	font-size:0.9em;
}

.kommentar_main h1{
	font-size: 1.69em;
}

.kommentar_main h2{
	font-size: 0.85em;
}

.form_small{
	font-size: 0.85em;
	line-height: 1.2em;
}

.footer_zeile_links_versenden{
	font-size: 0.9em;
}

.suche_charts_box_rechts{
	margin-top: -12px;
}

.paginierung_suchergebnis{
	font-size: 0.9em;
}

.toolleiste p{
	font-size:0.9em;
}

.fuenf_fragen_rechts_text h6{
	font-size: 1.05em;
}

/* Zusaetze fuer taz-Verlagsseiten */

.kommentar_rechts_text_smallblock p{
	font-size: 1em;
}

.kommentar_rechts_text p{
	font-size:1em;
}

.werbepraemien_main h1{
	font-size:1.69em;
}

.kontakt_main h1{
	font-size:1.69em;
}

.veranstaltungen_main h1{
	font-size:1.69em;
}

.smallblackfont_float_links{
	font-size:0.85em;
	line-height:1em;
}

.smallblackfont_float_rechts{
	font-size:0.85em;
	line-height:1em;
}

.tabbox_right p{
	font-size: 0.85em;
}

a.standardlink{
	font-size: 1em;
}

.formularfooter{
	font-size: 0.9em;
}

.kommentar_rechts_text{
	font-size:0.9em;
	line-height:1.1em;
}

.tazzeit_header{
	font-size:0.85em;
}

.kommentar_rechts_text_smallblock{
	font-size:0.9em;
	line-height:1.1em;
}

.paginierung_navi_praemien{
	font-size:0.85em;
}

.aboservice_box{
	font-size:0.9em;
}