{* debug *}
<script language="javascript" type="text/javascript" src="../../../../typo3/contrib/prototype/prototype.js"> </script>
<script type="text/javascript">

	var sysFolder = new Object(); // see http://de.selfhtml.org/javascript/objekte/array.htm#assoziative_arrays
{foreach from=$formExtras item=extra}
	sysFolder["{$extra->getTable()}"] = {$extra->getSysfolderPid()};
{/foreach}

{literal}
	function checkEnter(code) {
		if (code != 13) {
			return;
		}
		executeFilter(1);
		return false;
	}
	function setTextfieldVisibility(item) {
		switch(item) {
{/literal}
	{foreach from=$formExtras item=extra}
{if $extra->getSearchFields()}case '{$extra->getTable()}':
{/if}
	{/foreach}
{literal}
				mode = 'inline';
			break;
			default:
				mode = 'none';
		}
		document.getElementById("textfield").style.display = mode;

		document.getElementById("search").style.display = (item == '')? 'none' : 'inline';
		document.getElementById("new").style.display = (item == '')? 'none' : 'inline';

	}

	function newExtra() {
		var extraClass = document.getElementById("tx_newspaper_mod1[extra]").value;
		var extraSysfolder = sysFolder[extraClass]; // get uid of sysfolder the extra will be stored in
		var path = window.location.pathname;
		path = path.substring(0, path.indexOf("/typo3conf/")) + "/";

		// create Typo3 record
		var request = new Ajax.Request(
			'../mod1/index.php',
			{
				method: 'get',
				parameters: 'tx_newspaper_mod1[ajaxController]=createNewExtra&tx_newspaper_mod1[extraClass]=' + extraClass,
				onError: function() {
					alert('Error! Please retry creating the extra.');
				},
				onSuccess: function(response) {
					var data = response.responseText.evalJSON(true);
					var returnUrl = escape(path + "typo3conf/ext/newspaper/mod1/res/eb/closeNewExtra.html?tx_newspaper_mod1[newExtraClass]=" + extraClass + "&tx_newspaper_mod1[newExtraUid]=" + data.uid);
					var url = path + "typo3/alt_doc.php?returnUrl=" + returnUrl + "&edit[" + extraClass + "][" + data.uid + "]=edit&tx_newspaper_mod1[newExtraInElementBrowser]=1";
					self.location.href = url;
				}
			}
		);

	}

</script>
{/literal}
	<input type="hidden" name="tx_newspaper_mod1[ajaxcontroller]" value="eb" /> {* element browser ... *}
	<input type="hidden" name="tx_newspaper_mod1[type]" value="e" />            {* ... searching for extras *}
	<input type="hidden" name="tx_newspaper_mod1[hidden]" value="0" />          {* visible Extras only *}

	<label for="tx_newspaper_mod1[extra]">{$LL.labelExtra}</label> <select onchange="setTextfieldVisibility(this.value); return false;" id="tx_newspaper_mod1[extra]" name="tx_newspaper_mod1[extra]">
		<option value="">{$LL.labelNoExtra}</option>
{foreach from=$formExtras item=extra}
		<option value="{$extra->getTable()}"> {$extra->getTitle()} </option>
{/foreach}
	</select>
	<span id="textfield" style="display:none; margin-left:20px;"><label for="tx_newspaper_mod1[text]">{$LL.labelText}</label> <input onkeyup="checkEnter(event.keyCode); return false;" type="text" id="tx_newspaper_mod1[text]" name="tx_newspaper_mod1[text]" /></span>
	<span id="search" style="display:none; margin-left:20px;"><input type="button" value="{$LL.labelSearch}" onclick="executeFilter(1);" /></span>
	<span id="new" style="display:none; margin-left:20px;"><input type="button" value="{$LL.labelNewExtra}" onclick="newExtra();" /></span>
