{* debug *}
<!-- begin mod6/res/mod6_dossier_manage.tmpl -->

{* Variables:
	$DATA.tag             tag entered in form
	$DATA.controltagtype  list of tag zones in the system, form:
	$DATA.section         section uid
	$SECTIONS             all available sections
	$CTRLTAGCATS          all control tag categories
	$LANG.[...]           localization stuff
	$ICON
*}


{include file="../../mod3/res/mod3.css"}

{literal}
<style>
#tz_used {
	float:left;
	margin-right:20px;
}
#tz_unused {
	float:left;
}
.tz_musthave {
	border:1px solid #c61940;
	margin-bottom:5px;
	padding:3px;
}
#article_batch {
	padding-top:30px;
	clear:both;
}
#batch_trigger {
	cursor:pointer;
	margin-bottom:4px;
}
#article_batch_form img {
	padding:3px;
}

#article_list_trigger {
	cursor:pointer;
	margin-top:20px;
	margin-bottom:4px;
	display:none;
}
#article_list {
	display:none;
}

#button {
  clear:both;
}
#dossier_title_label, #dossier_title_edit {
  margin-left:10px;
}
#dossier_title {
  font-weight:bold;
}
</style>
<script language="javascript" type="text/javascript" src="../../../../typo3/contrib/prototype/prototype.js"> </script>
<script language="javascript" type="text/javascript" src="../res/be/newspaper.js"> </script>
<script type="text/javascript">
{/literal}
var confirmMessage = "{$LANG.message_confirm_delete_extra_from_tagzone}";
{literal}

var tz_uid = null; // stores tag zone uid when opening the element browser popup

function getTagzoneUid() {
	return tz_uid;
}

function changeCtrlTagCat(uid) {
	var request = new Ajax.Request(
		"index.php",
			{
				method: 'get',
				parameters: 'tx_newspaper_mod6[AjaxCtrlTagCat]=' + parseInt(uid),
				onCreate: function() {
					$("tz").innerHTML = '<img src="../res/be/css/move-spinner.gif" />'; // clear tag zone box (and display spinner there)
					$("tx_newspaper_mod6[tag]").descendants().each(Element.remove); // clear tag select box
				},
				onSuccess: function(data) {
					if (data) {
						// insert tags into select box
						options = data.responseText.evalJSON();
						for(i = 0; i < options.length; i++) {
							$("tx_newspaper_mod6[tag]").options[$("tx_newspaper_mod6[tag]").options.length] = new Option(splitParamAtPipe(options[i], 0), splitParamAtPipe(options[i], 1));
						}
						$("tz").innerHTML = ''; // remove spinner
						$("tag_batch_msg").innerHTML = ''; // clear message
						$("article_list").innerHTML = ''; // clear article list
						$("article_list").style.display = 'none'; // clear article list
					}
				}
			}
		);
	showArticleBackend(0);
}

function changeTag(uid) {
	$("article_list").style.display = 'none'; // clear article list
	uid = parseInt(uid);
	if (!uid) {
		$("tz").innerHTML = ''; // selected empty row in dropdown, so clear tagzone backend
		$("article_batch").style.display = "none"; // hide article batch backend
		$("article_list_trigger").style.display = "none"; // hide list of article assigned to this tag
		$("article_list").innerHTML = ''; // clear article list
		refreshDossierTitle('');
		return;
	}
	var request = new Ajax.Request(
		"index.php",
			{
				method: 'get',
				parameters: 'tx_newspaper_mod6[AjaxTag]=' + parseInt(uid),
				onCreate: function() {
					$("tz").innerHTML = '<img src="../res/be/css/move-spinner.gif" />'; // clear tag zone box (and display spinner there)
				},
				onSuccess: function(data) {
					if (data) {
						var tmp = data.responseText.evalJSON();
						$("tz").innerHTML = tmp.backend; // display tag zone backend, remove spinner
						refreshDossierTitle(tmp.dossierTitle);
						$("tag_batch_msg").innerHTML = ''; // clear message
						$("article_list").innerHTML = ''; // clear article list
					}
				}
			}
		);
	showArticleBackend(1);
}

function refreshDossierTitle(title) {
	$("dossier_title").innerHTML = title;
	if (title) {
		$("dossier_title_label").innerHTML = '{/literal}{$LANG.label_title}{literal}: ';
		$("dossier_title_edit").innerHTML = '<a href="#" onclick="changeDossierTitle(); return false;">{/literal}{$ICON.edit}{literal}</a>';
	} else {
		$("dossier_title_label").innerHTML = '';
		$("dossier_title_edit").innerHTML = '';
	}
}

function changeDossierTitle() {
	uid = parseInt($("tx_newspaper_mod6[tag]").value); // read uid of current control tag
	var title = $("dossier_title").innerHTML; // read current title
	$("dossier_title").innerHTML = '<input class="inputDossierTitle" id="input_dossier_title" value="' + hscQuotes(title) + '" />'; // render input form foeld
	$("dossier_title_edit").innerHTML = '<a href="#" onclick="storeDossierTitle(); return false;">{/literal}{$ICON.save}{literal}</a>';// render save icon (remove edit icon)
}

function storeDossierTitle() {
	var title = $("input_dossier_title").value; // read new title from input field
	if (title == '') {
		alert('{/literal}{$LANG.wizard_dossier_title_missing}{literal}');
		return false;
	}
	// store new title
	var request = new Ajax.Request(
		"index.php",
			{
				method: 'get',
				parameters: 'tx_newspaper_mod6[AjaxStoreDossierTitleUid]=' + parseInt(uid) + '&tx_newspaper_mod6[dossierTitle]=' + escape(title),
				onCreate: function() {
					$("dossier_title_edit").innerHTML = '<img src="../res/be/css/move-spinner.gif" />'; // remove store icon, render spinner
				},
				onSuccess: function(data) {
					if (data) {
						var title = $("input_dossier_title").value;
						refreshDossierTitle(title);
					}
				}
			}
		);
}

function reloadTagzone(uid) {
	changeTag(uid);
}
function removeExtraFromTagzone(tz_uid, e_uid) {
	if (confirm(confirmMessage)) {
		var request = new Ajax.Request(
			"index.php",
				{
					method: 'get',
					parameters: 'tx_newspaper_mod6[AjaxRemoveExtraFromTagZone]=1' + "&tx_newspaper_mod6[tz_uid]=" + parseInt(tz_uid) + "&tx_newspaper_mod6[e_uid]=" + parseInt(e_uid) + "&tx_newspaper_mod6[tag_uid]=" + parseInt($("tx_newspaper_mod6[tag]").value),
					onCreate: function() {
						$("tz").innerHTML = '<img src="../res/be/css/move-spinner.gif" />'; // clear tag zone box (and display spinner there)
					},
					onSuccess: function(data) {
						if (data) {
							var tmp = data.responseText.evalJSON();
							$("tz").innerHTML = tmp.backend; // display tag zone backend, remove spinner
						}
					}
				}
		);
	}
}


// \todo move window.open to some element browser lib
function addExtraToTagzone(uid, extraClass) {
	tz_uid = parseInt(uid); // store tag zone uid so the element browser knows which tag zone the extra should be added to

	var extraPreselect = (typeof(extraClass) == 'undefined')? '' : '&tx_newspaper_mod1[extraClassPreselect]=' + extraClass;
	var newOnly = (extraPreselect)? '&tx_newspaper_mod1[newOnly]=1' : ''; // if an Exra is pre-selected, create it right away

	// open element browser popup
	var w = window.open(
		"../mod1/index.php?tx_newspaper_mod1[controller]=eb&tx_newspaper_mod1[type]=e&tx_newspaper_mod1[allowMultipleSelection]=0&tx_newspaper_mod1[jsType]=manageDossiers" + extraPreselect + newOnly,
		"npeb",
		"width=800,height=500"
	);
	w.focus();
}


function showArticleBackend(state) {
	if (state != 1) {
		var display = 'none';
	} else {
		var display = 'block';
	}
	document.getElementById("article_batch").style.display = display;
	document.getElementById("article_list_trigger").style.display = display;
}
function toggleBatchForm() {
	if (document.getElementById('article_batch_form').style.display != 'block') {
		document.getElementById('article_batch_form').style.display = 'block';
	} else {
		document.getElementById('article_batch_form').style.display = 'none';
	}
}

function setFormValueOpenBrowser_A() {
// \todo: path - lib solution needed ...
var path = window.location.pathname;
path = path.substring(0, path.lastIndexOf("/") - 5); // -5 -> cut of "typo3"
if (path.indexOf('typo3conf/ext/newspaper') == -1) {
	path += 'typo3conf/ext/newspaper'; // modify path if called from within a module
}

    var url = path + '/mod2/index.php?ab4al=1&select_box_id=tx_newspaper_mod6[articles]';
    browserWin = window.open(url,"Typo3WinBrowser","height=350,width=650,status=0,menubar=0,resizable=1,scrollbars=1");
    browserWin.focus();
}


function addOption(uid, kicker, title) {

	var s = document.getElementById('tx_newspaper_mod6[articles]');

	uid = parseInt(uid);
	// don't add if uid is known already ...
	for (var i = 0; i < s.options.length; i++) {
		if (uid == s.options[i].value) {
			return false; // this article has been added to the list already
		}
	}

	// attach article to select box
	s.options[s.length] = new Option(kicker + ': ' + title, uid, false, false);

}
function removeOptions() {
	var s = document.getElementById('tx_newspaper_mod6[articles]');
	found = true;// check at least one time ...
	while (found) {
		found = false;
		for (var i = 0; i < s.options.length; i++) {
			if (s.options[i].selected && !found) {
				s.options[i] = null;
				found = true;
			}
		}
	}
}


// assign tag to all articles in article selectbox
function batchAttachTag() {
	var tag = document.getElementById("tx_newspaper_mod6[tag]").value;

	// collect article uids
	var s = document.getElementById('tx_newspaper_mod6[articles]');
	var aUids = '';
	for (var i = 0; i < s.options.length; i++) {
		aUids += s.options[i].value;
		if (i < s.options.length-1) {
			aUids += ',';
		}
	}

	var request = new Ajax.Request(
		"index.php",
			{
				method: 'get',
				parameters: 'tx_newspaper_mod6[AjaxBatchAttachTag]=' + tag + '&tx_newspaper_mod6[articleUids]=' + aUids,
				onCreate: function() {
					$("processSpinner").innerHTML = '<img src="../res/be/css/move-spinner.gif" />';
					$("tag_batch_msg").innerHTML = ''; // clear message
				},
				onSuccess: function(data) {
					$("tx_newspaper_mod6[articles]").descendants().each(Element.remove); // clear article select box
					$("processSpinner").innerHTML = ''; // remove spinner
					$("tag_batch_msg").innerHTML = data.responseText; // show message
				}
			}
		);

}

// open and get list or close list
function toggleArticleList() {
	if (document.getElementById('article_list').style.display != 'block') {
		document.getElementById('article_list').style.display = 'block';
		// get assigned articles
		var tag = document.getElementById("tx_newspaper_mod6[tag]").value;
		var request = new Ajax.Request(
			"index.php", {
				method: 'get',
				parameters: 'tx_newspaper_mod6[AjaxListArticlesForCtrlTag]=' + tag,
				onCreate: function() {
					$("article_list").innerHTML = '<img src="../res/be/css/move-spinner.gif" />';
				},
				onSuccess: function(data) {
					$("article_list").innerHTML = data.responseText;
				}
			}
		);
	} else {
		document.getElementById('article_list').style.display = 'none';
		document.getElementById('article_list').innerHTML = '';
	}
}

</script>
{/literal}


{if $noCtrlTagCatAvailable}
<div>
	{$LANG.wizard_dossier_no_ctrltagcat}<br /><br />
</div>
{else}


<div>
	<label for="tx_newspaper_mod6[ctrltagcat]">{$LANG.label_ctrltagcat}</label>
	<select name="tx_newspaper_mod6[ctrltagcat]" onchange="changeCtrlTagCat(this.value); return false;">
	{foreach from=$CTRLTAGCATS item=ctrltagcat}
		<option value="{$ctrltagcat.uid}"{if $ctrltagcat.uid == $DATA.ctrltagcat} selected="selected"{/if}>{$ctrltagcat.title}</option>
	{/foreach}
	</select>
</div>

<div>
	<label for="tx_newspaper_mod6[tag]">{$LANG.label_tag}</label>
	<select name="tx_newspaper_mod6[tag]" id="tx_newspaper_mod6[tag]" onchange="changeTag(this.value); return false;">
		<option value="0"></option>
	{foreach from=$TAGS item=tag}
		<option value="{$tag->getUid()}"{if $tag->getUid() == $DATA.tag} selected="selected"{/if}>{$tag->getAttribute('tag')}</option>
	{/foreach}
	</select>
	<span id="dossier_title_label"></span><span id="dossier_title"></span><span id="dossier_title_edit"></span>
</div>

<div id="tz"></div>

<div id="article_batch" style="display:none;">
	<div id="batch_trigger" onclick="toggleBatchForm(); return false;">{$LANG.label_wizard_dossier_article_tag}</div>
	<div id="article_batch_form" style="display:none;">
		<div style="float:left;"><select id="tx_newspaper_mod6[articles]" multiple="multiple" size="12"> </select></div>
		<div style="float:left;">
			<a href="#" onclick="setFormValueOpenBrowser_A(); return false;">{$ICON.articlebrowser}</a><br />
			<a href="#" onclick="removeOptions(); return false;">{$ICON.x}</a>
		</div>
		<span id="processSpinner"></span>
		<div id="button">
			<input onclick="batchAttachTag()" type="button" value="{$LANG.label_attach_tag_button}" /></div>
		</div>
		<div id="tag_batch_msg"></div>
	</div>
</div>

<div id="article_list_trigger" onclick="toggleArticleList(); return false;">{$LANG.label_show_article_list}</div>
<div id="article_list"></div>


{/if}
<!-- end mod6/res/mod6_dossier_manage.tmpl -->
