<!-- begin mod6/res/mod6_dossier_tagzone.tmpl -->

{* Variables:
	ICON
	LANG
	TAG
	TAGZONES_USED
	TAGZONES_USED_EXTRAS // key = tag zone uid
	TAGZONES_ALL
	TSCONFIG
*}

<div id="tagzones">

	<div id="tz_used">
		<strong>{$LANG.label_tagzones_active}</strong><br /><br />
		{foreach from=$TAGZONES_USED item=tz}
			{$TAGZONES_ALL[$tz.tag_zone].name}<br />
			{foreach from=$TAGZONES_USED_EXTRAS[$tz.tag_zone] item=extra}
				{$extra->getDescription()} <br />
				<a href="#" onclick="NpManageDossier.removeExtraFromTagzone({$tz.tag_zone}, {$extra->getExtraUid()}); return false;">{$ICON.remove}</a> <a onclick="vHWin=window.open('{$ABSOLUTE_PATH}typo3/alt_doc.php?returnUrl={$ABSOLUTE_PATH}/typo3conf/ext/newspaper/mod6/res/close.html&amp;edit[{$extra->getTable()}][{$extra->getUid()}]=edit&amp;tx_newspaper_close_option=1','ad41032cf3f3844ae2a5e68cb9d8339c','width=670,height=500,status=0,menubar=0,scrollbars=1,resizable=1');vHWin.focus();return false;" href="#">{$ICON.edit}</a><br /><br />
			{/foreach}
		{/foreach}
	</div>
	<div id="tz_unused">
		<strong>{$LANG.label_tagzones_unused}</strong><br /><br />
			{foreach from=$TAGZONES_ALL item=tz}
				{if !array_key_exists($tz.uid, $TAGZONES_USED_EXTRAS)}
{assign var="idx" value=$tz.uid} {* make current tagzone uid accessable for Smarty *}
					{if array_key_exists($tz.uid, $TSCONFIG.mustHave)}
						<div class="tz_musthave"> {* red frame for mustHave tagzones *}
					{/if}
                    {if array_key_exists($tz.uid, $TSCONFIG.shouldHave)}
                        <div class="tz_shouldhave"> {* yellow frame for shouldHave tagzones *}
                    {/if}
					{$tz.name} (#{$tz.uid}) <a href="#" onclick="NpManageDossier.addExtraToTagzone({$tz.uid}{if
                        array_key_exists($tz.uid, $TSCONFIG.mustHave)}, '{$TSCONFIG.mustHave.$idx}'{/if}{if
                        array_key_exists($tz.uid, $TSCONFIG.shouldHave)}, '{$TSCONFIG.shouldHave.$idx}'{/if}); return false;">{$ICON.add}</a> <br /><br />
					{if array_key_exists($tz.uid, $TSCONFIG.mustHave) || array_key_exists($tz.uid, $TSCONFIG.shouldHave)}
						</div> {* close colored frame *}
					{/if}
				{/if}
			{/foreach}
	</div>
</div>

<!-- end mod6/res/mod6_dossier_tagzone.tmpl -->