<!-- begin mod6/mod6.tmpl -->

{include file="../../mod3/res/mod3.css"}

{* Variables:
	$tags			list of control tags, form:
						array('uid' => uid, 'name' => tag text)
	$tag_zones		list of tag zones in the system, form:
						array('uid' => uid, 'name' => tag zone name)
	$extra_types	list of extra classes
						array(
							'table' => lowercased class name, 
							'title' => internationalized name of extra
						)
	$data			content of the control tag to extra mapping table
*}

<form action="">
	<table>
		<tr>
			<td>tag</td>
			<td>tag_zone</td>
			<td>extra_table</td>
			<td>extra_uid</td>
		</tr>

		{* row to enter a new tag/tag zone/extra combination *}
		<tr class="bg1">
			<td>
				<select name="tag[0]">
					{foreach from=$tags item=tag}
						<option value="{$tag.uid}">
							{$tag.tag}
						</option>
					{/foreach}
				</select>
			</td>
			<td>
				<select name="tag_zone[0]">
					{foreach from=$tag_zones item=tag_zone}
						<option value="{$tag_zone.uid}">
							{$tag_zone.name}
						</option>
					{/foreach}
				</select>
			</td>
			<td>
				<select name="extra_table[0]">
					{foreach from=$extra_types item=extra_type}
						<option value="{$extra_type.table}">
							{$extra_type.title}
						</option>
					{/foreach}
				</select>
			</td>
			<td><input name="extra_uid[0]" /></td>
		</tr>

		{* already present tag/tag zone/extra combinations *}
		{if $data}
			{foreach from=$data item=row key=i}
				{if ($i % 2 == 0)}
					<tr class="bg2">
				{else}
					<tr class="bg1">
				{/if}
					
					<td>
						<select name="tag[{$row.uid}]">
							{foreach from=$tags item=tag}
								<option value="{$tag.uid}"
									{if $tag.tag == $row.tag}
										selected="selected"
									{/if}>
									{$tag.tag}
								</option>
							{/foreach}
						</select>
					</td>
					<td>
						<select name="tag_zone[{$row.uid}]">
							{foreach from=$tag_zones item=tag_zone}
								<option value="{$tag_zone.uid}"
									{if $tag_zone.name == $row.tag_zone}
										selected="selected"
									{/if}>
										{$tag_zone.name}
								</option>
							{/foreach}
						</select>
					</td>
					<td>
						<select name="extra_table[{$row.uid}]">
							{foreach from=$extra_types item=extra_type}
								<option value="{$extra_type.table}"
									{if $extra_type.table == $row.extra_table}
										selected="selected"
									{/if}>
									{$extra_type.title}
								</option>
							{/foreach}
						</select>
					</td>
					<td>{$row.extra_uid}</td>
				<tr>
			{/foreach}
		{/if}


	</table>
	<input type="submit" value=" Submit " />
</form>
<!-- end mod6/mod6.tmpl -->