{* debug *}
<!-- begin mod6/res/mod6_dossier_manage.tmpl -->

{* Variables:
	$DATA.tag             tag entered in form
	$DATA.controltagtype  list of tag zones in the system, form:
	$DATA.section         section uid
	$SECTIONS             all available sections
	$CTRLTAGCATS          all control tag categories
	$LANG.[...]           localization stuff
	$ICON
*}

{include file="../../mod3/res/mod3.css"}

{literal}

<style>
#tz_used {
	float:left;
	margin-right:20px;
}
#tz_unused {
	float:left;
}
#tz_reload {
	margin-bottom:3px;
	display:none;
}
#tz_reload img {
	border:1px solid red;
}


.tz_musthave {
	border:1px solid #c61940;
	margin-bottom:5px;
	padding:3px;
}
#article_batch {
	padding-top:30px;
	clear:both;
}
#batch_trigger {
	cursor:pointer;
	margin-bottom:4px;
}
#article_batch_form img {
	padding:3px;
}

#article_list_trigger {
	cursor:pointer;
	margin-top:20px;
	margin-bottom:4px;
	display:none;
}
#article_list {
	display:none;
}
#article_list input[type=checkbox] {
	width:auto;
	margin:4px;
}
.detachTag {
	display:none;
}
#detachTagStuff, #processSpinnerDetach {
	margin-left:20px;
}

#button {
  clear:both;
}
#dossier_title_label, #dossier_title_edit,
#dossier_section_label, #dossier_section_edit, #dossier_section_dropdown {
  margin-left:10px;
}
#dossier_section_dropdown {
	display:none;
}
#dossier_title, #dossier_section {
  font-weight:bold;
}
</style>
{/literal}

<script type="text/javascript" src="../../../../typo3/contrib/prototype/prototype.js"> </script>
<script type="text/javascript" src="../res/be/newspaper.js"> </script>
<script type="text/javascript" src="res/mod6.js"> </script>

<script type="text/javascript">
	NpManageDossier.param["confirmMessage"] = "{$LANG.message_confirm_delete_extra_from_tagzone}";
	NpManageDossier.param["titleNotUniqueMesssage"] = "{$LANG.message_dossier_title_not_unique}";
	NpManageDossier.param["labelCheckboxBatchDetachTag"] = "{$LANG.label_checkbox_batch_detach_tag}";
	NpManageDossier.param["labelCheckboxBatchDetachTagAllArticles"] = "{$LANG.label_checkbox_batch_detach_tag_all_articles}";
	NpManageDossier.param["labelCheckboxBatchDetachTagSubmit"] = "{$LANG.label_checkbox_batch_detach_tag_submit}";

	NpManageDossier.param["labelTitle"] = "{$LANG.label_title}";
	NpManageDossier.param["labelSection"] = "{$LANG.label_section}";
	NpManageDossier.param["messagePerformanceWarning"] = "{$LANG.message_performance_warning}";
	NpManageDossier.param["messageWizardDossierTitleMissing"] = "{$LANG.wizard_dossier_title_missing}";

	NpManageDossier.param["iconEdit"] = '{$ICON.edit}';
	NpManageDossier.param["iconSave"] = '{$ICON.save}';
	NpManageDossier.param["iconX"] = '{$ICON.x}';
</script>


{if $noCtrlTagCatAvailable}
<div>
	{$LANG.wizard_dossier_no_ctrltagcat}<br /><br />
</div>
{else}


<div>
	<label for="tx_newspaper_mod6[ctrltagcat]">{$LANG.label_ctrltagcat}</label>
	<select name="tx_newspaper_mod6[ctrltagcat]" onchange="NpManageDossier.changeCtrlTagCat(this.value); return false;">
	{foreach from=$CTRLTAGCATS item=ctrltagcat}
		<option value="{$ctrltagcat.uid}"{if $ctrltagcat.uid == $DATA.ctrltagcat} selected="selected"{/if}>{$ctrltagcat.title}</option>
	{/foreach}
	</select>
</div>

<div>
	<label for="tx_newspaper_mod6[tag]">{$LANG.label_tag}</label>
	<select name="tx_newspaper_mod6[tag]" id="tx_newspaper_mod6[tag]" onchange="NpManageDossier.changeTag(this.value); return false;">
		<option value="0"></option>
	{foreach from=$TAGS item=tag}
		<option value="{$tag->getUid()}"{if $tag->getUid() == $DATA.tag} selected="selected"{/if}>{$tag->getAttribute('tag')}</option>
	{/foreach}
	</select>
	<span id="dossier_title_label"></span><span id="dossier_title"></span><span id="dossier_title_edit"></span>
	<span id="dossier_section_label"></span><span id="dossier_section"></span><span id="dossier_section_dropdown">
	<select name="sections" id="sections">
	{foreach from=$SECTIONS item=section}
		<option value="{$section->getUid()}">{$section->getAttribute('section_name')}</option>
	{/foreach}
	</select>
		<a href="#" onclick="NpManageDossier.storeDossierSection(); return false;">{$ICON.save}</a>
		<a href="#" onclick="NpManageDossier.cancelDossierSectionEdit(); return false;">{$ICON.x}</a> <span style="color:red;">{$LANG.message_performance_warning}</span>
	</span><span id="dossier_section_edit"></span>
</div>

<div id="tz"></div>

<div id="article_batch" style="display:none;">
	<div id="batch_trigger" onclick="toggleBatchForm(); return false;">{$LANG.label_wizard_dossier_article_tag}</div>
	<div id="article_batch_form" style="display:none;">
		<div style="float:left;"><select id="tx_newspaper_mod6[articles]" multiple="multiple" size="12"> </select></div>
		<div style="float:left;">
			<a href="#" onclick="setFormValueOpenBrowser_A(); return false;">{$ICON.articlebrowser}</a><br />
			<a href="#" onclick="removeOptions(); return false;">{$ICON.x}</a>
		</div>
		<span id="processSpinner"></span>
		<div id="button">
			<input onclick="batchAttachTag()" type="button" value="{$LANG.label_attach_tag_button}" /></div>
		</div>
		<div id="tag_batch_msg"></div>
	</div>
</div>

<div id="article_list_trigger" onclick="NpManageDossier.toggleArticleList(); return false;">{$LANG.label_show_article_list}</div>
<div id="article_list"></div>

{/if}
<!-- end mod6/res/mod6_dossier_manage.tmpl -->
