{*
	$TITLE
	$AJAX_CALL
	$DATA

	$EDIT_ICON
	$ADD_ICON
	$DELETE_ICON
*}

{if $AJAX_CALL}
<script language="javascript" src="../typo3conf/ext/newspaper/res/be/pagetype_pagezonetype_4section.js"> </script>
<div id="pagetype_pagezone">
{/if}
{if $TITLE}{$TITLE}<br />{/if}
{section name=i loop=$DATA}
{if $DATA[i].ACTIVE == 1}
	<a href="{$DATA[i].AJAX_URL}">{$EDIT_ICON}</a> {$DATA[i].type_name} <a href="{$DATA[i].AJAX_DELETE_URL}">{$DELETE_ICON}</a><br />
{else}
	<a href="{$DATA[i].AJAX_URL}">{$ADD_ICON}</a> {$DATA[i].type_name}<br />
{/if}
{/section}
{if $AJAX_CALL}
</div>
{/if}