
<table>
	{foreach from=$articles item=$article}
		<tr>
			<td>
				<strong>{$article.article->getAttribute('title')}</strong>
				(#{$article.article->getUid()})
			</td>
			<td>
				{$article.offset}
			</td>
		</tr>
	{/foreach}
</table>