<div id="workflow_comment_input">
	<textarea id="workflow_comment" name="workflow_comment" style="width:400px; height: 200px;"></textarea>
</div>
<div id="workflow_comment_history" style="display: none;">
{* browse sequence for comments: action, be_user, date, comment *}
</div>