<div id="workflow_comment_input"> {* 34px height: so ff can render vertical scrollbars, see #753 *}
	<textarea id="workflow_comment" name="workflow_comment" style="width:400px; height:34px;"></textarea>
</div>