{* debug *}
<div id="comments-{$tableUid}" class="comments">

    <table style="width:456px">

        {foreach item=comment from=$comments}
            <tr>
                <td style="padding:2px; vertical-align:top;">{$comment.username} </td>
                <td style="padding:2px; vertical-align:top; width:100px;">{$comment.created} </td>
                {* <td style="padding:2px; vertical-align:top;">{$comment.operation}</td> *}
                {if $comment.operation == 4}
                	{* user comment *}
                	<td class="style="padding:2px; vertical-align:top; width:266px;"><strong><span style="color:red;">{$comment.comment|nl2br}</span></strong> </td>
                {elseif $comment.operation == 6}
                	{* error msg *}
                	<td class="style="padding:2px; vertical-align:top; width:266px;"><span style="color:red;">{$comment.comment|nl2br}</span> </td>
                {else}
                	{* no special formatting *}
                	<td style="padding:2px; vertical-align:top; width:266px;">{$comment.comment} </td> {* newspaper system comment *}
                {/if}
                {if $comment.details}
                    </tr><tr><td colspan="5">{$comment.details}</td>
                {/if}
           </tr>
        {/foreach}
    </table>

{if $showFoldLinks}
   	{if !$show_all_comments}
		<div class="np_wf_link"><a href="#" class="more" onclick="getComments({$tableUid}, 1); return false;">{$LABEL.more}</a></div>
	{else}
		<div class="np_wf_link"><a href="#" class="less" onclick="getComments({$tableUid}, 0); return false;">{$LABEL.less}</a></div>
	{/if}
{/if}

</div>