{namespace np=Tx_Newspaper_ViewHelpers}

<p style="text-align:right">
    <f:be.buttons.icon uri="{f:uri.action(action:'new')}" icon="new_el"
                       title="<f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.new' />" />
    <f:be.buttons.icon uri="{f:uri.action(action:'edit')}" icon="edit2"
                       title="<f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.edit' />" />
</p>

<f:flashMessages renderMode="div" />

<h1><f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.delete' /></h1>

<f:form controller="SectionModule" action="delete" enctype="multipart/form-data">

    <table>

        <f:if condition="{affected_pages}">

            <f:then>
                Affected Pages:
                <f:for each="{affected_pages}" as="page">
                    <p><np:pagetype object="{page}" /></p>
                </f:for>

                Affected Articles:
                <f:for each="{affected_articles}" as="article">
                    <p><np:attribute object="{article}" attribute="title" /></p>
                </f:for>
            </f:then>

            <f:else>
                <tr>
                    <td>
                        <f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.section_to_edit' />
                    </td>
                    <td>
                        <f:form.select name="section" options="{sections}" optionValueField="uid" optionLabelField="sectionName" value="{module_request.section}" />
                    </td>
                </tr>
            </f:else>

        </f:if>

        <tr>
            <td colspan="2">
                <f:form.submit name="submit" value="Submit" />
            </td>
        </tr>

    </table>

</f:form>