{namespace np=Tx_Newspaper_ViewHelpers}

<p style="text-align:right">
    <f:be.buttons.icon uri="{f:uri.action(action:'new')}" icon="new_el"
                       title="<f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.new' />" />
    <f:be.buttons.icon uri="{f:uri.action(action:'edit')}" icon="edit2"
                       title="<f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.edit' />" />
</p>

<f:flashMessages renderMode="div" />

<h1><f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.delete' /></h1>

<f:for each="{sections}" as="section" key="number">
    <p>
        {number}: <np:attribute object="{section}" attribute="section_name" />
    </p>
</f:for>