{namespace np=Tx_Newspaper_ViewHelpers}

<p style="text-align:right">
    <f:be.buttons.icon uri="{f:uri.action(action:'new')}" icon="new_el"
                       title="<f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.new' />" />
    <f:be.buttons.icon uri="{f:uri.action(action:'edit')}" icon="edit2"
                       title="<f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.edit' />" />
</p>

<f:flashMessages renderMode="div" />

<h1><f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.delete' /></h1>

<f:form controller="SectionModule" action="delete" enctype="multipart/form-data">

    <table>

        <f:if condition="{deleted} == 1">

            <f:then>
                <f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.section_deleted' />
            </f:then>

            <f:else>

                <f:if condition="{affected_pages}">

                    <f:then>
                        <h3><f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.delete_affected_pages' /></h3>
                        <f:for each="{affected_pages}" as="page">
                            <p><np:pagetype object="{page}" /></p>
                        </f:for>

                        <h3><f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.delete_affected_articles' /></h3>
                        <f:for each="{affected_articles}" as="article">
                            <p>
                                <f:format.number decimals="0"><np:attribute object="{article}" attribute="uid" /></f:format.number>:
                                <np:attribute object="{article}" attribute="kicker" /> <np:attribute object="{article}" attribute="title" />
                            </p>
                        </f:for>

                        <f:translate arguments='{0: affected_section.sectionname}'
                                     key="LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.delete_areyousure" />

                        <f:form.hidden name="section" value="{module_request.section}" />
                        <f:form.hidden name="confirm" value="1" />

                    </f:then>

                    <f:else>
                        <tr>
                            <td>
                                <f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.section_to_delete' />
                            </td>
                            <td>
                                <f:form.select name="section" options="{sections}" optionValueField="uid" optionLabelField="formattedRootline" value="{module_request.section}" />
                            </td>
                        </tr>
                    </f:else>

                </f:if>

                <tr>
                    <td colspan="2">
                        <f:form.submit name="submit" value="Submit" />
                    </td>
                </tr>

            </f:else>

        </f:if>

    </table>

</f:form>
