{namespace np=Tx_Newspaper_ViewHelpers}

<p style="text-align:right">
    <f:be.buttons.icon uri="{f:uri.action(action:'new')}" icon="new_el"
                       title="<f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.new' />" />
    <f:be.buttons.icon uri="{f:uri.action(action:'delete')}" icon="deletedok"
                       title="<f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.delete' />" />
</p>

<f:flashMessages renderMode="div" />

<h1><f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.edit' /></h1>

<f:form controller="SectionModule" action="edit" enctype="multipart/form-data">

    <table>

        <f:if condition="{0: old_section_name} != {0: ''}">

            <f:then>
                <tr>
                    <td colspan="2">
                        Section "{old_section_name}" renamed to "{new_section_name}".
                    </td>
                </tr>
            </f:then>

            <f:else>
                <f:if condition="{module_request.section}" >

                    <f:then>
                        <tr>
                            <td>
                                <f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.new_section_name' />
                            </td>
                            <td>
                                <f:form.textfield name="section_name" value="{module_request.section_name}" />
                            </td>
                        </tr>

                        <f:form.hidden name="section" value="{module_request.section}" />

                    </f:then>

                    <f:else>
                        <tr>
                            <td>
                                <f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.section_to_edit' />
                            </td>
                            <td>
                                <f:form.select name="section" options="{sections}" optionValueField="uid" optionLabelField="sectionName" value="{module_request.section}" />
                            </td>
                        </tr>
                    </f:else>

                </f:if>

                <tr>
                    <td colspan="2">
                        <f:form.submit name="submit" value="Submit" />
                    </td>
                </tr>

            </f:else>

        </f:if>

    </table>

</f:form>
