{namespace np=Tx_Newspaper_ViewHelpers}

<p style="text-align:right">
    <f:be.buttons.icon uri="{f:uri.action(action:'edit')}" icon="edit2" 
                       title="<f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.edit' />" />
    <f:be.buttons.icon uri="{f:uri.action(action:'delete')}" icon="deletedok" 
                       title="<f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.delete' />" />
</p>

<f:flashMessages renderMode="div" />

<h1><f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.new' /></h1>

<f:form controller="SectionModule" action="new" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <f:if condition="{invalid_section_name}">
                    <f:then><strong></f:then>
                </f:if>
                <f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.section_name' />
                <f:if condition="{invalid_section_name}">
                    <f:then></strong></f:then>
                </f:if>
            </td>
            <td>
                <f:form.textfield name="section_name" value="{module_request.section_name}" />
            </td>
        </tr>

        <tr>
            <td>
                <f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.parent_section' />
            </td>
            <td>
                <f:form.select name="parent_section" options="{sections}" optionValueField="uid" optionLabelField="formattedRootline" value="{module_request.parent_section}" />
            </td>
        </tr>
<!--
        <tr>
            <td>
                <f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.show_in_list' />
            </td>
            <td>
                <f:form.checkbox name="show_in_list" value="yes" checked="{module_request.show_in_list}" />
            </td>
        </tr>
-->
        <tr>
            <td>
                <f:if condition="{invalid_articlelist_type}">
                    <f:then><strong></f:then>
                </f:if>
                <f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.articlelist_type.label' />
                <f:if condition="{invalid_articlelist_type}">
                    <f:then></strong></f:then>
                </f:if>
            </td>
            <td>
                <f:form.select name="articlelist_type"
                               options="{none: '<f:translate key=\'LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.articlelist_type.select\' />',
                                         tx_newspaper_ArticleList_Semiautomatic: '<f:translate key=\'LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.articlelist_type.auto\' />',
                                         tx_newspaper_ArticleList_Manual: '<f:translate key=\'LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.articlelist_type.manual\' />'}"
                               value="{module_request.articlelist_type}" />
            </td>
        </tr>

        <tr>
            <td>
                <f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.default_articletype' />
            </td>
            <td>
                <f:form.select name="default_articletype" options="{article_types}" optionValueField="uid" optionLabelField="typeName" value="{module_request.default_articletype}" />
            </td>
        </tr>
<!--
        <tr>
            <td>
                <f:translate key='LLL:EXT:newspaper/Resources/Private/Language/locallang.xml:module.section.template_set' />
            </td>
            <td>
                <f:form.select name="template_set" options="{template_sets}" value="{module_request.template_set}" />
            </td>
        </tr>
-->
        <tr>
            <td colspan="2">
                <f:form.submit name="submit" value="Submit" />
            </td>
        </tr>
    </table>

</f:form>
