{* debug *}

{literal}
<script type="text/javascript">
	function checkConfirmation(msg, url) {
		if (confirm(msg)) {
			self.location.href = url;
		}
	}
</script>
{/literal}

<h3> {$LL.label_admin_wizard_inheritance} </h3>

{if !$SUCCESS}
	<div> {$LL.label_admin_wizard_please_chose} </div>
	<div><a href="#" onclick="checkConfirmation('{$LL.label_admin_wizard_inheritance_activate|escape:html}', 'index.php?tx_newspaper_mod5[controller]=w_inheritance&tx_newspaper_mod5[action]=1');">{$LL.label_admin_wizard_inheritance_activate}</a> </div>
{else}
  <div>{$LL.message_admin_wizard_inheritance_activate_success} ACHTUNG: NOCH NICHT FERTIG, siehe https://taz.schroederbros.eu/view.php?id=537</div>
{/if}