<!-- begin mod6/mod6.tmpl -->

{include file="../mod3/mod3.css"}

{* Variables:
	$tags		list of control tags, form:
					array('uid' => uid, 'name' => tag text)
	$tag_zones	list of tag zones in the system, form:
					array('uid' => uid, 'name' => tag zone name)
	$data		content of the control tag to extra mapping table
*}

<form action="">
	<table>
		<tr>
			{foreach from=$data[0] key=key item=dummy}
				<td><strong>{$key}</strong></td>
			{/foreach}
		</tr>

		{* row to enter a new tag/tag zone/extra combination *}
		<tr class="bg1">
			<td>
				<select name="tag[0]">
					{foreach from=$tags item=tag}
						<option value="{$tag.uid}">
							{$tag.tag}
						</option>
					{/foreach}
				</select>
			</td>
			<td><input name="tag_type[0]"></td>
			<td>
				<select name="tag_zone[0]">
					{foreach from=$tag_zones item=tag_zone}
						<option value="{$tag_zone.uid}">
							{$tag_zone.name}
						</option>
					{/foreach}
				</select>
			</td>
			<td>
				<input name="extra_table[0]">
			</td>
			<td><input name="extra_uid[0]"></td>
		</tr>

		{* already present tag/tag zone/extra combinations *}
		{if $data}
			{foreach from=$data item=row key=i}
				{if ($i % 2 == 0)}
					<tr class="bg2">
				{else}
					<tr class="bg1">
				{/if}
					
					<td>
						<select name="tag[{$i}]">
							{foreach from=$tags item=tag}
								<option value="{$tag.uid}">
									{$tag.tag}
								</option>
							{/foreach}
						</select>
					</td>
					<td>{$row.tag_type}</td>
					<td>
						<selectname="tag_zone[{$i}]">
							{foreach from=$tag_zones item=tag_zone}
								<option value="{$tag_zone.uid}"
									{if $tag_zone.name == $row.tag_zone}
										selected="selected"
									{/if}>
										{$tag_zone.name}
								</option>
							{/foreach}
						</select>
					</td>
					<td>
						<input name="extra_table[{$i}]" value="{$row.extra_table}">
					</td>
					<td>{$row.extra_uid}</td>
				<tr>
			{/foreach}
		{/if}


	<table>
<form>
<!-- end mod6/mod6.tmpl -->