{*debug*}
{* template for single section article list *}

{*
    $T3PATH
    $lang
    $rendered_al
    $input
*}
<script src="{$T3PATH}typo3conf/ext/newspaper/res/be/newspaper.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
   	var langSavedidnotwork = "{$lang.savedidnotwork}";
    var langReallycancel = "{$lang.reallycancel}";
   	var langActiondidnotwork = "{$lang.actiondidnotwork}";
    var langReallyrefresh = "{$lang.reallyrefresh}";
</script>
<link rel="stylesheet" type="text/css" href="{$T3PATH}typo3conf/ext/newspaper/mod7/res/mod7.css" />
<script src="{$T3PATH}typo3conf/ext/newspaper/mod7/res/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="{$T3PATH}typo3conf/ext/newspaper/mod7/res/jquery.selectboxes.js" type="text/javascript"></script>
<script src="{$T3PATH}typo3conf/ext/newspaper/mod7/res/mod7.js" type="text/javascript"></script>

<div class="tx_newspaper_mod7">

    <form action="" method="post" id="placementform">

        {$rendered_al}

    </form>
    <a href="{$smarty.server.PHP_SELF}?{$smarty.server.QUERY_STRING}&tx_newspaper_mod9[sectionid]={$input.sectionid}&tx_newspaper_mod9[fullrecord]=1"
            >{$lang.label_articlelist_fullrecord}</a>
</div>
