
{literal}
   <script type="text/javascript">
       function toggle_al_folded() {
           if (document.getElementById('al_folded').style.display == 'none') {
               document.getElementById('al_folded').style.display = 'block';
           } else {
               document.getElementById('al_folded').style.display = 'none';
           }
       }
   </script>
{/literal}

<div><a href="#" onclick="toggle_al_folded(); return false;">{$lang.toggle_semiauto_al_folded}</a></div>

<div id="al_folded" style="display:none">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            {foreach from=$tree item="level" name="levelloop"}
   				<td valign="top" class="level">
     			    {foreach from=$level item="sections" name="sectionsloop"}
           	            <div class="level level{$smarty.foreach.levelloop.iteration}" id="al_folded_{foreach from=$sections item="section" name="sectionloop"}{if $smarty.foreach.sectionloop.last}{$section.section->getUid()}{/if}{/foreach}">
       						<table border="0" cellspacing="0" cellpadding="0" class="articles">
                                <tr>
                                    <th scope="col" colspan="3">
                                        {foreach from=$sections item="section" name="sectionloop"}
                                            {$section.section->getAttribute('section_name')} {if $smarty.foreach.sectionloop.iteration < count($sections)}&gt;{/if}
                                        {/foreach}
                                    </th>
                                </tr>

           						{if $section.listtype|lower == "tx_newspaper_articlelist_semiautomatic"}
           							{* type semiautomatic are rendered here only *}

               			            {if $isde || $smarty.foreach.levelloop.index < $allowed_placement_level && isset($section.articlelist)}
			                            {* duty editor, article list available, class for article list is known *}
                                        <tr>
                                            <td>
                                                {section name=i start=0 step=1 loop=$AL_HEIGHT}
                                                    <div class="counter">{$smarty.section.i.iteration}</div>
                                                {/section}
                                            </td>
                                            <td>
                                                <select name="tx_newspaper_mod7[placer_{foreach from=$sections item="section" name="sectionloop"}{$section.section->getAttribute('uid')}{if $smarty.foreach.sectionloop.iteration < count($sections)}_{/if}{/foreach}][]" id="placer_{foreach from=$sections item="section" name="sectionloop"}{$section.section->getAttribute('uid')}{if $smarty.foreach.sectionloop.iteration < count($sections)}_{/if}{/foreach}" size="{$AL_HEIGHT}" class="multiple-select ressort-select placement-select {if  $section.listtype|lower == "tx_newspaper_articlelist_manual"} manual-list {/if}">
                                                    {foreach from=$section.articlelist item="list" name="al_loop" key="key"}
                                                        <option value="{$key}" label="{$list}" title="{$list}">{$list}</option>
                                                    {/foreach}
                                                </select>
                                            </td>
                                            <td valign="top" width="16">
                                                <a href="#" class="movetotop" rel="placer_{foreach from=$sections item="section" name="sectionloop"}{$section.section->getAttribute('uid')}{if $smarty.foreach.sectionloop.iteration < count($sections)}_{/if}{/foreach}">
                                                    {$ICON.group_totop}
                                                </a>
                                                <br />
                                                <a href="#" class="moveup" rel="placer_{foreach from=$sections item="section" name="sectionloop"}{$section.section->getAttribute('uid')}{if $smarty.foreach.sectionloop.iteration < count($sections)}_{/if}{/foreach}">
                                                    {$ICON.up}
                                                </a>
                                                <br />
                                                <a href="#" class="movedown" rel="placer_{foreach from=$sections item="section" name="sectionloop"}{$section.section->getAttribute('uid')}{if $smarty.foreach.sectionloop.iteration < count($sections)}_{/if}{/foreach}">
                                                    {$ICON.down}
                                                </a>
                                                <a href="#" class="movetobottom" rel="placer_{foreach from=$sections item="section" name="sectionloop"}{$section.section->getAttribute('uid')}{if $smarty.foreach.sectionloop.iteration < count($sections)}_{/if}{/foreach}">
                                                    {$ICON.group_tobottom}
                                                </a>
                                                <br />
                                            </td>
                                        </tr>
           							{else}
           								<tr>
                                            <td>
                                                {if !$isde && $smarty.foreach.levelloop.index < $allowed_placement_level}<i class="noaccess">{$lang.message_no_dutyeditor}</i><br />{/if}
                                                {if $smarty.foreach.levelloop.index >= $allowed_placement_level}<i class="noaccess">{$lang.message_no_access_to_level}</i>{/if}
                                                {if !isset($section.articlelist)}<i class="noaccess">{$lang.message_no_articlelist}</i><br />{/if}
                                                {if ($section.listtype|lower != "tx_newspaper_articlelist_semiautomatic") && ($section.listtype|lower != "tx_newspaper_articlelist_manual")}
                                                    <i class="noaccess">{$lang.message_unknown_articlelisttype}</i><br />
                                                {/if}
                                            </td>
                                        </tr>
           							{/if}

	                            {else}  {*if $section.listtype|lower == "tx_newspaper_articlelist_semiautomatic"*}
		                            {* hide complete div *}
                                    <style>
                                        #al_folded_{$section.section->getUid()} {ldelim}
                                        display:none;
                                        {rdelim}
                                    </style>
           						{/if}

	                        </table>

	                        {if $isde || $smarty.foreach.levelloop.index < $allowed_placement_level && isset($section.articlelist)}
		                        <div align="right" {if !$singlemode}style="display:none;"{/if}>
                                    <input type="button" name="tx_newspaper_mod7[refresh]" title="placer_{foreach from=$sections item="section" name="sectionloop"}{$section.section->getAttribute('uid')}{if $smarty.foreach.sectionloop.iteration < count($sections)}_{/if}{/foreach}" class="refresh" value="{$lang.refresh}" />
                                    <input type="button" name="tx_newspaper_mod7[save]" title="placer_{foreach from=$sections item="section" name="sectionloop"}{$section.section->getAttribute('uid')}{if $smarty.foreach.sectionloop.iteration < count($sections)}_{/if}{/foreach}" class="save" value="{$lang.save}" />
                                </div>
                            {/if}

       					</div>
                    {/foreach}
                </td>
            {/foreach}
        </tr>
    </table>
</div>
