
{literal}
   <script type="text/javascript">
       function toggle_al_folded() {
           if (document.getElementById('al_folded').style.display == 'none') {
               document.getElementById('al_folded').style.display = 'block';
           } else {
               document.getElementById('al_folded').style.display = 'none';
           }
       }
   </script>
{/literal}

<div><a href="#" onclick="toggle_al_folded(); return false;">{$lang.toggle_semiauto_al_folded}</a></div>

<div id="al_folded" style="display:none">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            {foreach from=$tree item="level" name="levelloop"}
                <td valign="top" class="level">
                    {foreach from=$level item="sections" name="sectionsloop"}
                        <div class="level level{$smarty.foreach.levelloop.iteration}"
                             id="al_folded_{foreach from=$sections item="section" name="sectionloop"}{if $smarty.foreach.sectionloop.last}{$section.section->getUid()}{/if}{/foreach}">

                            {if $section.listtype|lower == "tx_newspaper_articlelist_semiautomatic"}
                                {* type semiautomatic are rendered here only *}

                                {$section.rendered_section}

                            {/if}

                            {if $isde || $smarty.foreach.levelloop.index < $allowed_placement_level && isset($section.articlelist)}
                                <div align="right" {if !$singlemode}style="display:none;"{/if}>
                                    <input type="button" name="tx_newspaper_mod7[refresh]" title="placer_{foreach from=$sections item="section" name="sectionloop"}{$section.section->getAttribute('uid')}{if $smarty.foreach.sectionloop.iteration < count($sections)}_{/if}{/foreach}" class="refresh" value="{$lang.refresh}" />
                                    <input type="button" name="tx_newspaper_mod7[save]" title="placer_{foreach from=$sections item="section" name="sectionloop"}{$section.section->getAttribute('uid')}{if $smarty.foreach.sectionloop.iteration < count($sections)}_{/if}{/foreach}" class="save" value="{$lang.save}" />
                                </div>
                            {/if}

                        </div>
                    {/foreach}
                </td>
            {/foreach}
        </tr>
    </table>
</div>
