.tx_newspaper_mod7 table th {
	font-size:10px;
	text-align:left;
}
.tx_newspaper_mod7 .multiple-select {
	width:100%;
}
.tx_newspaper_mod7 .ressort-select {
	width:400px;
}
.tx_newspaper_mod7 table td, .tx_newspaper_mod7 table th {
	padding:2px;
	text-align:left;
}
.tx_newspaper_mod7 table.sections {
	width:650px;
}
.tx_newspaper_mod7 table.articles {
	width:300px;
}
.tx_newspaper_mod7 td.level {
	width:360px;
}
.tx_newspaper_mod7 div.level {
	float:left;
	display:inline;
}
.tx_newspaper_mod7 h2 {
	height:13px;
	padding-top:3px;
}
.tx_newspaper_mod7 select#sections_available {
	margin-top:5px;
}
.tx_newspaper_mod7 i.noaccess {
	height:88px;
	display:block;
}
.tx_newspaper_mod7 option.current {
	color:green;
}
.tx_newspaper_mod7 input.unsaved {
	color:red;
}
.tx_newspaper_mod7 table.al_list {
	border:1px solid gray;
}






#articleinfo {
	padding:2px;
	margin:0 0 20px;
	border:0;
	min-width:840px;
}

table#articleinfo {
	border: 1px solid gray;
}

#section_selects {
	padding:2px;
	margin:0 0 20px;
	border:0;
}

table#section_selects {
	border: 1px solid gray;
}

#sections_available {
	height:84px;
}
#sections_selected {
	height:108px;
}

#al_folded {
	border:1px solid gray;
}

#workflow_comment {
	width:400px;
	height:41px;
}

.tx_newspaper_mod7 .input_image {
	border:0;
}

.tx_newspaper_mod7 #bottons_al {
	border: 1px solid gray;
	margin-top:20px;
	padding:10px;
	width:650px;
}

.tx_newspaper_mod7 #wf {
	border:1px solid gray;
	margin-top:20px;
	padding:20px;
	width:800px;
}
.tx_newspaper_mod7 #wf_title {
	margin-bottom:3px;
}

.tx_newspaper_mod7 #buttons {
	margin-top:20px;
}
.tx_newspaper_mod7 #buttons table {
	border:1px solid gray;
	width:840px;
}
.tx_newspaper_mod7 #buttons td {
	padding:10px;
}

.tx_newspaper_mod7 .greenframe {
	border:3px solid green;
}







/* copied from tes/be/templates/workflow_comment.tmpl */
.np_wf_link a:hover {
	color:#C61940;
}
.np_wf_link a.more {
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
    background-image: url(../typo3conf/ext/newspaper/res/be/img/arrow_down.gif);
    background-repeat: no-repeat;
    background-position: -2px 3px;
    padding: 2px 8px  8px 13px;
}
.np_wf_link a.more:hover {
	background-image: url(../typo3conf/ext/newspaper/res/be/img/arrow_down_over.gif);
}
.np_wf_link a.less {
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
    background-image: url(../typo3conf/ext/newspaper/res/be/img/arrow_up.gif);
    background-repeat: no-repeat;
    background-position: -2px 3px;
    padding: 2px 8px  8px 13px;
}
.np_wf_link a.less:hover {
	background-image: url(../typo3conf/ext/newspaper/res/be/img/arrow_up_over.gif);
}



.tx_newspaper_mod7 .counter {
	text-align:right;
}
