{* debug *} 
{* list and search form for non-section article lists; module article lists *}

<link rel="stylesheet" type="text/css" href="{$T3PATH}typo3conf/ext/newspaper/mod7/res/mod7.css" />

<div class="tx_newspaper_mod7">

<h2>{$lang.title_articlelist_list}</h2>
<hr />

{if !$AL}
<br /><strong>{$lang.title_articlelist_list_empty}</strong>
{else}
	<table class="al_list">
		<tr>		
			<td><strong>{$lang.label_articlelist_list_title}</strong></td>
			<td><strong>{$lang.label_articlelist_list_type}</strong></td>
			<td><strong>{$lang.label_articlelist_list_commands}</strong></td>
{if $DEBUG}
			<td><strong>uids</strong></td>
{/if}			
		</tr>
	{foreach from=$AL item="current_al" name="loop"}
		<tr>		
			<td> {$current_al->getAttribute('notes')} </td>
			<td> {$current_al->getTitle()} </td>
			<td style="text-align:center;"> <a href="index.php?tx_newspaper_mod7[controller]=singleplacement&tx_newspaper_mod7[articlelistid]={$current_al->getAbstractUid()}">{$ICON.edit}</a> </td>
{if $DEBUG}
			<td> <span title="Abstract uid"> [{$current_al->getAbstractUid()}</span>|<span title="Concrete uid">{$current_al->getUid()}] </span></td>
{/if}			
		</tr>
	{/foreach}
	</table>
{/if}

</div>