{* debug *}

{include file="mod5.js.tmpl"}  {* js for creating/importing articles *}
<script language="javascript" type="text/javascript" src="../../../../typo3/contrib/prototype/prototype.js"> </script>
<script language="javascript" type="text/javascript" src="../res/be/newspaper.js"> </script>
{literal}

<script type="text/javascript">
	function gotoProductionList() {
		self.location.href = "../mod2/index.php?tx_newspaper_mod2[type]=filter&" + unescape(NpTools.extractQuerystringDirect("tx_newspaper_mod5[mod2Filter]", false));
		return false;
	}
</script>

<style type="text/css">


select, textarea, input, td, body, .defstyle, p, div {
color:black;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
margin:0;
}



/* additional.css Thorsten */


/* additional CSS / Moderationsliste */

body {
	padding-left: 20px;
	background-color: white;
	}


#tx_newspaper_mod3{
	width: 930px;
	padding :10px;
	/*border: 3px solid #C61940;*/
	}


#tx_newspaper_mod3 body, p, a, td {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 11px;
	margin: 0;
	color: black;
	}

#tx_newspaper_mod3 a:hover {
	color:#C61940;
	}

#tx_newspaper_mod3 h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	}

#tx_newspaper_mod3 .headline {
	text-transform: uppercase;
	border-bottom: 1px solid #AAA;
	margin-bottom: 20px;
	padding-bottom: 5px;
	width:1210px;
	font-size: 18px;
	font-weight: normal;
	color: #777;
	}

/* filterbox */

#filter {
	position: absolute;
	padding: 10px;
	margin: 30px 0 0 650px;
	width: 250px;
	background-color: #EFEDE4;
	border: 1px solid #AAA;
	clear: left;
	}

#filter br, br {
	clear: left;
	}

#filter input,
#filter select,
#filter label,
#filter textarea
{
	display: block;
	float: left;
	width: 150px;
	margin-bottom: 5px;
	padding: 2px 0;
	}

#filter label {
	width: 100px;
	}

#filter label.checkbox {
	width: 200px;
	}

#filter .cb {
	width: 15px;
	margin-top: 3px;
	}

#filter .submit {
	padding:0;
	margin:15px 0 0 100px;
	width:150px;
	}




/*  hits */

#browsePages {
	width: 630px;
	margin: 10px 30px 17px 0;
	text-align: center;
	height:13px;
	}

#browsePages a {
	text-decoration: none;
	display: block;
	}

#browsePages .left {
	float: left;

	}

#browsePages .right {
	float: right;
	}

#browsePages a.left {
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
    background-image: url(arrow_left.gif);
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding: 2px 10px  8px 15px;
	}

#browsePages a:hover.left {
	background-image: url(arrow_left_over.gif);
   	}

#browsePages a.right {
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
    background-image: url(arrow_right.gif);
    background-repeat: no-repeat;
    background-position: right 2px;
    padding: 2px 15px  8px 0;
	}

#browsePages a:hover.right {
	background-image: url(arrow_right_over.gif);
   	}

#browsePages span {
	color: #999;
	}

/* liste */

#modlist {
	clear: left;
	}

#modlist .number {
	color:#AAA;
	text-align: center;
	font: bold normal small-caps 15px Arial,sans-serif;
	padding-top: 21px;
	}

#modlist h1, #browsePages h1 {
	color:#C61940;
	margin: 5px 0 0 0;
	font: bold normal 15px/15px Arial,sans-serif;
	}


#modlist h2 {
	color:grey;
	font: 12px/12px bold normal Arial,sans-serif;
	background: none ;
	text-align:left;
	margin: 0;
	padding:0;
	}


#modlist a.more {
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
    background-image: url(arrow_down.gif);
    background-repeat: no-repeat;
    background-position: -2px 3px;
    padding: 2px 8px  8px 13px;
	}


#modlist a.more:hover {
	background-image: url(arrow_down_over.gif);
   	}

#tx_newspaper_mod3 .comments p {
	color:grey;
	font-size: 9px;
	margin-bottom: 5px;
	}

#modlist a.kicker {
	text-align: left;
	}

#tx_newspaper_mod3 table {
	table-layout: auto;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	width: 630px;
	}

#tx_newspaper_mod3 table.full {
	width:1210px;
	}

#tx_newspaper_mod3 table a {
	text-decoration: none;
	font: normal normal 12px/12px Arial,sans-serif;
	color: #666;
	float: left;
	margin: 0 25px 0 8px;
	}

#tx_newspaper_mod3 tr {
	border-right: 1px solid white;
		}

#tx_newspaper_mod3 td {
	vertical-align: top;
	border: 0;
	padding: 5px;

	/*border-right: 1px solid white;*/
	}


#tx_newspaper_mod3 tr:hover.noborder,
#tx_newspaper_mod3 .wrapper.on {
	background-color: #EFEDE4;
	}

.bg1 {

	border-bottom: 2px solid #DDD;
	}

.noborder {border: 0;}

.bg2 {
	background-color: #d0d0d0;
		}


.kicker {
	color: #999;
	}

.comment_box {
	display: none;
	background-color: white;
	}

.floatleft {
	float: left;
	margin-right:5px;
	}
#tx_newspaper_mod3 .hide {
	position: absolute;
	display: none;
	z-index: 50;
	height:50px;

	margin: -28px 0 0 55px;
	}

#tx_newspaper_mod3 .hide div{
	border: 1px solid grey;
	padding: 5px;
	background-color: white;
	text-align: center;
	display: inline-block;
	}

#tx_newspaper_mod3 .hide.seitengest {
	margin: -25px 0 0 35px !important;

	}

#tx_newspaper_mod3 tr:hover .hide{
	position: absolute;
	display: block;
	}

#tx_newspaper_mod3 .wrapper {
	background-color: #FFF;
	display: inline-block;
	margin-top: 0px;
	width: 630px;
	padding: 0;
	border-bottom:2px solid #DDDDDD;
	}

#tx_newspaper_mod3 .wrapper:hover {
	background-color: #EFEDE4;

	}

#tx_newspaper_mod3 .sg {
	display: block;
	width: 292px;
	float: left;
	margin: 5px 0;
	padding: 5px 10px;
		}

#tx_newspaper_mod3 .sg.right {
	margin-left: 5px;
	background-color:#E2E2E2;

	}

#tx_newspaper_mod3 .sg table{
	margin: -5px -10px !important;
	width: 320px !important;
	}

#tx_newspaper_mod3 .sg img {
	float: left;
	margin-right: 5px;
	}



/* --- artikelimport --- */

#breadcrumbs {
	margin: 20px 0;
	}

#breadcrumbs a, #breadcrumbs p {
	text-decoration: none;
	font: bold normal 15px/15px Arial,sans-serif;
	color: #999;

	float: left;
	}

#breadcrumbs a:hover, #breadcrumbs a.current {
	color:#961D2A;
	}

#artikelimport {
	padding: 10px;
	margin: 20px 0;
	width: 1188px;
	background-color: #EFEDE4;
	border: 1px solid #AAA;
	display: inline-block;
	}

#tx_newspaper_mod3 #artikelimport select {
	display: block;
	width: 280px;
	margin: 5px 20px 10px 0;
	padding: 2px 0;
	height:120px;
}
#tx_newspaper_mod3 #artikelimport #controltag {
	height:99px;
	margin-bottom:0;
}
#ctrltagcatspinner {
	margin-left:10px;
}
#tx_newspaper_mod3 #artikelimport #controltagfilter {
	margin-left:0;
	margin-top:2px;
	width:280px;
}
#tx_newspaper_mod3 #artikelimport #controltagcat {
	width:150px;
	display:inline;
	margin:0;
	padding:0;
	height:14px;
}

#artikelimport label {
	margin: 3px 10px 0 0;
	color: #666;
	font-weight: bold;
	}

#artikelimport div {
	width: 285px;
	margin-left: 10px;
	float: left;
	}

#artikelimport input {
	width: 250px;
	margin-left: 320px;
	}

#article_text {
	width: 460px;
	height: 400px;
	border: 1px solid grey;
	overflow-y: scroll;
	padding: 0 0 0 10px;
	display: none;
	float:left;
	/*padding-right: 172px;*/
	}

#article_text h1 {
	font-family:Arial,Helvetica,sans-serif;
	font-size:25.85px;
	line-height:28px;
	color:#961D2A;
	font-weight: normal;
	}

#article_text h5 {
	font-family:Arial,Helvetica,sans-serif;
	font-size:14.7px;
	line-height:19px;
	}

#article_text p {
	font-family:Arial,Helvetica,sans-serif;
	font-size:14.7px;
	line-height:19px;
	}

#article_text p .autor {
	font-size:10.7px;
	font-weight:bold;
	line-height:8px;
	padding:7px 8px 4px;
	text-transform:uppercase;
	float: right;
	}

#source_browser {
	float: left;
	width: 430px; /* \todo: use tsconfig value here */
	height: 400px;
	margin-right: 16px;
	display: inline;
}
</style>
{/literal}


<div id="tx_newspaper_mod3">

	<strong><a href="#" onclick="gotoProductionList(); return false;">{$LABEL.to_productionlist}</a></strong><br /><br />

	<h1 class="headline">{$LABEL.new_article}</h1>

	{if !$SECTION2 || !$ARTICLETYPE}
{* no section or article type available *}
		<div><br />
		{if !$SECTION2}
			{$MESSAGE.no_section}<br />
		{/if}
		{if !$ARTICLETYPE}
			{$MESSAGE.no_articletype}
		{/if}
	  	</div>
	{else}
{* new article wizard *}


	{* at least one section and one article type available, so wizard be can used *}
	<script type="text/javascript">{literal}
		function executeSubmit(type) {
			if (!document.getElementById('new').checked) {
				// article is to be imported
					if (document.getElementsByName('source_path')[0].selectedIndex == -1) {
					// check if an article to be imported is selected
					alert("{/literal}{$MESSAGE.no_article_chosen}{literal}");
					return false;
				}
			}
			if (document.getElementsByName('tx_newspaper_mod5[section]')[0].selectedIndex == -1) {
				alert("{/literal}{$MESSAGE.no_section_chosen}{literal}");
				return false;
			}

			document.getElementById('tx_newspaper_mod5[controller]').value = type; // set type
			document.forms[0].submit();
		}


// control tag functions

	function changeCtrlTagCat() {
		var uid = $("controltagcat").value;

		if (uid == '') {
			return; // dropdown is empty
		}

		var request = new Ajax.Request(
			"index.php", {
				method: 'get',
				parameters: 'tx_newspaper_mod5[ajaxcontroller]=CtrlTagCat&tx_newspaper_mod5[uid]=' + parseInt(uid),
				onCreate: function() {
					$("ctrltagcatspinner").innerHTML = '<img src="../res/be/css/move-spinner.gif" />'; // clear tag zone box (and display spinner there)
					$("controltag").descendants().each(Element.remove); // clear tag select box
				},
				onSuccess: function(data) {
					if (data) {
						// insert tags into select box
						options = data.responseText.evalJSON();
						for(i = 0; i < options.length; i++) {
							$("controltag").options[$("controltag").options.length] = new Option(NpTools.splitParamAtPipe(options[i], 0), NpTools.splitParamAtPipe(options[i], 1));
						}
						executeCtrlTagFilter();
					}
					$("ctrltagcatspinner").innerHTML = ''; // remove spinner
				}
			}
		);
	}

	// filter tag options in tag select box
	function executeCtrlTagFilter() {
		var filter = $("controltagfilter").value.toLowerCase();
		for(i = 0; i < $("controltag").options.length; i++) {
			var tag = $("controltag").options[i].text.toLowerCase();
			if (tag.indexOf(filter) == -1) {
				// hide tag not matching filter
				$("controltag").options[i].hide();
				$("controltag").options[i].selected = false; // remove selection when option gets hidden
			} else {
				$("controltag").options[i].show();
			}
		}

	}

	</script>
{/literal}

{* chose new typo3 article or import source *}
		<table class="full">
			<tr class="bg2">
				<td>
					<input id="new" {if $DEFAULT_SOURCE == 'new'}checked="checked" {/if}type="radio" name="tx_newspaper_mod5[type]" onclick="clearSourceBrowser()" value="newarticle"> <label for="new">{$LABEL.new_article_typo3}</label>
					{* read registered sources *}
					{foreach from=$IMPORT_SOURCE item=source key=key}
{* @todo: correct typo in   id="soucre_{$key}"   *}
						<input id="soucre_{$key}" {if $DEFAULT_SOURCE == $key}checked="checked"{/if} type="radio" name="tx_newspaper_mod5[type]" onclick="changeSource('{$key}', '')"> <label for="soucre_{$key}">{$source->getTitle()}</label>
					{/foreach}
				</td>
			</tr>
		<table>

{* source browser and article preview *}

		{* breadcrumb *}
<!-- \todo
    	<div id="breadcrumbs">
			<a href="#">Top</a><p>&nbsp;>&nbsp;</p>
			<a href="#" class="current">Datum</a><p>&nbsp;>&nbsp;</p>
			<a href="#">Ressort</a><p>&nbsp;>&nbsp;</p>
			<a href="#">Artikel</a>
		</div>
-->
		<br /><br />

		{* here the source browser is inserted via AJAX *}
		<div id="source_browser"></div>

		{* here the text of the selected article is inserted via AJAX *}
		<div id="article_text"></div>


{* select section and article type *}
		<div id="artikelimport">

			{* base sections *}
			<div>
				<label>{$LABEL.section_base}</label> <br />
				<select id="section1" onchange="changeSectionBox2(this.value)" size="9">
				{foreach key=section_id item=section from=$SECTION1}
                    {if array_key_exists($section->getUid(), $SECTION2)}
                        {* Make sure to show start section only if there's at least one target section available *}
		    	  	    <option value="{$section->getUid()}"> {$section->getAttribute('section_name')}</option>
                    {/if}
				{/foreach}
				</select>
			</div>

			{* all available sections *}
			<div>
				<label>{$LABEL.section_select}</label> <br />
				<select name="tx_newspaper_mod5[section]" id="section2" style="display:inline;" size="9"></select> {* empty selectbox, is displayed when opening the form *}
				{foreach key=main_section_id item=main_section from=$SECTION2}
					<select id="section2_{$main_section_id}" style="display:none;" size="9" onchange="setDefaultArticletype(this.value)">
					{foreach key=sub_section_id item=sub_section from=$main_section}
						<option value="{$sub_section->getUid()}"> {$sub_section->getAttribute('section_name')}</option>
					{/foreach}
					</select>
				{/foreach}
			</div>

			{*article type; default value is set when qa section is selected *}
			<div>
				<label>{$LABEL.articletype}</label> <br />
				<select id="articletype" name="tx_newspaper_mod5[articletype]" size="9">
				{section name=i loop=$ARTICLETYPE}
					<option value="{$ARTICLETYPE[i]->getUid()}"> {$ARTICLETYPE[i]->getAttribute('title')}</option>
				{/section}
		      	</select>
			</div>

			{* control tags *}
            {if ($SHOW_CTRLTAGS)}
			<div>
				<label>{$LABEL.controltag}</label>
				<select id="controltagcat" name="tx_newspaper_mod5[ctrltagcat]" onchange="changeCtrlTagCat(); return false;">
				{foreach from=$CTRLTAGCATS item=ctrltagcat}
					<option value="{$ctrltagcat.uid}"{if $ctrltagcat.uid == $DATA.ctrltagcat} selected="selected"{/if}>{$ctrltagcat.title}</option>
				{/foreach}
				</select><span id="ctrltagcatspinner"></span>
				<br />
{if $CTRLTAGCATS}
		      	<input id="controltagfilter" value="" onkeyup="executeCtrlTagFilter()" />
				<select id="controltag" name="tx_newspaper_mod5[controltag]" size="9">
					{* filled by AJAX function *}
		      	</select><br />
{else}
<br />{$MESSAGE.no_ctrltagtype_available}
{/if}
			</div>
            {/if}

			<br /><br />
			<input type="button" onclick="executeSubmit('new_article_create'); return false;" name="tx_newspaper_mod5[new_article_create]" value="{$LABEL.new_article_button}" class="submit" />
			{if $SHOW_LOREM}
				<br /><br /><input id="lorem" class="submit" type="button" onclick="executeSubmit('new_article_create_dummy'); return false;" name="tx_newspaper_mod5[new_article_create_dummy]" value="Lorem ipsum dummy article" id="tx_newspaper_mod5[new_article_create_dummy]" />
			{/if}
			<input style="display: none; " type="hidden" name="tx_newspaper_mod5[controller]" id="tx_newspaper_mod5[controller]" value="" />
			<input style="display: none; " type="hidden" name="tx_newspaper_mod5[mod2filter]" value="{$INPUT.mod2Filter}" />
			<input style="display: none; " type="hidden" name="tx_newspaper_mod5[calling_module]" value="{$INPUT.calling_module}" />
		</div>



	{/if}
</div>

<script type="text/javascript">

    var defaultArticleTypeForSection = {$JSON.defaultArticleTypeForSection};
    var allowedArticleTypes = {$JSON.allowedArticleTypes};
    var mergedDefaultArticle = null; // No default article merged to allowed article type list initially

	window.onload = function() {ldelim}

{if $DEFAULT_SOURCE && $DEFAULT_SOURCE != 'new'}
	changeSource('{$DEFAULT_SOURCE}', ''); // Select default source initially
{else}
    clearSourceBrowser(); // Hide source browser
{/if}

{if ($SHOW_CTRLTAGS)}
    changeCtrlTagCat(); // load control tag categories
{/if}
    {rdelim}
</script>

{*
<br /><br /><a href="#" onclick="location.reload(); return false;">Reload</a>
*}
