{* debug *}
{literal}
<style type="text/css">
body#typo3-alt-doc-php, body#typo3-db-list-php, body#typo3-mod-web-perm-index-php, body#typo3-mod-web-info-index-php, body#typo3-mod-web-func-index-php, body#typo3-mod-user-ws-index-php, body#typo3-mod-user-ws-workspaceforms-php, body#typo3-mod-php, body#typo3-mod-tools-em-index-php, body#typo3-pagetree, body#typo3-db-new-php, body#typo3-move-el-php, body#typo3-show-rechis-php, body#ext-cms-layout-db-layout-php, body#ext-tstemplate-ts-index-php, body#ext-version-cm1-index-php, body#ext-setup-mod-index-php, body#ext-tsconfig-help-mod1-index-php, body#ext-lowlevel-dbint-index-php, body#ext-lowlevel-config-index-php, body#ext-cms-layout-db-new-content-el-php {
  overflow: auto;
}
table {
  table-layout: auto;
  border: 1px solid gray;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
td {
  vertical-align: top;
   border: 1px solid #e8e8e8;
}
.bg1 {
  background-color: #f0f0f0;
}
.bg2 {
  background-color: #d0d0d0;
}
.kicker {
  color: #c61940;
}
.comment_box {
  display: none;
  background-color: white;
}
.gray {
  color: #909090;
}


.box {
  width: 400px;
  background-color: white;
  margin: 5px;
  padding: 5px;
  margin-top: 0px;
  padding-top: 0px;
}
.box_hl {
  color: #85302E;
  font-weight: bold;
  width: 400px;
  background-color: none;
  margin: 5px;
  padding: 5px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  font-size: 12px;
}
</style>
{/literal}


<div id="wizards" style="display: block">


<div class="box_hl">{$LABEL.wizards}</div>
<div class="box">
	<a href="{$MODULE_PATH}index.php?tx_newspaper_mod5[controller]=new_article_wizard">{$WIZARD_ICON} {$LABEL.new_article}</a><br />
</div>
<br />

{if $IS_ADMIN}
<div class="box_hl" title="{$LABEL.webmaster_wizards_tsconfig}">{$LABEL.webmaster_wizards}</div>
<div class="box">
	{if $WIZARD_PERMISSION.w_pz}<a href="{$MODULE_PATH}index.php?tx_newspaper_mod5[controller]=w_pz">{$WIZARD_ICON} {$LABEL.webmaster_wizard_pagezone}</a><br />{/if}
	{if $WIZARD_PERMISSION.w_inheritance}<a href="{$MODULE_PATH}index.php?tx_newspaper_mod5[controller]=w_inheritance">{$WIZARD_ICON} {$LABEL.webmaster_wizard_inheritance}</a><br />{/if}
</div>
<br />
{/if}


<div class="box_hl">{$LABEL.latest_articles}</div>
<div class="box">
	{$ARTICLELIST}
</div>
<br />



<div class="box_hl">{$LABEL.shortcuts}</div>
<div class="box">
	{section name=i loop=$SHORTCUT}
	  <a href="{$SHORTCUT[i].url}">{$SHORTCUT_BE_ICON} {$SHORTCUT[i].description}</a><br />
	{/section}
</div>
<br />

<!--
<div class="box_hl">{$LABEL.manage_usercomments}</div>
<div class="box">
	{$MANAGE_USERCOMMENTS_ICON} US-Klimapolitik (Hans, 12.06.2009, 12:45:23)</a><br />
	{$MANAGE_USERCOMMENTS_ICON} Kitas (Petra, 12.06.2009, 12:43:23)</a><br />
	{$MANAGE_USERCOMMENTS_ICON} Zensursula (Michael, 12.06.2009, 12:41:15)</a><br />
	{$MANAGE_USERCOMMENTS_ICON} Datenschutz (Monika, 12.06.2009, 12:40:57)</a><br />
</div>
<br />
-->

<div class="box_hl">{$LABEL.newspaper_functions}</div>
<div class="box">
	<a href="#" onclick="top.goToModule('txnewspaperMmain_txnewspaperM2'); return false;">{$SHORTCUT_NEWSPAPER_ICON} Moderation list</a><br />
	<a href="#" onclick="top.goToModule('txnewspaperMmain_txnewspaperM3'); return false;">{$SHORTCUT_NEWSPAPER_ICON} Placement</a><br />
	<a href="index.php?tx_newspaper_mod5[ajaxcontroller]=change_role&amp;tx_newspaper_mod5[new_role]={$ROLE.changeto_value}">{$ROLE_ICON} Change to {$ROLE.changeto}</a> (Currently: <strong>{$ROLE.current}</strong>)<br />
</div>
<br />

</div>