{*debug*}

<script type="text/javascript" src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/mod2/res/mod2.js?2"> </script>
<script type="text/javascript" src="{$T3PATH}contrib/prototype/prototype.js"> </script>

{literal}
<style type="text/css">
table {
  table-layout: auto;
  border: 1px solid gray;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
td {
  vertical-align: top;
   border: 1px solid #e8e8e8;
}
.bg1 {
  background-color: #f0f0f0;"
}
.bg2 {
  background-color: #d0d0d0;
}
.kicker {
  color: #c61940;
}
.comment_box {
  display: none;
  background-color: white;
}
</style>

<script language="javascript">

  // for article list module (select box is rendered with newspaper ext)

	function insertElementNpStyle(uid, kicker, title, element, doClose) {
		// get handle to select box
		var selectBox = parent.window.opener.$('#' + element);

		switch(element) {
			case "tx_newspaper_mod6[articles]":
				// manage dossier in mod6
				selectBox = parent.window.opener.document.getElementById(element);
				parent.window.opener.NpManageDossier.addOption(uid, kicker, title);
			break;
			default:
				selectBox.addOptionAboveSelected(uid, kicker, title);
				parent.window.opener.$("input.save[title=" +  element + "]").addClass("unsaved");
		}

		if (doClose) {
			parent.close();
		}
	}




  // for article select boxes rendered by typo3

  var path = window.location.pathname;
  path = path.substring(0, path.lastIndexOf("/") - 5); // -5 -> cut of "typo3"



/// extracted from typo3/class.browse_links.php
/// in order to get the article and articlelist browser working like the typo3 EB

var BrowseLinks = {
  elements: {},
  addElements: function(elements) {
    BrowseLinks.elements = $H(BrowseLinks.elements).merge(elements).toObject();
  },
  focusOpenerAndClose: function(close) {
    if (close) {
      parent.window.opener.focus();
      parent.close();
    }
  }
}


function $H(object) {
  return new Hash(object);
};

// new params: form_table, form_field, form_uid
function insertElement(table, uid, type, filename, fp, filetype, imagefile, action, close, form_table, form_field, form_uid) {
  var performAction = true;
  // Call performing function and finish this action:
  if (performAction) {
    addElement(filename, table+"_"+uid, fp, close, table, uid, form_table, form_field, form_uid);
  }
}

// new params: table, uid, form_table, form_field, form_uid
function addElement(elName, elValue, altElValue, close, table, uid, form_table, form_field, form_uid) {
//alert("data[" + table + "][" + uid + "][" + form_field + "]" + ", form_field: " + form_field);
  if (parent.window.opener && parent.window.opener.setFormValueFromBrowseWin) {
    parent.window.opener.setFormValueFromBrowseWin("data[" + form_table + "][" + form_uid + "][" + form_field + "]", altElValue? altElValue : elValue, elName);
    focusOpenerAndClose(close);
  } else {
    alert("Error - reference to main window is not set properly!");
    parent.close();
  }
}

function focusOpenerAndClose(close)	{
  BrowseLinks.focusOpenerAndClose(close);
}

</script>
{/literal}

{* add once only for all comments *}
{* \todo: fix js, so workflow log is working
{$workflowlog_javascript}
*}


{* filter *}

<form action="index.php" id="moderation" name="moderation">

	{* hidden fields *}
	<input type="hidden" name="tx_newspaper_mod2[startPage]" id="tx_newspaper_mod2[startPage]" value="{$FILTER.startPage}" />
	<input type="hidden" name="ab4al" value="{$AB4AL}" />
	<input type="hidden" name="select_box_id" value="{$select_box_id}" />
	<input type="hidden" name="form_table" value="{$FORM_TABLE}" />
	<input type="hidden" name="form_field" value="{$FORM_FIELD}" />
	<input type="hidden" name="form_uid" value="{$FORM_UID}" />

    {$FILTER_BOX}

</form>

<br /><br />


{* browse sequence *}


<div id="browsePages">

{if $FILTER.startPage > 0}
<a class="left" href="#" onclick="browse(-1);">{$LL.label_page_prev}</a>
{/if}

	<strong>
{$LL.label_page_hits} {$FILTER.startPage*$FILTER.step+1}
 -
{if ($DATA|@sizeof < $FILTER.step) }
	{math equation="sp*st+sizeof" sp=$FILTER.startPage st=$FILTER.step sizeof=$DATA|@sizeof}
{else}
	{math equation="(sp+1)*st" sp=$FILTER.startPage st=$FILTER.step}
{/if}
 / {$RESULT_COUNT}
 	</strong>

{if $FILTER.startPage < $MAX_PAGE}
<a class="right" href="#" onclick="browse(1);">{$LL.label_page_next}</a>
{/if}

</div>  <!--  close browsePages -->


  {* add ab4al, if set: article browser for article lists *}
  {* add form_tanle etc. for article browser in list module type backend *}

  {*
  {if $URL_PREV != ''}
  <a href="index.php?{$URL_PREV}{if $FORM_TABLE}
  &form_table={$FORM_TABLE}&form_field={$FORM_FIELD}&form_uid={$FORM_UID}
  {/if}{if $AB4AL}&ab4al=1{/if}">{$PAGE_PREV_LABEL}</a>
  {else}
  {$PAGE_PREV_LABEL}
  {/if}
   [
  {$PAGE_HITS_LABEL} {$FILTER.startPage*$FILTER.step+1}
   -
  {if ($DATA|@sizeof < $FILTER.step) }
    {math equation="sp*st+sizeof" sp=$FILTER.startPage st=$FILTER.step sizeof=$DATA|@sizeof}
  {else}
    {math equation="(sp+1)*st" sp=$FILTER.startPage st=$FILTER.step}
  {/if}
   / {$RESULT_COUNT} ]
  {if $URL_NEXT}
  <a href="index.php?{$URL_NEXT}{if $FORM_TABLE}
  &form_table={$FORM_TABLE}&form_field={$FORM_FIELD}&form_uid={$FORM_UID}
  {/if}{if $AB4AL}&ab4al=1{/if}">{$PAGE_NEXT_LABEL}</a>
  {else}
  {$PAGE_NEXT_LABEL}
  {/if}
  *}


{* list with hits *}

<table>

	{* header *}
	<tr>
		<td></td>
		<td>{$LL.label_title_number} </td>
		<td>{$LL.label_title_article}</td>
		<td>{$LL.label_title_author}</td>
		<td>{$LL.label_title_modification_date}</td>
		<td>{$LL.label_title_published}</td>
		<td>{$LL.label_title_time_controlled}</td>
	</tr>

	{* row *}

	{section name=i loop=$DATA}
	{if ($smarty.section.i.index % 2 == 0)}
	<tr class="bg1">
	{else}
	<tr class="bg2">
	{/if}

	{* record locked *}
		<td>
		{if $LOCKED_ARTICLE[i].username != ''}
			{$ICON.recordLocked|replace:'###LOCK_MSG###':$LOCKED_ARTICLE[i].msg}
		{/if}
		</td>

		{* number *}
		<td align="right"> {math equation="i+1+(st*sp)" i=$smarty.section.i.index sp=$FILTER.startPage st=$FILTER.step} </td>

		{* kicker + title *}
		<td>
			<div title="{$DATA[i].teaser}">
			{if $AB4AL}
				{* manual article list module *}
				<a onclick="insertElementNpStyle('{$DATA[i].uid}', '{$DATA[i].kicker|escape:'javascript'|escape:'html'}', '{$DATA[i].title|escape:'javascript'|escape:'html'}', '{$select_box_id}', false); return false;" href="#">{$ICON.addArticle}</a>&nbsp;
				<a onclick="insertElementNpStyle('{$DATA[i].uid}', '{$DATA[i].kicker|escape:'javascript'|escape:'html'}', '{$DATA[i].title|escape:'javascript'|escape:'html'}', '{$select_box_id}', true); return false;" href="#">
			{else}
				{* article select box rendered by Typo3 *}
				<a onclick="insertElement('tx_newspaper_article', '{$DATA[i].uid}', 'db', '{$DATA[i].title|escape:'javascript'|escape:'html'}', '', '', 'gfx/i/be_users_admin.gif', '', 0, '{$FORM_TABLE}', '{$FORM_FIELD}', {$FORM_UID}); return false;" href="#">{$ICON.addArticle}</a>&nbsp;
	      		<a onclick="insertElement('tx_newspaper_article', '{$DATA[i].uid}', 'db', '{$DATA[i].title|escape:'javascript'|escape:'html'}', '', '', 'gfx/i/be_users_admin.gif', '', 1, '{$FORM_TABLE}', '{$FORM_FIELD}', {$FORM_UID}); return false;" href="#">
			{/if}
				<span class="kicker">{$DATA[i].kicker}</span> {$DATA[i].title} (#{$DATA[i].uid})
			</div>
		</td>

		{* author *}
		<td> {$DATA[i].author} </td>

		{* tstamp *}
		<td> {if $DATA[i].tstamp}{$DATA[i].tstamp|date_format:"%d.%m.%Y %H:%I:%S"}{/if} </td>

		{* hidden status *}
		<td align="center">
			{* article browser, just display visiblity status, but do NOT link the icon *}
			{if !$DATA[i].hidden}
			{$ICON.published}
			{/if}
		</td>

		{* time controlled *}
		<td align="center">
		{if ($DATA[i].starttime > 0 || $DATA[i].endtime > 0)}
			{if (($DATA[i].starttime == 0 || $DATA[i].starttime >= $smarty.now) && ($DATA[i].endtime == 0 || $DATA[i].endtime <= $smarty.now))}
			{$ICON.timeHidden}
			{else}
			{$Icon.timeVisible}
			{/if}
		{/if}
		</td>

	</tr>
	{/section}

</table>

<br /><br />