{* debug *}

<div id="filter">
    <table border="0">
        <tr>
            <td>
                {* range *}
                {$LL.label_range}:
                <select name="tx_newspaper_mod2[range]" onchange="submitFilter('reset_startpage');" align="right">
                    {foreach from=$RANGE key=key item=value}
                        {if $key == $FILTER.range}
                            <option selected="selected" value="{$key}">{$value}</option>
                        {else}
                            <option value="{$key}">{$value}</option>
                        {/if}
                    {/foreach}
                </select>
            </td>
            <td>
                {* hidden status *}
                {$LL.label_status_hidden_field}:
                <select name="tx_newspaper_mod2[hidden]" onchange="submitFilter('reset_startpage');" align="right">
                    {foreach from=$HIDDEN key=key item=value}
                        {if $key == $FILTER.hidden}
                            <option selected="selected" value="{$key}">{$value}</option>
                        {else}
                            <option value="{$key}">{$value}</option>
                        {/if}
                    {/foreach}
                </select>
            </td>
            <td>
                {* role *}
                {$LL.label_status_role}:
                <select name="tx_newspaper_mod2[role]" onchange="submitFilter('reset_startpage');" align="right">
                    {foreach from=$ROLE key=key item=value}
                        {if $key == $FILTER.role}
                            <option selected="selected" value="{$key}">{$value}</option>
                        {else}
                            <option value="{$key}">{$value}</option>
                        {/if}
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                {* author *}
                {$LL.label_title_author}: <input type="text" align="right" name="tx_newspaper_mod2[author]" value="{$FILTER.author|escape:html}" onkeyup="checkEnter(event.keyCode); return false;" />
            </td>
            <td>
                {* BE user *}
                {$LL.label_title_be_user}: <input type="text" align="right" name="tx_newspaper_mod2[be_user]" value="{$FILTER.be_user|escape:html}" onkeyup="checkEnter(event.keyCode); return false;" />
            </td>
            <td>
                {* section *}
                {$LL.label_section}: <input type="text" align="right" name="tx_newspaper_mod2[section]" value="{$FILTER.section|escape:html}" onkeyup="checkEnter(event.keyCode); return false;" />
            </td>
        </tr>
        <tr>
            <td>
                {* text *}
                {$LL.label_textsearch}: <input type="text" align="right" name="tx_newspaper_mod2[text]" value="{$FILTER.text|escape:html}" onkeyup="checkEnter(event.keyCode); return false;" />
            </td>
            <td colspan="2">
                {* control tags *}
                {if $CONTROLTAGS}
                    {$LL.label_controltag}:
                    <select name="tx_newspaper_mod2[controltag]" onchange="submitFilter('reset_startpage');" align="right">
                        {foreach from=$CONTROLTAGS item=value}
                            {if $value == $FILTER.controltag}
                                <option selected="selected" value="{$value}">{$value}</option>
                            {else}
                                <option value="{$value}">{$value}</option>
                            {/if}
                        {/foreach}
                    </select>
                {/if}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                {* step / items per page *}
                {$LL.label_step_items_per_page}:
                <select name="tx_newspaper_mod2[step]" onchange="submitFilter('reset_startpage');" align="right">
                    {foreach from=$STEP item=value}
                        {if $value == $FILTER.step}
                            <option selected="selected" value="{$value}">{$value}</option>
                        {else}
                            <option value="{$value}">{$value}</option>
                        {/if}
                    {/foreach}
                </select>
            </td>
            <td>
                {* submit button *}
                <input onclick="submitFilter('reset_startpage'); return false;" name="tx_newspaper_mod2[go]" value="{$LL.label_go}" type="button" class="submit" />
            </td>
        </tr>

    </table>
</div>  <!-- filter close-->
