{* debug *}
{literal}
<style type="text/css">
table {
  table-layout: auto;
  border: 1px solid gray;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
td {
  vertical-align: top;
   border: 1px solid #e8e8e8;
}
.bg1 {
  background-color: #f0f0f0;"
}
.bg2 {
  background-color: #d0d0d0;
}
.kicker {
  color: #c61940;
}
.comment_box {
  display: none;
  background-color: white;
}
</style>

<script language="javascript">

	// for article list module (select box is rendered with newspaper ext)

	function insertElementNpStyle(uid, kicker, title, element, doClose) {
		var selectBox = parent.window.opener.document.getElementById(element);

	    if (element != 'tx_newspaper_mod6[articles]') {
	    	// \todo: remove this ugly hack
	    	selectBox.addOptionAboveSelected(uid, kicker, title);
			parent.window.opener.$("input.save[title=" +  element + "]").addClass("unsaved");
		} else {
			parent.window.opener.addOption(uid, kicker, title);
		}
	    if(doClose) {
	    	parent.close();
	    }
	    return false;
	}




	// for article select boxes rendered by typo3

	var path = window.location.pathname;
	path = path.substring(0, path.lastIndexOf("/") - 5); // -5 -> cut of "typo3"



/// extracted from typo3/class.browse_links.php
/// in order to get the article and articlelist browser working like the typo3 EB

var BrowseLinks = {
	elements: {},
	addElements: function(elements) {
		BrowseLinks.elements = $H(BrowseLinks.elements).merge(elements).toObject();
	},
	focusOpenerAndClose: function(close) {
		if (close) {
			parent.window.opener.focus();
			parent.close();
		}
	}
}


function $H(object) {
  return new Hash(object);
};

// new params: form_table, form_field, form_uid
function insertElement(table, uid, type, filename, fp, filetype, imagefile, action, close, form_table, form_field, form_uid) {
  var performAction = true;
  // Call performing function and finish this action:
  if (performAction) {
    addElement(filename, table+"_"+uid, fp, close, table, uid, form_table, form_field, form_uid);
  }
}

// new params: table, uid, form_table, form_field, form_uid
function addElement(elName, elValue, altElValue, close, table, uid, form_table, form_field, form_uid) {
//alert("data[" + table + "][" + uid + "][" + form_field + "]" + ", form_field: " + form_field);
  if (parent.window.opener && parent.window.opener.setFormValueFromBrowseWin) {
    parent.window.opener.setFormValueFromBrowseWin("data[" + form_table + "][" + form_uid + "][" + form_field + "]", altElValue? altElValue : elValue, elName);
    focusOpenerAndClose(close);
  } else {
    alert("Error - reference to main window is not set properly!");
    parent.close();
  }
}

function focusOpenerAndClose(close)	{
  BrowseLinks.focusOpenerAndClose(close);
}

/// \todo: based from mod7, how to merge into 1 js file?
function showArticlePreview(article_uid) {
	window.open(
		path + "/mod7/index.php?tx_newspaper_mod7[controller]=preview&tx_newspaper_mod7[articleid]=" + article_uid,
		"preview",
		"width=800,height=500,left=100,top=100,resizable=yes,toolbar=no,location=no,scrollbars=yes"
	);
}

</script>
{/literal}

{* add once only for all comments *}
{* \todo: fix js, so workflow log is working
{$workflowlog_javascript}
*}


<form action="index.php" id="moderation"><input type="hidden" name="start_page" value="{$START_PAGE}" />
{$RANGE_LABEL}: <select name="range" onchange="this.form.submit()">
{foreach from=$RANGE key=key item=value}
{if $key == $_POST.range}
	<option selected="selected" value="{$key}">{$value}</option>
{else}
	<option value="{$key}">{$value}</option>
{/if}
{/foreach}
</select>


{$HIDDEN_LABEL}: <select name="hidden" onchange="this.form.submit()">
{foreach from=$HIDDEN key=key item=value}
{if $key == $_POST.hidden}
	<option selected="selected" value="{$key}">{$value}</option>
{else}
	<option value="{$key}">{$value}</option>
{/if}
{/foreach}
</select>


{$ROLE_LABEL}: <select name="role" onchange="this.form.submit()">
{foreach from=$ROLE key=key item=value}
{if $key == $_POST.role}
	<option selected="selected" value="{$key}">{$value}</option>
{else}
	<option value="{$key}">{$value}</option>
{/if}
{/foreach}
</select>


<br />

{$AUTHOR_LABEL}: <input type="text" name="author" value="{$_POST.author|escape:html}" />

{$SECTION_LABEL}: <input type="text" name="section" value="{$_POST.section|escape:html}" />

{$TEXTSEARCH_LABEL}: <input type="text" name="text" value="{$_POST.text|escape:html}" />

{$STEP_LABEL}: <select name="step" onchange="this.form.submit()">
{foreach from=$STEP item=value}
{if $value == $_POST.step}
	<option selected="selected" value="{$value}">{$value}</option>
{else}
	<option value="{$value}">{$value}</option>
{/if}
{/foreach}
</select>

<input type="submit" name="go" value="{$GO_LABEL}" />

</form>

<br /><br />

{* add ab4al, if set: article browser for article lists *}
{* add form_tanle etc. for article browser in list module type backend *}

{if $URL_PREV != ''}
<a href="index.php?{$URL_PREV}{if $FORM_TABLE}
&form_table={$FORM_TABLE}&form_field={$FORM_FIELD}&form_uid={$FORM_UID}
{/if}{if $AB4AL}&ab4al=1{/if}">{$PAGE_PREV_LABEL}</a>
{else}
{$PAGE_PREV_LABEL}
{/if}
 [
{$PAGE_HITS_LABEL} {$_POST.start_page*$_POST.step+1}
 -
{if ($DATA|@sizeof < $_POST.step) }
	{math equation="sp*st+sizeof" sp=$_POST.start_page st=$_POST.step sizeof=$DATA|@sizeof}
{else}
	{math equation="(sp+1)*st" sp=$_POST.start_page st=$_POST.step}
{/if}
 / {$RESULT_COUNT} ]
{if $URL_NEXT}
<a href="index.php?{$URL_NEXT}{if $FORM_TABLE}
&form_table={$FORM_TABLE}&form_field={$FORM_FIELD}&form_uid={$FORM_UID}
{/if}{if $AB4AL}&ab4al=1{/if}">{$PAGE_NEXT_LABEL}</a>
{else}
{$PAGE_NEXT_LABEL}
{/if}

<table>

<tr>
<td></td>
<td>{$LABEL_TITLE.number} </td>
<td>{$LABEL_TITLE.article}</td>
<td>{$LABEL_TITLE.author}</td>
{if !$IS_ARTICLE_BROWSER}
  <td>{$LABEL_TITLE.be_user}</td>
{/if}
<td>{$LABEL_TITLE.modification_date}</td>
<td align="center">Visible&nbsp;</td>
{if !$IS_ARTICLE_BROWSER}
  <td align="center">{$LABEL_TITLE.commands}&nbsp;</td>
{/if}
<td align="center">{$LABEL_TITLE.time_controlled}</td>
</tr>

{section name=i loop=$DATA}
{if ($smarty.section.i.index % 2 == 0)}
	<tr class="bg1">
{else}
	<tr class="bg2">
{/if}
		<td>
		{if $LOCKED_ARTICLE[i].username != ''}
			{$RECORD_LOCKED_ICON|replace:'###LOCK_MSG###':$LOCKED_ARTICLE[i].msg}
		{/if}
		</td>
		<td align="right"> {math equation="i+1+(st*sp)" i=$smarty.section.i.index sp=$_POST.start_page st=$_POST.step} </td>
		<td>
			<div title="{$DATA[i].teaser}">
{if $IS_ARTICLE_BROWSER}
	{if $AB4AL}
		{* manual article list module *}
		<a onclick="return insertElementNpStyle('{$DATA[i].uid}', '{$DATA[i].kicker|escape:'javascript'|escape:'html'}', '{$DATA[i].title|escape:'javascript'|escape:'html'}', '{$select_box_id}', false);" href="#">{$ARTICLE_ADD_ICON}</a>&nbsp;
		<a onclick="return insertElementNpStyle('{$DATA[i].uid}', '{$DATA[i].kicker|escape:'javascript'|escape:'html'}', '{$DATA[i].title|escape:'javascript'|escape:'html'}', '{$select_box_id}', true);" href="#">
	{else}
		{* article select box rendered by Typo3 *}
		<a onclick="return insertElement('tx_newspaper_article', '{$DATA[i].uid}', 'db', '{$DATA[i].title|escape:'javascript'|escape:'html'}', '', '', 'gfx/i/be_users_admin.gif', '', 0, '{$FORM_TABLE}', '{$FORM_FIELD}', {$FORM_UID});" href="#">{$ARTICLE_ADD_ICON}</a>&nbsp;
		<a onclick="return insertElement('tx_newspaper_article', '{$DATA[i].uid}', 'db', '{$DATA[i].title|escape:'javascript'|escape:'html'}', '', '', 'gfx/i/be_users_admin.gif', '', 1, '{$FORM_TABLE}', '{$FORM_FIELD}', {$FORM_UID});" href="#">
	{/if}
{/if}
				<span class="kicker">{$DATA[i].kicker}</span> {$DATA[i].title} (#{$DATA[i].uid})
{if !$IS_ARTICLE_BROWSER}
    </a>
{/if}
			</div>
		</td>
		<td> {$DATA[i].author} </td>
{if !$IS_ARTICLE_BROWSER}
		<td> {$DATA[i].be_user} </td>
{/if}
		<td> {if $DATA[i].tstamp}{$DATA[i].tstamp|date_format:"%d.%m.%Y %H:%I:%S"}{/if} </td>
		<td align="center">
{if !$IS_ARTICLE_BROWSER}
  {* moderation list, so link visibile icon with hide/unhide functionality *}
  {if $DATA[i].hidden == 0}
    <a href="index.php?{$URL_HIDE_UNHIDE}&article_visibility=hidden&article_uid={$DATA[i].uid}">{$HIDE_ICON}</a>
  {else}
    <a href="index.php?{$URL_HIDE_UNHIDE}&article_visibility=visible&article_uid={$DATA[i].uid}">{$UNHIDE_ICON}</a>
  {/if}
{else}
  {* article browser, just display visiblity status, but do NOT link the icon *}
  {if $DATA[i].hidden == 0}
    {$HIDE_ICON}
  {else}
    {$UNHIDE_ICON}
  {/if}
{/if}
		</td>
{if !$IS_ARTICLE_BROWSER}
		<td>
{if $IS_DUTY_EDITOR}<a href="../mod7/index.php?tx_newspaper_mod7[articleid]={$DATA[i].uid}"> {$ARTICLE_PLACEMENT_ICON} </a> {/if}

<a href="#" onclick="showArticlePreview({$DATA[i].uid}); return false;">{$ARTICLE_PREVIEW_ICON}</a>
<a href="{$T3PATH}alt_doc.php?returnUrl=close.html&edit[tx_newspaper_article][{$DATA[i].uid}]=edit" target="_blank"> {$ARTICLE_EDIT_ICON} </a>
{* left here, because (i) button might be needed later, though probably with js call <a href="javascript:toggleComment('comments{$DATA[i].uid}');">{$COMMENT_ICON|replace:'###COMMENT###':$DATA[i].comment}</a> *}
		</td>
{/if}
		<td align="center">
{if ($DATA[i].starttime > 0 || $DATA[i].endtime > 0)}
	{if (($DATA[i].starttime == 0 || $DATA[i].starttime >= $smarty.now) && ($DATA[i].endtime == 0 || $DATA[i].endtime <= $smarty.now))}
		{$TIME_HIDDEN_ICON}
	{else}
		{$TIME_VISIBLE_ICON}
	{/if}
{/if}
		</td>
	</tr>

{if ($smarty.section.i.index % 2 == 0)}
	<tr class="bg1">
{else}
	<tr class="bg2">
{/if}
		<td colspan="2"></td>
		<td colspan="7">
{* \todo: fix js, so workflow log is working
{$DATA[i].workflowlog}
*}
		</td>
	</tr>
{/section}
</table>

</form><br /><br />
