{* debug *}

{literal}

<style type="text/css">

/* additional CSS / production list */

body {
	padding-left:20px;
	background-color:white;
}

.red {
	color:#c61940;
}

#tx_newspaper_mod3 {
	width:930px;
	padding:10px;
}

#tx_newspaper_mod3 body, p, a, td {
	font-family:Arial,Helvetica,sans-serif !important;
	font-size:11px;
	margin:0;
	color:black;
}

#tx_newspaper_mod3 a:hover {
	color:#C61940;
}

#tx_newspaper_mod3 h1 {
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	text-align:left;
}

#tx_newspaper_mod3 .headline {
	text-transform:uppercase;
	border-bottom:1px solid #AAA;
	margin-bottom:20px;
	padding-bottom:5px;
	width:920px;
	font-size:18px;
	font-weight:normal;
	color:#777;
}


/* wizards */

#wizards {
	position: absolute;
	padding: 10px;
	margin: -8px 0 0 650px;
	width: 260px;
}


/* filterbox */

#filter {
	position:absolute;
	padding:10px;
	margin:30px 0 0 650px;
	width:250px;
	background-color:#EFEDE4;
	border:1px solid #AAA;
	clear:left;
}

#filter br, br {
	clear:left;
}

#filter input, #filter select, #filter label, #filter textarea {
	display:block;
	float:left;
	width:150px;
	margin-bottom:5px;
	padding:2px 0;
}

#filter label {
	width:100px;
}

#filter label.checkbox {
	width:200px;
	}

#filter .cb {
	width:15px;
	margin-top:3px;
}

#filter .submit {
	padding:0;
	margin:15px 0 0 100px;
	width:150px;
}

/*  hits */

#browsePages {
	width:630px;
	margin:10px 30px 17px 0;
	text-align:center;
	height:13px;
}

#browsePages a {
	text-decoration:none;
	display:block;
}

#browsePages .left {
	float:left;
}

#browsePages .right {
	float:right;
}

#browsePages a.left {
	text-decoration:none;
	font-size:10px;
	text-transform:uppercase;
    background-image:url(../res/be/img/arrow_left.gif);
    background-repeat:no-repeat;
    background-position:0 2px;
    padding:2px 10px  8px 15px;
	}

#browsePages a:hover.left {
	background-image:url(../res/be/img/arrow_left_over.gif);
}

#browsePages a.right {
	text-decoration:none;
	font-size:10px;
	text-transform:uppercase;
    background-image:url(../res/be/img/arrow_right.gif);
    background-repeat:no-repeat;
    background-position:right 2px;
    padding:2px 15px  8px 0;
	}

#browsePages a:hover.right {
	background-image:url(../res/be/img/arrow_right_over.gif);
}

#browsePages span {
	color:#999;
}


/* production list */

#modlist {
	clear:left;
}

#modlist .artikel {
	margin-top:2px;
	clear:left;
	width:635pX;
	display:inline-block;
	position:relative;
}

#modlist div.artikel:hover div.listrow {
	background-color:#E7E7E7;
}

#modlist div.artikel:hover div.status {
	background-image:url(../res/be/img/bg_stat_normal_on.gif);
}

#modlist .listrow {
	margin-left:2px;
	padding:8px 0 8px 10px;
	background-color:#F4F4F4;
	float:left;
	height:100px;
	display:inline-block;
}

#modlist .r1 {
	width:50px;
}

#modlist .r2 {
	width:299px;
	position:relative;
}

#modlist .r3 {
	width:248px;
	overflow:hidden;
}

#modlist .allMessages {
	display:none;
	position:absolute;
	margin:0 0 0 375px;
	padding:8px 0 8px 10px;
	overflow:visible;
	z-index:50;
	background-color:#999999;
	width:248px;
	min-height:100px;
}

#modlist .head {
	background-color:#999;
	height:13px;
}

#modlist .head p {
	color:#EEE;
}

#modlist .status {
	background-image:url(../res/be/img/bg_stat_normal.gif);
}

#modlist .online, #modlist div.artikel:hover div.online {
	background-image:url(../res/be/img/bg_stat_online.gif);
}

#modlist .status a.statButton {
	margin:15px 0 0 7px;
}

#modlist .status img.statWatch {
	margin:25px 0 0 15px;
}

#modlist .status p.statRole {
	width:60px;
	margin:12px -10px;
	text-align:center;
	text-decoration:none;
	font-size:11px;
	line-height:10px;
	color:white;
    padding:4px 0 3px 0;
	height:20px;
}

#modlist .status p.bg_wf0 {
	background-color:#CC0000;
}

#modlist .status p.bg_wf1 {
	background-color:#FFCC00;
}

#modlist .status p.bg_wf1000 {
	background-color:#66CC00;
}

#modlist h1, #browsePages h1 {
	color:#000;
	margin:5px 0 0 0;
	font:normal 20.2px/22px Arial,sans-serif;
}

#modlist h2 {
	color:grey;
	font:12px/12px bold normal Arial,sans-serif;
	background:none;
	text-align:left;
	margin:0;
	padding:0;
}

#modlist .r2 div.titelinfo {
	bottom:10px;
	position:absolute;
	margin-top:33px;
}

#modlist p.autor {
	color:#777;
	float:left;
}
#modlist .allMessages p.autor {
	color:#eeeeee;
}


#modlist p.right {
	float:right;
	margin-right:10px;
}

#modlist p.message {
	clear:both;
	margin-bottom:4px;
}

#modlist p.message.important {
	color:#C61940;
}

#modlist .more_feld, #modlist .less_feld {
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity:0.90;
	opacity:0.90;
}

#modlist .less_feld {
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity:0.90;
	opacity:0.90;
	position:absolute;
}

#modlist p.message.error_message {
	color:#C61940;
	font-weight:bold;
}


#modlist a.more_messages {
	text-decoration:none;
	font-size:10px;
	text-transform:uppercase;
    background-image:url(../res/be/img/m_arrow_down.gif);
    background-repeat:no-repeat;
    background-position:10px 8px;
    padding:4px 8px  8px 25px;
	width:225px;
	display:block;
	margin:-8px 0 7px -10px;
	background-color:#FFF;
}

#modlist a.less_messages {
	text-decoration:none;
	font-size:10px;
	text-transform:uppercase;
    background-image:url(../res/be/img/m_arrow_up.gif);
    background-repeat:no-repeat;
    background-position:10px 8px;
    padding:4px 8px  8px 25px;
	background-color: #FFF;
	display: block;
	margin: -8px 0 7px -10px;
}

#modlist a.more_messages:hover {
    background-image:url(../res/be/img/m_arrow_down_on.gif);
}

#modlist a.less_messages:hover {
    background-image:url(../res/be/img/m_arrow_up_on.gif);
}

#modlist a.more {
	text-decoration:none;
	font-size:10px;
	text-transform:uppercase;
    background-image:url(../res/be/img/arrow_down.gif);
    background-repeat:no-repeat;
    background-position:-2px 3px;
    padding:2px 8px  8px 13px;
}

#modlist a.more:hover {
	background-image:url(../res/be/img/arrow_down_over.gif);
}

#tx_newspaper_mod3 .comments p {
	color:grey;
	font-size:9px;
	margin-bottom:5px;
}

#modlist a.kicker {
	text-align:left;
}

#tx_newspaper_mod3 table {
	table-layout:auto;
	padding:0;
	margin:0;
	border-collapse:collapse;
	width:630px;
}

#tx_newspaper_mod3 table.full {
	width:920px;
}

#tx_newspaper_mod3 table a {
	text-decoration:none;
	font:normal normal 12px/12px Arial,sans-serif;
	color:#666;
	float:left;
	margin:0 25px 0 8px;
}

#tx_newspaper_mod3 tr {
	border-right:1px solid white;
}

#tx_newspaper_mod3 td {
	vertical-align:top;
	border:0;
	padding:5px;
}


#tx_newspaper_mod3 tr:hover.noborder, #tx_newspaper_mod3 .wrapper.on {
	background-color:#EFEDE4;
}

.bg1 {
	border-bottom:2px solid #DDD;
}

.noborder {
	border:0;
}

.bg2 {
	background-color:#d0d0d0;
}


.kicker {
	color:#999;
}

.comment_box {
	display:none;
	background-color:white;
}

.floatleft {
	float:left;
	margin-right:5px;
}

#tx_newspaper_mod3 .hide {
	position:absolute;
	display:none;
	z-index:50;
	margin:0 0 0 169px;
}

#tx_newspaper_mod3 .hide div {
	padding-left: 2px;
	padding-right: 2px;
	background-color:#FFF;
	text-align:center;
	display:inline-block;
}

#tx_newspaper_mod3 .hide div a {
	width:30px;
	background-color:#E9E9E9;
	text-align:center;
	display:inline-block;
}

#tx_newspaper_mod3 .hide div a:hover {
	background-color:#FFF;
}

#tx_newspaper_mod3 .hide.seitengest {
	margin:-25px 0 0 35px !important;
}

#tx_newspaper_mod3 div.artikel:hover .hide {
	position:absolute;
	display:block;
}

#tx_newspaper_mod3 .wrapper {
	background-color:#FFF;
	display:inline-block;
	margin-top:0px;
	width:630px;
	padding:0;
	border-bottom:2px solid #DDDDDD;
}

#tx_newspaper_mod3 .wrapper:hover {
	background-color:#EFEDE4;
}

#tx_newspaper_mod3 .sg {
	display:block;
	width:292px;
	float:left;
	margin:5px 0;
	padding:5px 10px;
}

#tx_newspaper_mod3 .sg.right {
	margin-left:5px;
	background-color:#E2E2E2;
}

#tx_newspaper_mod3 .sg table {
	margin:-5px -10px !important;
	width:320px !important;
}

#tx_newspaper_mod3 .sg img {
	float:left;
	margin-right:5px;
}

</style>


<script language="javascript">
	var el_previous = null;
	function toggle(el) {
		// toggle comments
		if (document.getElementById(el).style.display == 'block') {
			// hide comments
	 		document.getElementById(el).style.display = 'none';
	 		document.getElementById('b_' + el).src = '../res/be/css/arrow-270.png';
	 		el_previous = null;
	 	} else {
	 		document.getElementById(el).style.display = 'block';
	 		document.getElementById('b_' + el).src = '../res/be/css/arrow-90.png';
		 	// hide old comments (if any)
		 	if (el_previous != null) {
		 		document.getElementById(el_previous).style.display = 'none';
		 		document.getElementById('b_' + el_previous).src = '../res/be/css/arrow-270.png';
		 	}
		 	el_previous = el;
	 	}
	 }



	var path = window.location.pathname;
	path = path.substring(0, path.lastIndexOf("/") - 5); // -5 -> cut of "typo3"

/// \todo: based from mod7, how to merge into 1 js file?
function showArticlePreview(article_uid) {
	window.open(
		path + "/mod7/index.php?tx_newspaper_mod7[controller]=preview&tx_newspaper_mod7[articleid]=" + article_uid,
		"preview",
		"width=800,height=500,left=100,top=100,resizable=yes,toolbar=no,location=no,scrollbars=yes"
	);
}

function deleteArticle(article_uid) {
  if (confirm("{/literal}{$ARTICLE_DELETE_MESSAGE}{literal}")) {
  	self.location.href = 'index.php?{/literal}{$URL_PLAIN}{literal}&tx_newspaper_mod2[controller]=delete&article_uid=' + article_uid;
  }
}
</script>


{/literal}

{$workflowlog_javascript} {* add once only for all comments *}


<div id="tx_newspaper_mod3">

<h1 class="headline">{$LABEL.module_title}</h1>

<form action="index.php" id="moderation"><input type="hidden" name="start_page" value="{$START_PAGE}" />

<div id="wizards"><a href="{$MODULE5_PATH}index.php?tx_newspaper_mod5[controller]=new_article_wizard&tx_newspaper_mod5[calling_module]=2">{$WIZARD_ICON} {$LABEL.new_article}</a><br /></div>

<div id="filter">

	<label>{$RANGE_LABEL}</label>
		<select name="range" onchange="this.form.submit()">
			{foreach from=$RANGE key=key item=value}
			{if $key == $_POST.range}
				<option selected="selected" value="{$key}">{$value}</option>
			{else}
				<option value="{$key}">{$value}</option>
			{/if}
			{/foreach}
		</select>
	<br />

	<label>{$HIDDEN_LABEL}</label>
		<select name="hidden" onchange="this.form.submit()">
			{foreach from=$HIDDEN key=key item=value}
			{if $key == $_POST.hidden}
				<option selected="selected" value="{$key}">{$value}</option>
			{else}
				<option value="{$key}">{$value}</option>
			{/if}
			{/foreach}
		</select>
	<br />

	<label>{$ROLE_LABEL}</label>
		<select name="role" {if !$ROLE_FILTER_EQUALS_USER_ROLE}style="border:#cc0000 3px solid;" {/if}onchange="this.form.submit()">
			{foreach from=$ROLE key=key item=value}
			{if $key == $_POST.role}
				<option selected="selected" value="{$key}">{$value}</option>
			{else}
				<option value="{$key}">{$value}</option>
			{/if}
			{/foreach}
		</select>
	<br />

	<label>{$AUTHOR_LABEL}</label>
	<input type="text" name="author" value="{$_POST.author|escape:html}" />
	<br />

	<label>{$BE_USER_LABEL}</label>
	<input type="text" name="be_user" value="{$_POST.be_user|escape:html}" />
	<br />

	<label>{$SECTION_LABEL}</label>
	<input type="text" name="section" value="{$_POST.section|escape:html}" />
	<br />

	<label>{$TEXTSEARCH_LABEL}</label>
	<input type="text" name="text" value="{$_POST.text|escape:html}" />
	<br />

	<label>{$STEP_LABEL}</label>
		<select name="step" onchange="this.form.submit()">
			{foreach from=$STEP item=value}
			{if $value == $_POST.step}
				<option selected="selected" value="{$value}">{$value}</option>
			{else}
				<option value="{$value}">{$value}</option>
			{/if}
			{/foreach}
		</select>
	<br />

	<input name="go" value="{$GO_LABEL}" type="submit" class="submit" />

	<input name="reset_filter" value="{$RESET_FILTER_LABEL}" type="submit" class="submit" />


</div>  <!-- filter close-->

</form>


<div id="browsePages">

{if $URL_PREV != ''}
<a class="left" href="index.php?{$URL_PREV}{if $FORM_TABLE}
&form_table={$FORM_TABLE}&form_field={$FORM_FIELD}&form_uid={$FORM_UID}
{/if}">{$PAGE_PREV_LABEL}</a>
{/if}

	<strong>
{$PAGE_HITS_LABEL} {$_POST.start_page*$_POST.step+1}
 -
{if ($DATA|@sizeof < $_POST.step) }
	{math equation="sp*st+sizeof" sp=$_POST.start_page st=$_POST.step sizeof=$DATA|@sizeof}
{else}
	{math equation="(sp+1)*st" sp=$_POST.start_page st=$_POST.step}
{/if}
 / {$RESULT_COUNT}
 	</strong>

{if $URL_NEXT}
<a class="right" href="index.php?{$URL_NEXT}{if $FORM_TABLE}
&form_table={$FORM_TABLE}&form_field={$FORM_FIELD}&form_uid={$FORM_UID}
{/if}">{$PAGE_NEXT_LABEL}</a>
{/if}

</div>  <!--  close browsePages -->




<div id="modlist">

	<div>
		<div class="listrow r1 head"><p>{$LABEL.state}</p></div>
		<div class="listrow r2 head"><p>{$LABEL.article}</p></div>
		<div class="listrow r3 head"><p>{$LABEL.messages}</p></div>
	</div>

{section name=i loop=$DATA}
	<div class="artikel">

		<div class="listrow r1 status{if
				$DATA[i].hidden == 0 &&
				($DATA[i].starttime == 0 || $DATA[i].starttime <= $smarty.now) &&
				($DATA[i].endtime == 0 || $DATA[i].endtime > $smarty.now)
			} online{/if}">
			{if $DATA[i].hidden == 0}
				{if $IS_DUTY_EDITOR || $IS_ADMIN}
					<a title="{$LABEL.flag_published}" class="statButton" href="index.php?{$URL_HIDE_UNHIDE}&article_visibility=hidden&article_uid={$DATA[i].uid}">
				{/if}
				<img src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/stat_online.png">
				{if $IS_DUTY_EDITOR || $IS_ADMIN}
					</a>
				{/if}
			{else}
				{if $IS_DUTY_EDITOR || $IS_ADMIN}
					<a title="{$LABEL.flag_hidden}" class="statButton" href="index.php?{$URL_HIDE_UNHIDE}&article_visibility=visible&article_uid={$DATA[i].uid}">
				{/if}
				<img src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/stat_offline.png">
				{if $IS_DUTY_EDITOR || $IS_ADMIN}
					</a>
				{/if}
			{/if}
			{if $DATA[i].starttime > 0 || $DATA[i].endtime > 0}
				{* so this is a time controlled article ... *}
				{if $DATA[i].starttime != 0 && $DATA[i].starttime > $smarty.now}
					{* not yet published *}
					<span title="{$DATA[i].time_controlled_not_yet}"><img src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/watch_yellow.gif" class="statWatch"></span>
				{elseif $DATA[i].endtime != 0 && $DATA[i].endtime < $smarty.now}
					{* publish time exceeded - will never be visible again *}
					<span title="{$DATA[i].time_controlled_not_anymore}"><img src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/watch_red.gif" class="statWatch"></span>
				{elseif $DATA[i].endtime != 0 && $DATA[i].endtime >= $smarty.now}
					{* article is online, but will be offline in future; endtime is set *}
					<span title="{$DATA[i].time_controlled_now_but_will_end}"><img src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/watch_green.gif" class="statWatch"></span>
				{elseif $DATA[i].starttime != 0 && $DATA[i].starttime <= $smarty.now && $DATA[i].endtime == 0}
					{* article is online, and will remain online; endtime is NOT set *}
					<span title="{$DATA[i].time_controlled_now_and_future}"><img src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/watch_normal.gif" class="statWatch"></span>
				{/if}
			{else}
				<span><img src="clear.gif" width="14" height="14" class="statWatch"></span>
			{/if}

			<p class="statRole bg_wf{$DATA[i].workflow_status}">{$DATA[i].workflow_status_TITLE}</p>
		</div>

		<div class="listrow r2">
			<h2 class="kicker">{if $LOCKED_ARTICLE[i].username != ''}{$RECORD_LOCKED_ICON|replace:'###LOCK_MSG###':$LOCKED_ARTICLE[i].msg|escape:"htlmall"}{/if}{$DATA[i].kicker}</h2>
			<h1>{$DATA[i].title}</h1>
			<div class="titelinfo">{* year is shown only if tstamp year does NOT equal the current year *}
				<p>
					{if $DATA[i].author}{$LABEL.by_part} {$DATA[i].author}<br />{/if}
					{if $DATA[i].publish_date}
						{$LABEL.published}:
						<strong>{$DATA[i].publish_date|date_format:"%d.%m"}{if $DATA[i].publish_date|date_format:"%Y" != $smarty.now|date_format:"%Y"}{$DATA[i].publish_date|date_format:".%Y"}{/if}</strong>&nbsp;{$DATA[i].publish_date|date_format:"%H:%M:%S"}
					{else}
						{if $DATA[i].hidden}
							<i>{$LABEL.not_yet_published}</i>
						{else}
							<span class="red"><i>{$LABEL.not_yet_published_BUT_ONLINE}</i></span>
						{/if}
					{/if}
				<br />
				{$DATA[i].sections}</p>
			</div>
		</div>

		<div class="listrow r3">

{*
			<div>
				<a href ="#" onclick="toggle('messages{$DATA[i].uid}'); return false;" class="more_messages">{$LABEL.messages_show} ({$DATA[i].workflowlog_v2|@sizeof})</a>
			</div>
*}

			{foreach from=$DATA[i].workflowlog_v2 item=comment}
				<p class="autor">{$comment.username}</p>
				<p class="autor right"> <strong>{$comment.crdate|date_format:"%d.%m"}{if $comment.crdate|date_format:"%Y" != $smarty.now|date_format:"%Y"}{$comment.crdate|date_format:".%Y"}{/if}</strong>&nbsp;{$comment.crdate|date_format:"%H:%M:%S"}</p>
				<p class="message{if $comment.action == 4}{* manual comment *} important{elseif $comment.action == 6}{* error message *} error_message{/if}">{$comment.comment}</p>
			{/foreach}

		</div>

			<!-- All Messages / hidden -->

			<div id="messages{$DATA[i].uid}" class="allMessages">
{*
			<div>
				<a href ="#" onclick="toggle('messages{$DATA[i].uid}'); return false;" class="less_messages" href="">{$LABEL.messages_hide}</a>
			</div>
*}
{* \todo: message are rendered twice -> only one should be used ... *}
			{foreach from=$DATA[i].workflowlog_v2 item=comment}
				<p class="autor">{$comment.username}</p>
				<p class="autor right"> <strong>{$comment.crdate|date_format:"%d.%m"}{if $comment.crdate|date_format:"%Y" != $smarty.now|date_format:"%Y"}{$comment.crdate|date_format:".%Y"}{/if}</strong>&nbsp;{$comment.crdate|date_format:"%H:%M:%S"}</p>
				<p class="message{if $comment.action == 4}{* manual comment *} important{elseif $comment.action == 6}{* error message *} error_message{/if}">{$comment.comment}</p>
			{/foreach}

		</div>

		<div class="hide">
			<div>
				{if $DATA[i].hidden == 0}
					{if $IS_DUTY_EDITOR || $IS_ADMIN}
						<a href="index.php?{$URL_HIDE_UNHIDE}&article_visibility=hidden&article_uid={$DATA[i].uid}">
					{/if}
					<img title="{$LABEL.flag_published}" src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/stat_online.png" />
					{if $IS_DUTY_EDITOR || $IS_ADMIN}
						</a>
					{/if}
				{else}
					{if $IS_DUTY_EDITOR || $IS_ADMIN}
						<a href="index.php?{$URL_HIDE_UNHIDE}&article_visibility=visible&article_uid={$DATA[i].uid}">
					{/if}
					<img title="{$LABEL.flag_hidden}" src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/stat_offline.png" />
					{if $IS_DUTY_EDITOR || $IS_ADMIN}
						</a>
					{/if}
				{/if}
				{if $IS_DUTY_EDITOR}<a title="{$LABEL.flag_placement}" href="../mod7/index.php?tx_newspaper_mod7[articleid]={$DATA[i].uid}"><img src="../res/be/img/edit_placement.png" width="30" height="30"></a>{else}<img src="../res/be/img/gray.png" width="30" height="30">{/if}
				<a title="{$LABEL.flag_preview}" href="#" onclick="showArticlePreview({$DATA[i].uid}); return false;"><img src="../res/be/img/edit_preview.png" width="30" height="30"></a>
				<a title="{$LABEL.flag_edit} (#{$DATA[i].uid})" href="{$T3PATH}alt_doc.php?returnUrl=close.html&edit[tx_newspaper_article][{$DATA[i].uid}]=edit" target="_blank"><img src="../res/be/img/edit_edit.png" " width="30" height="30"></a>
				<a title="{$LABEL.flag_delete}" href="#" onclick="deleteArticle({$DATA[i].uid}); return false;"><img src="../res/be/img/edit_delete.png" width="30" height="30"></a>
				<a title="{$LABEL.messages_show} ({$DATA[i].workflowlog_v2|@sizeof})" href="#" onclick="toggle('messages{$DATA[i].uid}'); return false;"><img src="../res/be/css/arrow-270.png" id="b_messages{$DATA[i].uid}" alt="" width="30" height="30"></a>
			</div>
		</div>
	</div>
{/section}



</div>