{* debug *}

{literal}
<style type="text/css">

#tx_newspaper_mod3{
	width: 930px;
	padding :10px;
}

#tx_newspaper_mod3 body, p, a, td {	
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 11px;
	margin: 0;
	color: black;	
}

#tx_newspaper_mod3 a:hover {
	color:#C61940;
}

#tx_newspaper_mod3 h1 {
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
}

#tx_newspaper_mod3 .headline {
	text-transform: uppercase;
	border-bottom: 1px solid #AAA;
	margin-bottom: 20px;
	padding-bottom: 5px;
	width: 920px;
	font-size: 18px;
	font-weight: normal;
	color: #777;
	background: none;
}
	
/* filterbox */ 
	
#filter {
	position: absolute;
	padding: 10px;
	margin: 30px 0 0 650px;
	width: 250px;	
	background-color: #EFEDE4;
	border: 1px solid #AAA;
}

#filter br {
	clear: left;
}
	
#filter input, 
#filter select, 
#filter label,
#filter textarea 
{
	display: block;
	float: left;
	width: 150px; 
	margin-bottom: 5px;
}

#filter input[type="hidden"] {
	border:0;
	padding:0;
	margin:0;
	width:0;
}

#filter label {
	width: 100px; 
}

#filter .submit {
	padding:0;
	margin:15px 0 0 100px;
	width:150px;
}
	
/*  hits */ 
	
#browsePages {
	width: 630px;
	margin: 10px 30px 17px 0;
	text-align: center;
}

#browsePages a {	
	text-decoration: none;
	display: block;
}

#browsePages .left {	
	float: left;
	
}

#browsePages .right {	
	float: right;
}

#browsePages a.left {
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;	
    background-image: url(../res/be/img/arrow_left.gif);
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding: 2px 10px  8px 15px;
}

#browsePages a:hover.left {
	background-image: url(../res/be/img/arrow_left_over.gif);
}	

#browsePages a.right {
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;	
    background-image: url(../res/be/img/arrow_right.gif);
    background-repeat: no-repeat;
    background-position: right 2px;
    padding: 2px 15px  8px 0;
}

#browsePages a:hover.right {
	background-image: url(../res/be/img/arrow_right_over.gif);
}
	
/* liste */ 

#modlist {
	clear: left;
}
	
#modlist .number {
	color:#AAA;
	text-align: center;
	font: bold normal small-caps 15px Arial,sans-serif;
	padding-top: 21px;
}
	
#modlist h1 {
	color:#C61940;
	margin: 5px 0 0 0;
	font: bold normal 15px/15px Arial,sans-serif;
}
	
#modlist h2 {
	color:grey;
	font: 12px/12px bold normal Arial,sans-serif;
	background: none ;
	text-align:left;
	margin: 0;
	padding:0;
}	

#modlist a.more {
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;	
    background-image: url(../res/be/img/arrow_down.gif);
    background-repeat: no-repeat;
    background-position: -2px 3px;
    padding: 2px 8px  8px 13px;
}

#modlist a.more:hover {
	background-image: url(../res/be/img/arrow_down_over.gif);
}
	
#tx_newspaper_mod3 .comments p {
	color:grey;
	font-size: 9px;
	margin-bottom: 5px;
}

#modlist a.kicker {
	text-align: left;
}	
	
#tx_newspaper_mod3 table {
	table-layout: auto; 
	padding: 0; 
	margin: 0; 
	border-collapse: collapse; 
	width: 630px;
}
	
#tx_newspaper_mod3 td {
	vertical-align: top;
	border: 0;
	padding: 5px;
	/*border-right: 1px solid white;*/
}

#tx_newspaper_mod3 tr {
	border-right: 1px solid white;
}

#tx_newspaper_mod3 tr:hover.noborder{
	background-color: #EEE;
}
	
.bg1 {
	border-bottom: 2px solid #DDD;
}
	
.noborder {border: 0;}

.bg2 {
	background-color: #d0d0d0;
}
	
.kicker {		
	color: #999;
}
	
.comment_box {
	display: none;
	background-color: white;
} 

#tx_newspaper_mod3 .hide {
	position: absolute;
	display: none;
	z-index: 50;
	width: 70px;	
	border: 1px solid grey;
	padding: 5px;
	background-color: white;
	text-align: center;
	margin: -29px 0 0 36px;
}
	
#tx_newspaper_mod3 tr:hover .hide{
	position: absolute;
	display: block;
}
	
</style> 


<script language="javascript">

	var path = window.location.pathname;
	path = path.substring(0, path.lastIndexOf("/") - 5); // -5 -> cut of "typo3"

/// \todo: based from mod7, how to merge into 1 js file?
function showArticlePreview(article_uid) {
	window.open(
		path + "/mod7/index.php?tx_newspaper_mod7[controller]=preview&tx_newspaper_mod7[articleid]=" + article_uid, 
		"preview", 
		"width=800,height=500,left=100,top=100,resizable=yes,toolbar=no,location=no,scrollbars=yes"
	);
}

</script>


{/literal}

{$workflowlog_javascript} {* add once only for all comments *}


<div id="tx_newspaper_mod3">

<h1 class="headline">Produktionsliste</h1>

<form action="index.php" id="moderation"><input type="hidden" name="start_page" value="{$START_PAGE}" />

<div id="filter">
	
	<label>{$RANGE_LABEL}</label>
		<select name="range" onchange="this.form.submit()">
			{foreach from=$RANGE key=key item=value}
			{if $key == $_POST.range}
				<option selected="selected" value="{$key}">{$value}</option>
			{else}
				<option value="{$key}">{$value}</option>
			{/if}
			{/foreach}
		</select>
	
		
		
	<br />
	
	<label>{$HIDDEN_LABEL}</label>
		<select name="hidden" onchange="this.form.submit()">
			{foreach from=$HIDDEN key=key item=value}
			{if $key == $_POST.hidden}
				<option selected="selected" value="{$key}">{$value}</option>
			{else}
				<option value="{$key}">{$value}</option>
			{/if}
			{/foreach}
		</select>	
	<br />
	
	<label>{$ROLE_LABEL}</label> 
		<select name="role" onchange="this.form.submit()">
			{foreach from=$ROLE key=key item=value}
			{if $key == $_POST.role}
				<option selected="selected" value="{$key}">{$value}</option>
			{else}
				<option value="{$key}">{$value}</option>
			{/if}
			{/foreach}
		</select>
	<br />
	
	<label>{$AUTHOR_LABEL}</label> 
	<input type="text" name="author" value="{$_POST.author}" />  
	<br />

{* \todo: add section filter
{$SECTION_LABEL}: <input type="text" name="section" value="{$_POST.section}" />
*}
		
	<label>{$TEXTSEARCH_LABEL}</label> 
	<input type="text" name="text" value="{$_POST.text|escape:html}" /> 
	<br />
	
	<label>{$STEP_LABEL}</label> 
		<select name="step" onchange="this.form.submit()">
			{foreach from=$STEP item=value}
			{if $value == $_POST.step}
				<option selected="selected" value="{$value}">{$value}</option>
			{else}
				<option value="{$value}">{$value}</option>
			{/if}
			{/foreach}
		</select>
	<br />

	<input name="go" value="{$GO_LABEL}" type="submit" class="submit" />

</div>  <!-- filter close-->

</form>
<div id="browsePages">

{if $URL_PREV != ''}
<a class="left" href="index.php?{$URL_PREV}{if $FORM_TABLE} 
&form_table={$FORM_TABLE}&form_field={$FORM_FIELD}&form_uid={$FORM_UID}
{/if}">{$PAGE_PREV_LABEL}</a>
{/if}

	<strong> 
{$PAGE_HITS_LABEL} {$_POST.start_page*$_POST.step+1}
 - 
{if ($DATA|@sizeof < $_POST.step) } 
	{math equation="sp*st+sizeof" sp=$_POST.start_page st=$_POST.step sizeof=$DATA|@sizeof}
{else}
	{math equation="(sp+1)*st" sp=$_POST.start_page st=$_POST.step}
{/if}
 	</strong>

{if $URL_NEXT}
<a class="right" href="index.php?{$URL_NEXT}{if $FORM_TABLE}
&form_table={$FORM_TABLE}&form_field={$FORM_FIELD}&form_uid={$FORM_UID}
{/if}">{$PAGE_NEXT_LABEL}</a>
{/if}

</div>  <!--  close browsePages -->




<div id="modlist">

<table>
	<tr class="bg2">
		<td>{$LABEL_TITLE.number}</td>
		<td>{$LABEL_TITLE.article}</td>
		<td>{$LABEL_TITLE.author}</td>
		<td>{$LABEL_TITLE.be_user}</td>
		<td>{$LABEL_TITLE.modification_date}</td>
		<td width="30">{$LABEL_TITLE.visibility}</td>
			{$LABEL_TITLE.time_controlled}
	</tr>

{section name=i loop=$DATA}
	<tr class="bg1 noborder">
		<td class="number">{math equation="i+1+(st*sp)" i=$smarty.section.i.index sp=$_POST.start_page st=$_POST.step}</td> 	
		
		<td> 	
			<h2 class="kicker">{$DATA[i].kicker}</h2>
			<h1>{$DATA[i].title}</h1>      			
		</td>
		<td>{$DATA[i].author}</td>
		<td>{$DATA[i].be_user}</td>
		<td> <strong>{$DATA[i].tstamp|date_format:"%d.%m.%Y"}</strong><br /> {$DATA[i].tstamp|date_format:"%H:%I:%S"} </td>
		<td align="center">
  {if $DATA[i].hidden == 0}
    <a href="index.php?{$URL_HIDE_UNHIDE}&article_visibility=hidden&article_uid={$DATA[i].uid}">{$HIDE_ICON}</a>
  {else}
    <a href="index.php?{$URL_HIDE_UNHIDE}&article_visibility=visible&article_uid={$DATA[i].uid}">{$UNHIDE_ICON}</a>
  {/if}<br><br>
<!--
			</td>	
			<td>
--> 
{* <strong>{$DATA[i].???|date_format:"%d.%m.%Y"}</strong><br /> {$DATA[i].???|date_format:"%H:%I:%S"} *}
				{if ($DATA[i].starttime > 0 || $DATA[i].endtime > 0)}
					{if (($DATA[i].starttime == 0 || $DATA[i].starttime >= $smarty.now) && ($DATA[i].endtime == 0 || $DATA[i].endtime <= $smarty.now))}
						{$TIME_HIDDEN_ICON}
					{else}
						{$TIME_VISIBLE_ICON}
					{/if}
				{else}
					<strong> </strong><br />
				{/if}
			<div class="hide">
{if $IS_DUTY_EDITOR}<a href="../mod7/index.php?tx_newspaper_mod7[articleid]={$DATA[i].uid}"> {$ARTICLE_PLACEMENT_ICON} </a> {/if}&nbsp; 
<a href="#" onclick="showArticlePreview({$DATA[i].uid}); return false;">{$ARTICLE_PREVIEW_ICON}</a>&nbsp;
<a href="{$T3PATH}alt_doc.php?returnUrl=close.html&edit[tx_newspaper_article][{$DATA[i].uid}]=edit" target="_blank"> {$ARTICLE_EDIT_ICON} </a> 
			</div>
			</td>
	</tr>
	<tr class="bg1">
			<td></td>
			<td colspan="8" class="comments">
			<p>
			Samuel Talleux 	19.03.2010 12:16 Artikel publiziert <br />
			Samuel Talleux 	19.03.2010 12:12 <strong>Fehler korrigiert</strong><br />
			Helge Preuss 	19.03.2010 12:10 Artikel <br />
			</p>
		<div id="comments-45" class="comments">
			<a href="#" onclick="getComments(45); return false;" class="more">More</a>
		</div>
		</td>
	</tr> 
{/section}
	
</table> 
</div>