{* debug *}

<link rel="stylesheet" type="text/css" href="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/mod2/res/mod2.css" />

<script type="text/javascript" src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/mod2/res/mod2.js"> </script>
<script type="text/javascript" src="{$T3PATH}contrib/prototype/prototype.js"> </script>

{$workflowlog_javascript} {* add once only for all comments *}


<div id="tx_newspaper_mod3">

<h1 class="headline">{$LL.title}</h1>

<form action="index.php" id="moderation" name="moderation">

<input type="hidden" name="tx_newspaper_mod2[startPage]" id="tx_newspaper_mod2[startPage]" value="{$FILTER.startPage}" />


<div id="wizards"><a href="#" onclick="newArticle('{$MODULE5_PATH}');" return false;">{$ICON.wizard} {$LL.label_new_article}</a><br /></div>


<div id="filter">

	{* range *}
	<label>{$LL.label_range}</label>
		<select name="tx_newspaper_mod2[range]" onchange="submitFilter('reset_startpage');">
			{foreach from=$RANGE key=key item=value}
			{if $key == $FILTER.range}
				<option selected="selected" value="{$key}">{$value}</option>
			{else}
				<option value="{$key}">{$value}</option>
			{/if}
			{/foreach}
		</select>
	<br />

	{* hidden status *}
	<label>{$LL.label_status_hidden_field}</label>
		<select name="tx_newspaper_mod2[hidden]" onchange="submitFilter('reset_startpage');">
			{foreach from=$HIDDEN key=key item=value}
			{if $key == $FILTER.hidden}
				<option selected="selected" value="{$key}">{$value}</option>
			{else}
				<option value="{$key}">{$value}</option>
			{/if}
			{/foreach}
		</select>
	<br />

	{* role *}
	<label>{$LL.label_status_role}</label>
		<select name="tx_newspaper_mod2[role]" {if !$ROLE_FILTER_EQUALS_USER_ROLE}style="border:#cc0000 3px solid;" {/if}onchange="submitFilter('reset_startpage');">
			{foreach from=$ROLE key=key item=value}
			{if $key == $FILTER.role}
				<option selected="selected" value="{$key}">{$value}</option>
			{else}
				<option value="{$key}">{$value}</option>
			{/if}
			{/foreach}
		</select>
	<br />

	{* author *}
	<label>{$LL.label_author}</label>
	<input type="text" name="tx_newspaper_mod2[author]" value="{$FILTER.author|escape:html}" onkeyup="checkEnter(event.keyCode); return false;" />
	<br />

	{* be_user *}
	<label>{$LL.label_title_be_user}</label>
	<input type="text" name="tx_newspaper_mod2[be_user]" value="{$FILTER.be_user|escape:html}" onkeyup="checkEnter(event.keyCode); return false;" />
	<br />

	{* section *}
	<label>{$LL.label_section}</label>
	<input type="text" name="tx_newspaper_mod2[section]" value="{$FILTER.section|escape:html}" onkeyup="checkEnter(event.keyCode); return false;" />
	<br />

	{* text *}
	<label title="{$LL.flag_textsearch}">{$LL.label_textsearch}</label>
	<input type="text" name="tx_newspaper_mod2[text]" value="{$FILTER.text|escape:html}" onkeyup="checkEnter(event.keyCode); return false;" />
	<br />

	{* stop / items per page *}
	<label>{$LL.label_step_items_per_page}</label>
		<select name="tx_newspaper_mod2[step]" onchange=submitFilter('reset_startpage');>
			{foreach from=$STEP item=value}
			{if $value == $FILTER.step}
				<option selected="selected" value="{$value}">{$value}</option>
			{else}
				<option value="{$value}">{$value}</option>
			{/if}
			{/foreach}
		</select>
	<br />

	<input onclick="submitFilter('reset_startpage'); return false;" name="tx_newspaper_mod2[go]" value="{$LL.label_go}" type="button" class="submit" />

	<input onclick="submitFilter('reset'); return false;" name="tx_newspaper_mod2[reset_filter]" value="{$LL.label_reset_filter}" type="button" class="submit" />

</div>  <!-- filter close-->


</form>



<div id="browsePages">

{if $FILTER.startPage > 0}
<a class="left" href="#" onclick="browse(-1);">{$LL.label_page_prev}</a>
{/if}

	<strong>
{$LL.label_page_hits} {$FILTER.startPage*$FILTER.step+1}
 -
{if ($DATA|@sizeof < $FILTER.step) }
	{math equation="sp*st+sizeof" sp=$FILTER.startPage st=$FILTER.step sizeof=$DATA|@sizeof}
{else}
	{math equation="(sp+1)*st" sp=$FILTER.startPage st=$FILTER.step}
{/if}
 / {$RESULT_COUNT}
 	</strong>

{if $FILTER.startPage < $MAX_PAGE}
<a class="right" href="#" onclick="browse(1);">{$LL.label_page_next}</a>
{/if}

</div>  <!--  close browsePages -->




<div id="modlist">

	<div>
		<div class="listrow r1 head"><p>{$LL.label_state}</p></div>
		<div class="listrow r2 head"><p>{$LL.label_article}</p></div>
		<div class="listrow r3 head"><p>{$LL.label_messages}</p></div>
	</div>

{section name=i loop=$DATA}
	<div class="artikel">

		<div class="listrow r1 status{if
				$DATA[i].hidden == 0 &&
				($DATA[i].starttime == 0 || $DATA[i].starttime <= $smarty.now) &&
				($DATA[i].endtime == 0 || $DATA[i].endtime > $smarty.now)
			} online{/if}">
			{if $DATA[i].hidden == 0}
				{if $IS_DUTY_EDITOR || $IS_ADMIN}
					<a title="{$LL.label_hide}" class="statButton" href="#" onclick="changeArticleHiddenStatus({$DATA[i].uid}, 1);" }>
				{/if}
				<img src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/stat_online.png">
				{if $IS_DUTY_EDITOR || $IS_ADMIN}
					</a>
				{/if}
			{else}
				{if $IS_DUTY_EDITOR || $IS_ADMIN}
					<a title="{$LL.unhide}" class="statButton" href="#" onclick="changeArticleHiddenStatus({$DATA[i].uid}, 0);">
				{/if}
				<img src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/stat_offline.png">
				{if $IS_DUTY_EDITOR || $IS_ADMIN}
					</a>
				{/if}
			{/if}
			{if $DATA[i].starttime > 0 || $DATA[i].endtime > 0}
				{* so this is a time controlled article ... *}
				{if $DATA[i].starttime != 0 && $DATA[i].starttime > $smarty.now}
					{* not yet published *}
					<span title="{$DATA[i].time_controlled_not_yet}"><img src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/watch_yellow.gif" class="statWatch"></span>
				{elseif $DATA[i].endtime != 0 && $DATA[i].endtime < $smarty.now}
					{* publish time exceeded - will never be visible again *}
					<span title="{$DATA[i].time_controlled_not_anymore}"><img src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/watch_red.gif" class="statWatch"></span>
				{elseif $DATA[i].endtime != 0 && $DATA[i].endtime >= $smarty.now}
					{* article is online, but will be offline in future; endtime is set *}
					<span title="{$DATA[i].time_controlled_now_but_will_end}"><img src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/watch_green.gif" class="statWatch"></span>
				{elseif $DATA[i].starttime != 0 && $DATA[i].starttime <= $smarty.now && $DATA[i].endtime == 0}
					{* article is online, and will remain online; endtime is NOT set *}
					<span title="{$DATA[i].time_controlled_now_and_future}"><img src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/watch_normal.gif" class="statWatch"></span>
				{/if}
			{else}
				<span><img src="clear.gif" width="14" height="14" class="statWatch"></span>
			{/if}

			<p class="statRole bg_wf{$DATA[i].workflow_status}">{$DATA[i].workflow_status_TITLE}</p>
		</div>

		<div class="listrow r2">
			<h2 class="kicker">{if $LOCKED_ARTICLE[i].username != ''}{$RECORD_LOCKED_ICON|replace:'###LOCK_MSG###':$LOCKED_ARTICLE[i].msg|escape:"htlmall"}{/if}{$DATA[i].kicker}</h2>
			<h1>{$DATA[i].title}</h1>
			<div class="titelinfo">{* year is shown only if tstamp year does NOT equal the current year *}
				<p>
					{if $DATA[i].author}{$LL.label_by_part} {$DATA[i].author}<br />{/if}
					{if $DATA[i].publish_date}
						{$LL.label_published}:
						<strong>{$DATA[i].publish_date|date_format:"%d.%m"}{if $DATA[i].publish_date|date_format:"%Y" != $smarty.now|date_format:"%Y"}{$DATA[i].publish_date|date_format:".%Y"}{/if}</strong>&nbsp;{$DATA[i].publish_date|date_format:"%H:%M:%S"}
					{else}
						{if $DATA[i].hidden}
							<i>{$LL.label_not_yet_published}</i>
						{else}
							<span class="red"><i>{$LL.label_not_yet_published_BUT_ONLINE}</i></span>
						{/if}
					{/if}
				<br />
				{$DATA[i].sections}</p>
			</div>
		</div>

		<div class="listrow r3">
			{foreach from=$DATA[i].workflowlog_v2 item=comment}
				<p class="autor">{$comment.username}</p>
				<p class="autor right"> <strong>{$comment.crdate|date_format:"%d.%m"}{if $comment.crdate|date_format:"%Y" != $smarty.now|date_format:"%Y"}{$comment.crdate|date_format:".%Y"}{/if}</strong>&nbsp;{$comment.crdate|date_format:"%H:%M:%S"}</p>
				<p class="message{if $comment.action == 4}{* manual comment *} important{elseif $comment.action == 6}{* error message *} error_message{/if}">{$comment.comment}</p>
			{/foreach}
		</div>

			<!-- All Messages / hidden -->

			<div id="messages{$DATA[i].uid}" class="allMessages">

{* \todo: message are rendered twice -> only one should be used ... *}
			{foreach from=$DATA[i].workflowlog_v2 item=comment}
				<p class="autor">{$comment.username}</p>
				<p class="autor right"> <strong>{$comment.crdate|date_format:"%d.%m"}{if $comment.crdate|date_format:"%Y" != $smarty.now|date_format:"%Y"}{$comment.crdate|date_format:".%Y"}{/if}</strong>&nbsp;{$comment.crdate|date_format:"%H:%M:%S"}</p>
				<p class="message{if $comment.action == 4}{* manual comment *} important{elseif $comment.action == 6}{* error message *} error_message{/if}">{$comment.comment}</p>
			{/foreach}

		</div>

		<div class="hide">
			<div>
				{if $DATA[i].hidden == 0}
					{if $IS_DUTY_EDITOR || $IS_ADMIN}
						<a href="#" onclick="changeArticleHiddenStatus({$DATA[i].uid}, 1);">
					{/if}
					<img title="{$LL.label_hide}" src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/stat_online.png" />
					{if $IS_DUTY_EDITOR || $IS_ADMIN}
						</a>
					{/if}
				{else}
					{if $IS_DUTY_EDITOR || $IS_ADMIN}
						<a href="#" onclick="changeArticleHiddenStatus({$DATA[i].uid}, 0);">
					{/if}
					<img title="{$LL.label_unhide}" src="{$ABSOLUTE_PATH}typo3conf/ext/newspaper/res/be/img/stat_offline.png" />
					{if $IS_DUTY_EDITOR || $IS_ADMIN}
						</a>
					{/if}
				{/if}
				{if $IS_DUTY_EDITOR}<a title="{$LL.label_article_placement}" href="#" onclick="openPlacementMask({$DATA[i].uid}); return false;"><img src="../res/be/img/edit_placement.png" width="30" height="30"></a>{else}<img src="../res/be/img/gray.png" width="30" height="30">{/if}
				<a title="{$LL.label_preview_article}" href="#" onclick="showArticlePreview({$DATA[i].uid}); return false;"><img src="../res/be/img/edit_preview.png" width="30" height="30"></a>
				<a title="{$LL.label_edit_article} (#{$DATA[i].uid})" href="{$T3PATH}alt_doc.php?returnUrl={$ABSOLUTE_PATH}/typo3conf/ext/newspaper/mod2/res/returnUrl.html&edit[tx_newspaper_article][{$DATA[i].uid}]=edit" target="_blank"><img src="../res/be/img/edit_edit.png" " width="30" height="30"></a>
				<a title="{$LL.label_delete_article}" href="#" onclick="deleteArticle({$DATA[i].uid}, '{$LL.message_delete_article}'); return false;"><img src="../res/be/img/edit_delete.png" width="30" height="30"></a>
				<a title="{$LL.label_messages_show} ({$DATA[i].workflowlog_v2|@sizeof})" href="#" onclick="toggleCommentProdList('messages{$DATA[i].uid}'); return false;"><img src="../res/be/css/arrow-270.png" id="b_messages{$DATA[i].uid}" alt="" width="30" height="30"></a>
			</div>
		</div>
	</div>
{/section}



</div>