{* debug *}

{if !$input.action}
	<div> {$LL.label_admin_wizard_please_chose} </div>
	<div><a href="">{$LL.label_admin_wizard_pagezone_activate}</a> </div>
	<div><a href="">{$LL.label_admin_wizard_pagezone_deactivate}</a> </div>
{else}

{/if}