{* debug *}

<script type="text/javascript" src="contrib/prototype/prototype.js"> </script>
{include file="mod3.css"} {* css for processing extras *}
<script type="text/javascript">
    {include file="mod3.js"}  {* js for extra processing extras *}
</script>

{literal}
<style type="text/css">
/* additional CSS / Moderationsliste */

body {
	padding-left:20px;
	background-color:white;
}

#tx_newspaper_mod3{
	width:930px;
	padding:10px;
}

#tx_newspaper_mod3 body, p, a, td {
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:11px;
	margin:0;
	color:black;
}

#tx_newspaper_mod3 a:hover {
	color:#c61940;
}

#tx_newspaper_mod3 h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:left;
}

#tx_newspaper_mod3 .headline {
	text-transform:uppercase;
	border-bottom:1px solid #AAA;
	margin-bottom:20px;
	padding-bottom:5px;
	width:920px;
	font-size:18px;
	font-weight:normal;
	color:#777;
}

/* filterbox */

#filter {
	position:absolute;
	padding:10px;
	margin:30px 0 0 650px;
	width:250px;
	background-color:#EFEDE4;
	border:1px solid #AAA;
}

#filter br {
	clear:left;
}

#filter input,
#filter select,
#filter label,
#filter textarea
{
	display:block;
	float:left;
	width:145px;
	margin-bottom:5px;
}

#filter label {
	width:100px;
	margin-left:5px;
}

#filter .submit {
	padding:0;
	margin:15px 0 0 100px;
	width:150px;
}

#clipboard {
	margin-top:18px;
}

/*  hits */

#browsePages {
	width:630px;
	margin:10px 30px 17px 0;
	text-align:center;
}

#browsePages a {
	text-decoration:none;
	display:inline;
}

#browsePages .left {
	float:left;
}

#browsePages .right {
	float:right;
}

#browsePages a.left {
  text-decoration:none;
  font-size:10px;
  text-transform:uppercase;
  background-image:url(arrow_left.gif);
  background-repeat:no-repeat;
  background-position:0 2px;
  padding:2px 10px 8px 15px;
}

#browsePages a:hover.left {
	background-image:url(arrow_left_over.gif);
}

#browsePages a.right {
  text-decoration:none;
  font-size:10px;
  text-transform:uppercase;
  background-image:url(arrow_right.gif);
  background-repeat:no-repeat;
  background-position:right 2px;
  padding:2px 15px 8px 0;
}

#browsePages a:hover.right {
  background-image:url(arrow_right_over.gif);
}

/* list */

#modlist {
	clear:left;
}

#modlist .number {
	color:#AAA;
	text-align:center;
	font:bold normal small-caps 15px Arial,sans-serif;
	padding-top:21px;
}

#modlist h1 {
	color:#C61940;
	margin:5px 0 0 0;
	font:bold normal 15px/15px Arial,sans-serif;
}

#modlist h2 {
	color:grey;
	font:12px/12px bold normal Arial,sans-serif;
	background:none ;
	text-align:left;
	margin:0;
	padding:0;
}

#modlist a.more {
	text-decoration:none;
	font-size:10px;
	text-transform:uppercase;
  background-image:url(arrow_down.gif);
  background-repeat:no-repeat;
  background-position:-2px 3px;
  padding:2px 8px  8px 13px;
}


#modlist a.more:hover {
	background-image:url(arrow_down_over.gif);
}

#tx_newspaper_mod3 .comments p {
	color:grey;
	font-size:9px;
	margin-bottom:5px;
}

#modlist a.kicker {
	text-align:left;
}

#tx_newspaper_mod3 table {
	table-layout:auto;
	padding:0;
	margin:0;
	border-collapse:collapse;
	width:630px;
}

#tx_newspaper_mod3 td {
	vertical-align:top;
	border:0;
	padding:5px;
}

#tx_newspaper_mod3 tr {
	border-right:1px solid white;
}

#tx_newspaper_mod3 tr:hover.noborder{
	background-color:#EFEDE4;
}

.noborder {
  border:0;
}

#tx_newspaper_mod3 .hide {
	position:absolute;
	display:none;
	z-index:50;
	width:120px;
	border:1px solid grey;
	padding:5px;
	background-color:white;
	text-align:center;
	margin: -5px 0 0 8px;
}

#tx_newspaper_mod3 .hide .best {
	margin:-28px 0 0 -20px;
}

#tx_newspaper_mod3 tr:hover .hide{
	position:absolute;
	display:block;
}
</style>
{/literal}














	<!-- Section content -->

<div id="tx_newspaper_mod3">
{if (!$IS_CONCRETE_ARTICLE)}
	<h1 class="headline">{$LABEL.title}</h1>
{/if}

{section name=i loop=$DATA}
	{if $smarty.section.i.last && !$IS_CONCRETE_ARTICLE} {* render filter once only, align to current pagezone, so use last iteration *}
		<form>
		<div id="filter">
			{if (!$IS_CONCRETE_ARTICLE)}
				{* checkbox:show levels above for pagezone_page and default article *}
				<input type="checkbox" {if $SHOW_LEVELS_ABOVE}checked="checked" {/if} onchange="javascript:toggle_show_levels_above(this.checked);" />
				<label>{$LABEL.show_levels_above}</label>
			{/if}

			{* Dropdown for page and page zone for last (=selected) section only (and if NOT concrete article) *}
			{if !$IS_CONCRETE_ARTICLE && $smarty.section.i.last} {* yes, this condition if checked twice ..... *}

				<select  onchange="page_type_change(this.value)">
				{section name=j loop=$PAGETYPE}
					{if $PAGETYPE[j]->getUid() == $DATA[i].page_type->getUid()}
						<option selected="selected"
					{else}
						<option
					{/if} value="{$PAGETYPE[j]->getUid()}">{$PAGETYPE[j]->getAttribute('type_name')}</option>
				{/section}
				</select>
				<label>{$LABEL.pagetype}</label>

				<select  onchange="pagezone_type_change(this.value)">
				{section name=j loop=$PAGEZONETYPE}
					{if $PAGEZONETYPE[j]->getUid() == $DATA[i].pagezone_type->getUid()}
						<option selected="selected"
					{else}
						<option
					{/if} value="{$PAGEZONETYPE[j]->getUid()}">{$PAGEZONETYPE[j]->getAttribute('type_name')}</option>
				{/section}
				</select>
				<label>{$LABEL.pagezonetype}</label>

				<select onchange="inheritancesource_change({$DATA[i].pagezone_id}, this.value)">
{* 0 -> default inheritance mode, read upper level *}
					<option value="0" {if ($DATA[i].inherits_from == 0)}selected="selected"{/if}>{$LABEL.pagezone_inheritancesource_upper}</option>
{* page zone being activated for other page on the same level *}
					{section name=j loop=$INHERITANCESOURCE}
						{if $INHERITANCESOURCE[j]->getAbstractUid() == $DATA[i].inherits_from}
							<option selected="selected"
						{else}
							<option
						{/if} value="{$INHERITANCESOURCE[j]->getAbstractUid()}">{$INHERITANCESOURCENAME[j]}{if $ADMIN && $DEBUG_OUTPUT} [#{$INHERITANCESOURCE[j]->getAbstractUid()}]{/if}</option>
					{/section}
{* -1 -> no inheritance *}
					<option value="-1" {if ($DATA[i].inherits_from == -1)}selected="selected" {/if}>{$LABEL.pagezone_inheritancesource_none}</option>
{* future feature; <option value="-2" {if ($DATA[i].inherits_from == -1)}selected="selected" {/if}>\todo:use TSConfig setting</option> *}
				</select>
				<label>{$LABEL.pagezone_inheritancesource}</label>

			{/if}

{*
// see #1655 \todo: nake tsconfigurable
			{if !$IS_CONCRETE_ARTICLE && $DATA[0].pagezone_type->getAttribute('is_article') == 0}
				* dummy button for pagezone_page only *
				<br /><br /><a href="javascript:extra_insert_after_dummy(0, {$DATA[i].pagezone_id});">{$DUMMY_ICON}</a>
			{/if}
*}

			{* \todo, see #653 *}
		 	{* checkbox:deactivate moving and adding extras *}
			{* checkbox:show visible extras only *}
			{*	<input type="checkbox" {if $SHOW_VISIBLE_ONLY}checked="checked" {/if} onchange="javascript:toggle_show_visible_only(this.checked);" /> {$LABEL.show_visible_only} *}
			{* dropdown:tagzone extra visibility (yes, no, only) *}


{if $CLIPBOARD}
<div id="clipboard">

<b>{$LABEL.clipboard}</b><br />

{if $CLIPBOARD.type == 'copy'}
	{$LABEL.clipboard_copied}
{else}
	{$LABEL.clipboard_cut}
{/if}<br />

{$CLIPBOARD_DATA.pz}<br />
{$CLIPBOARD_DATA.e}<br />

<br />

<a href="javascript:clear_clipboard();">{$CLEAR_CLIPBOARD_ICON} {$LABEL.clear_clipboard}</a>
</div>
{/if}


		</div>  <!-- filter close-->





		</form>
	{/if}

		<div id="browsePages">
			<p class="left"> <strong>

{if !$IS_CONCRETE_ARTICLE}
	{foreach name=np_section item=s from=$DATA[i].section}{$s->getAttribute('section_name')}{* split here to avoid whitespace in html code *}{if
			($ADMIN && $DEBUG_OUTPUT)}<span title="Section id">[{$s->getUid()}]</span>{/if}{if $smarty.foreach.np_section.last != 1}/{/if}{/foreach}
	 :{$DATA[i].page_type->getAttribute('type_name')}
	{if ($ADMIN && $DEBUG_OUTPUT)}
	 	[<span title="Page id">{$DATA[i].page_id}</span>|<span title="Abstract Pagezone id">{$DATA[i].pagezone_id}</span>|<span title="Concrete Pagezone id">{$DATA[i].pagezone_concrete_id}</span>|<span title="Inheritance source. 0:default, -1:none; else:Abstract Pagezone id">{$DATA[i].inherits_from}</span>]
	{/if}
			</strong></p>
			<a href="#" onclick="extra_insert_after(0, {$DATA[i].pagezone_id}, {if ($DATA[i].pagezone_type->getAttribute('is_article') == 1)}0{else}false{/if}, false, 0); return false;">{$NEW_TOP_ICON}</a>

			{if $CLIPBOARD} {* clipboard filled *}
				{if $CLIPBOARD.type == 'cut'} {* cut/paste = move *}
			  		<a href="javascript:extra_paste(0, {$DATA[i].pagezone_id}, '{$LABEL.extra_cut_paste_confirm}');">{$CUT_PASTE_ICON}</a>
			  	{else} {* copy/paste = copy *}
			  		<a href="javascript:extra_paste(0, {$DATA[i].pagezone_id}, '{$LABEL.extra_copy_paste_confirm}');">{$COPY_PASTE_ICON}</a>
			  	{/if}
			{/if}

{/if}
		</div>  <!--  close browsePages -->


	{if $PAGEZONE[i] != false || $IS_CONCRETE_ARTICLE}
		{* always render for concrete articles, even if empty because shortcuts for extras might be rendered *}
		{$PAGEZONE[i]} {* pagezones are rendered separately *}
	{else}
		<div style="margin-bottom:22px;">{$MESSAGE.pagezone_empty}</div>
	{/if}

{/section}

	</div>
<script type="text/javascript">
    top.NpBackend.hideProgress();
</script>