{debug}
{literal}
    <style type="text/css">
        #extra_tabs, #extra_tabs  ul  {margin: 0; padding: 0 3px 0 0; float: left; width: 100%}
        #extra_tabs ul li {
            display: inline;
            padding: 5px;
            margin: 0 0 0 0;
            border: solid 1px;
            border-bottom: none;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-topright: 3px;
             float: left;
        }
        #extra_tabs ul li a { display: inline; padding: 5px 10px; color: #666666; }
        #extra_tabs ul li a.extra_tab_act { display: inline; padding: 5px 10px; color: #000000; }

    </style>
    <script language="text/JavaScript">

    </script>
{/literal}

<div id="extra_tabs">
    <ul>
        {foreach from=$EXTRA_DATA item=extra}
        <li>
            <a href="#" onclick="tabManagement.show('{$extra.concrete_table}', {$extra.concrete_uid}); this.blur(); return false;">{$extra.extra_type}</a>
        </li>
        {/foreach}
    </ul>
    {foreach from=$EXTRA_DATA item=extra}
        <div id="{$extra.concrete_table}_{$extra.concrete_uid}" class="extra_tab"></div>
    {/foreach}
    </div>
</div>