{* debug *}
{* tx_newspaper_be->renderExtraInArticle generates extra backend in article *}

{if ($IS_CONCRETE_ARTICLE)}
<div id="extras"> {* only list of extras will be reloaded in article *}
	{if $SHORTCUT}
		<div style="margin-bottom: 7px;">
		{$LABEL.shortcuts}<br />
		{foreach from=$SHORTCUT item=extra}
			{* create new empty extra configured in tsconfig *}
			<a href="javascript:extra_shortcut_create({$DATA.article_id}, '{$extra.extra_class}', 0, {$extra.paragraph});">{$SHORTCUT_NEWEXTRA_ICON} {$extra.title}</a>
			<br />
	 	{/foreach}
	 	</div>
	 {/if}

	<a href="#" onclick="extra_insert_after(0, {$DATA.pagezone_id}, 0, true, 1); return false;">{$NEW_TOP_ICON}</a><br />

{/if}
<script language="javascript" >
	{section name=i loop=$EXTRA_DATA} {* store default values for paragraphs *}
		document.def_para[{$EXTRA_DATA[i].uid}] = {$EXTRA_DATA[i].paragraph};
		document.def_notes[{$EXTRA_DATA[i].uid}] = '{$EXTRA_DATA[i].notes|escape:'quotes'}';
	{/section}
</script>

{if $EXTRA_DATA}
<table class="mod3_table">
<tr>
	<td class="mod3_td">{$LABEL.extra}</td>
	{if (!$IS_CONCRETE_ARTICLE)}<td class="mod3_td">{$LABEL.notes}</td> {/if}
	<td  class="mod3_td" align="center">{$LABEL.show}</td>
	{if (!$IS_CONCRETE_ARTICLE)}<td class="mod3_td" align="center">{$LABEL.pass_down}</td> {/if}
	{if (!$IS_CONCRETE_ARTICLE)}<td class="mod3_td" align="center">{$LABEL.inherits_from}</td> {/if}
	<td class="mod3_td" align="center">{$LABEL.paragraph}</td>
	<td class="mod3_td">{$LABEL.commands}</td>
	{if $USE_TEMPLATE_SETS}
		<td class="mod3_td">{$LABEL.templateset}</td>
	{/if}
	{if ($DEBUG_OUTPUT && $ADMIN)}
		<td class="mod3_td" align="center">pos</td>
		<td class="mod3_td" align="center">origin</td>
		<td class="mod3_td" align="center">uid</td>
		<td class="mod3_td" align="center">concr.</td>
	{/if}
</tr>
	{section name=i loop=$EXTRA_DATA}
		{if ($EXTRA_DATA[i].bg_color_type == 0)}
			<tr class="bg1">
		{else}
			<tr class="bg2">
		{/if}
{* note *}
				<td class="mod3_td"> <span class="gray">{$EXTRA_DATA[i].extra_type}</span><br />{$EXTRA_DATA[i].title} </td>
				{if (!$IS_CONCRETE_ARTICLE)}
					<td class="mod3_td" id="notes_td_{$EXTRA_DATA[i].uid}">
						<input id="notes_{$EXTRA_DATA[i].uid}" onfocus="enterField({$EXTRA_DATA[i].uid}, 'notes'); return false;" style="width: 100px" type="text" value='{$EXTRA_DATA[i].notes|escape:'html'}' />
						<span style="display: none" id="save_notes_{$EXTRA_DATA[i].uid}"> <a href="#" onclick="saveField({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, 'notes', 0); return false;">{$SAVE_ICON}</a> <a href="#" onclick="undoField({$EXTRA_DATA[i].uid}, 'notes'); return false;">{$UNDO_ICON}</a></span>
					</td>
				{/if}
{* show *}
				<td class="mod3_td" align="center">
					{if $EXTRA_DATA[i].show == 0}
					<input id="show_extra_{$EXTRA_DATA[i].uid}" type="checkbox" onchange="extra_set_show({$EXTRA_DATA[i].uid});" />
					{else}
					<input id="show_extra_{$EXTRA_DATA[i].uid}" type="checkbox" onchange="extra_set_show({$EXTRA_DATA[i].uid});" checked="checked" />
					{/if}
				</td>
				{if (!$IS_CONCRETE_ARTICLE)}
{* pass down *}
					<td class="mod3_td" align="center">
						{if $EXTRA_DATA[i].pass_down == 0}
						<input type="checkbox" onchange="extra_set_pass_down({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, 1);" />
						{else}
						<input type="checkbox" onchange="extra_set_pass_down({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, 0);" checked="checked" />
						{/if}
					</td>
				{/if}
				{if (!$IS_CONCRETE_ARTICLE)}<td class="mod3_td"> {$EXTRA_DATA[i].inherits_from} </td> {/if}
{* paragraph *}
				<td class="mod3_td" id="para_td_{$EXTRA_DATA[i].uid}" align="center">
					<input id="para_{$EXTRA_DATA[i].uid}" onfocus="enterField({$EXTRA_DATA[i].uid}, 'para');" style="width: 30px" type="text" value="{$EXTRA_DATA[i].paragraph}" />
					<span style="display: none" id="save_para_{$EXTRA_DATA[i].uid}"> <a href="#" onclick="saveField({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, 'para', {if ($IS_CONCRETE_ARTICLE)}1{else}0{/if}); return false;">{$SAVE_ICON}</a> <a href="#" onclick="undoField({$EXTRA_DATA[i].uid}, 'para'); return false;">{$UNDO_ICON}</a></span>
				</td>

				<td class="mod3_td">
{* edit *}
					{if $EXTRA_DATA[i].origin_placement == true || $IS_CONCRETE_ARTICLE}
					  <a href="javascript:extra_edit('{$EXTRA_DATA[i].concrete_table}', {$EXTRA_DATA[i].concrete_uid}, {$DATA.article_id}, {if ($IS_CONCRETE_ARTICLE)}1{else}0{/if});">{$EDIT_ICON}</a>
					{else}
					  {$EMPTY_ICON}
					{/if}

{* new after *}
					<a href="javascript:extra_insert_after({$EXTRA_DATA[i].origin_uid}, {$DATA.pagezone_id}, {$EXTRA_DATA[i].paragraph}, false, {if ($IS_CONCRETE_ARTICLE)}1{else}0{/if});">{$NEW_BELOW_ICON}</a>

{* move up/down *}
					{* calculate index for origin uid for moving extras up and down *}
					{math assign="index_minus_one" equation="x-1" x=$smarty.section.i.index}
					{math assign="index_minus_two" equation="x-2" x=$smarty.section.i.index}
					{math assign="index_plus_one" equation="x+1" x=$smarty.section.i.index}
{* |i-1:{$EXTRA_DATA[$index_plus_one].paragraph}|i:{$EXTRA_DATA[i].paragraph}| *}
{* |{$EXTRA_DATA[$index_minus_one].origin_uid}|{$EXTRA_DATA[$index_minus_two].origin_uid}| *}
					{if $EXTRA_DATA[$index_minus_one].paragraph != $EXTRA_DATA[i].paragraph}
					  {$EMPTY_ICON}
					{else}
					  {if !$EXTRA_DATA[$index_minus_two].origin_uid}
					    <a href="javascript:extra_move_after(0, {$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, {if ($IS_CONCRETE_ARTICLE)}1{else}0{/if});">{$MOVE_UP_ICON}</a> {* move to top *}
					  {else}
						<a href="javascript:extra_move_after({$EXTRA_DATA[$index_minus_two].origin_uid}, {$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, {if ($IS_CONCRETE_ARTICLE)}1{else}0{/if});">{$MOVE_UP_ICON}</a>
					  {/if}
					{/if}
					{if $EXTRA_DATA[$index_plus_one].paragraph == $EXTRA_DATA[i].paragraph}
					  <a href="javascript:extra_move_after({$EXTRA_DATA[$index_plus_one].origin_uid}, {$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, {if ($IS_CONCRETE_ARTICLE)}1{else}0{/if});">{$MOVE_DOWN_ICON}</a>
					{else}
					  {$EMPTY_ICON}
					{/if}

{* delete *}
					{if $EXTRA_DATA[i].origin_placement == true || $IS_CONCRETE_ARTICLE}
					  <a href="javascript:extra_delete({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, '{$LABEL.extra_delete_confirm}', {if ($IS_CONCRETE_ARTICLE)}1{else}0{/if});">{$DELETE_ICON}</a>
					{else}
					  {$EMPTY_ICON}
					{/if}

				</td>
{* template set *}
				{if $USE_TEMPLATE_SETS}
					<td class="mod3_td">{$EXTRA_DATA[i].template_set_HTML}</td>
				{/if}
			{if ($DEBUG_OUTPUT && $ADMIN)}
				{* if td's are added here, do add them to the table header too *}
				<td class="mod3_td">{$EXTRA_DATA[i].position}</td>
				<td class="mod3_td">{$EXTRA_DATA[i].origin_uid}</td>
				<td class="mod3_td">{$EXTRA_DATA[i].uid}</td>
				<td class="mod3_td">{$EXTRA_DATA[i].concrete_uid}</td>
			{/if}
			</tr>
	{/section}
</table>
{else}
	<div style="margin-bottom: 22px;">{$MESSAGE.pagezone_empty}</div>
{/if}
{if ($IS_CONCRETE_ARTICLE)}</div> {/if}