{*debug*}

<script language="javascript" >
	{section name=i loop=$EXTRA_DATA} {* store default values for paragraphs *}
		document.def_notes[{$EXTRA_DATA[i].uid}] = '{$EXTRA_DATA[i].notes|escape:'quotes'}';
	{/section}
</script>


<table style="margin-bottom:30px;">
{if $IS_CURRENT}
	<tr class="bg2"> {* currently edited page zone *}
{else}
	<tr class="bg1"> {* page zone from levels above the currently edited pagezone *}
{/if}
		<td style="width:160px">{$LABEL.extra}</td>
		<td>{$LABEL.notes}</td>
		<td>{$LABEL.show}</td>
		<td>{$LABEL.pass_down}</td>
		<td>{$LABEL.inherits_from}</td>
		{if $USE_TEMPLATE_SETS}
			<td class="mod3_td">{$LABEL.templateset}</td>
		{/if}
		<td>{$LABEL.commands}</td>
		<td> &nbsp; </td>
		{if ($DEBUG_OUTPUT && $ADMIN)}
			<td class="mod3_td" align="center">pos</td>
			<td class="mod3_td" align="center">origin</td>
			<td class="mod3_td" align="center">uid</td>
			<td class="mod3_td" align="center">concr.</td>
		{/if}
	</tr>
{section name=i loop=$EXTRA_DATA}
{if $EXTRA_DATA[i].origin_placement == true}
	<tr class="bg1 noborder"> {* placed extra, so it can be edited *}
{else}
	<tr class="bg1 noborder"> {* inherited extra, so it CAN'T be edited *}
{/if}
		<td><span class="gray">{$EXTRA_DATA[i].extra_type}</span><br />{$EXTRA_DATA[i].title}</td>
		<td class="mod3_td" id="notes_td_{$EXTRA_DATA[i].uid}">
			<input id="notes_{$EXTRA_DATA[i].uid}" onfocus="enterField({$EXTRA_DATA[i].uid}, 'notes'); return false;" style="width: 100px" type="text" value='{$EXTRA_DATA[i].notes|escape:'html'}' />
			<span style="display: none" id="save_notes_{$EXTRA_DATA[i].uid}"> <a href="#" onclick="saveField({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, 'notes', 0); return false;">{$SAVE_ICON}</a> <a href="#" onclick="undoField({$EXTRA_DATA[i].uid}, 'notes'); return false;">{$UNDO_ICON}</a></span>
		</td>
		<td>
			{if $EXTRA_DATA[i].show == 0}
				<input id="show_extra_{$EXTRA_DATA[i].uid}" type="checkbox" onchange="extra_set_show({$EXTRA_DATA[i].uid});" />
			{else}
				<input id="show_extra_{$EXTRA_DATA[i].uid}" type="checkbox" onchange="extra_set_show({$EXTRA_DATA[i].uid});" checked="checked" />
			{/if}
		</td>
		<td>
			{if $EXTRA_DATA[i].pass_down == 0}
				<input type="checkbox" onchange="extra_set_pass_down({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, 1);" />
			{else}
				<input type="checkbox" onchange="extra_set_pass_down({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, 0);" checked="checked" />
			{/if}
		</td>
		<td> {$EXTRA_DATA[i].inherits_from} </td>
		{if $USE_TEMPLATE_SETS}
		<td class="mod3_td">{$EXTRA_DATA[i].template_set_HTML}</td>
		{/if}
		<td style="text-align: center;">


{* move up/down *}
			{* calculate index for origin uid for moving extras up and down *}
			{math assign="move_up_after_index" equation="x-2" x=$smarty.section.i.index}
			{math assign="move_down_after_index" equation="x+1" x=$smarty.section.i.index}
			{if $smarty.section.i.index == 0}
			  {$EMPTY_ICON}
			{else}
			  {if $move_up_after_index < 0}
			    <a href="javascript:extra_move_after(0, {$DATA.pagezone_id}, {$EXTRA_DATA[i].uid});">{$MOVE_UP_ICON}</a> {* move to top *}
			  {else}
				<a href="javascript:extra_move_after({$EXTRA_DATA[$move_up_after_index].origin_uid}, {$DATA.pagezone_id}, {$EXTRA_DATA[i].uid});">{$MOVE_UP_ICON}</a>
			  {/if}
			{/if}
			{if $smarty.section.i.index < $smarty.section.i.total-1}
			  <a href="javascript:extra_move_after({$EXTRA_DATA[$move_down_after_index].origin_uid}, {$DATA.pagezone_id}, {$EXTRA_DATA[i].uid});">{$MOVE_DOWN_ICON}</a>
			{else}
			  {$EMPTY_ICON}
			{/if}
{*
			<a href="javascript:extra_move_after(159, 4, 174);"><img src="../res/be/css/arrow_up.gif" title="Move down" alt=""></a><br />
			<a href="javascript:extra_move_after(159, 4, 174);"><img src="../res/be/css/arrow_down.gif" title="Move down" alt=""></a>
*}
			</td><td class="placementcell">
			<div class="hide best">
{* new after *}
				<a href="javascript:extra_insert_after({$EXTRA_DATA[i].origin_uid}, {$DATA.pagezone_id}, false, false);">{$NEW_BELOW_ICON}</a>

{* edit *}
				{if $EXTRA_DATA[i].origin_placement == true}
				  <a href="javascript:extra_edit('{$EXTRA_DATA[i].concrete_table}', {$EXTRA_DATA[i].concrete_uid}, -1, 0);">{$EDIT_ICON}</a>
				{else}
				  {$EMPTY_ICON}
				{/if}


{* copy *}
				{if $EXTRA_DATA[i].origin_placement}
				  <a href="javascript:extra_copy({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid});">{$COPY_ICON}</a>
				{else}
				  {$EMPTY_ICON}
				{/if}
{* cut *}
				{if $EXTRA_DATA[i].origin_placement}
				  <a href="javascript:extra_cut({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid});">{$CUT_ICON}</a>
				{else}
				  {$EMPTY_ICON}
				{/if}
{* paste *}
				{if $CLIPBOARD} {* clipboard filled *}
					{if $CLIPBOARD.type == 'cut'} {* cut/paste = move *}
				  		<a href="javascript:extra_paste({$EXTRA_DATA[i].origin_uid}, {$DATA.pagezone_id}, '{$LABEL.extra_cut_paste_confirm}');">{$CUT_PASTE_ICON}</a>
				  	{else} {* copy/paste = copy *}
				  		<a href="javascript:extra_paste({$EXTRA_DATA[i].origin_uid}, {$DATA.pagezone_id}, '{$LABEL.extra_copy_paste_confirm}');">{$COPY_PASTE_ICON}</a>
				  	{/if}
				{else}
				  {$EMPTY_ICON}
				{/if}

{* delete *}
				{if $EXTRA_DATA[i].origin_placement == true}
				  <a href="javascript:extra_delete({$DATA.pagezone_id}, {$EXTRA_DATA[i].uid}, '{$LABEL.extra_delete_confirm}');">{$DELETE_ICON}</a>
				{else}
				  {$EMPTY_ICON}
				{/if}
			</div>
		</td>
		{if ($DEBUG_OUTPUT && $ADMIN)}
			{* if td's are added here, add them too in the table header *}
			<td class="mod3_td">{$EXTRA_DATA[i].position}</td>
			<td class="mod3_td">{$EXTRA_DATA[i].origin_uid}</td>
			<td class="mod3_td">{$EXTRA_DATA[i].uid}</td>
			<td class="mod3_td">{$EXTRA_DATA[i].concrete_uid}</td>
		{/if}
	</tr>
{/section}
</table>
