{* debug *}
<script language="javascript">

	function getChosenExtra() {ldelim}
		if (document.getElementById('extra_list').selectedIndex < 0) {ldelim}
			alert('{$MESSAGE.no_extra_selected}');
			return false;
		{rdelim}
		return document.getElementById('extra_list').value;
	{rdelim}

	function getParagraph() {ldelim}
		return parseInt(document.getElementById('paragraph').value);
	{rdelim}

	function extra_insert_after_NEW(origin_uid, pz_uid, article_uid, in_article) {ldelim}
		target_uid = article_uid > 0? article_uid : pz_uid;
		var closehtml = (in_article)? escape("close_reload_in_concrete_article.html?pz_uid=" + target_uid) : "close.html";
		new_extra_paragraph_position_data = '';
{if ($PARAGRAPH_USED == true)}
		{* todo: move logic from smarty to js *}
		new_extra_paragraph_position_data = '&paragraph=' + getParagraph();
{/if}
		extra_class_sysfolder = getChosenExtra();
		extra_class = top.splitAtPipe(extra_class_sysfolder, 0);
		extra_sysfolder = top.splitAtPipe(extra_class_sysfolder, 1);
		if (extra_class == false || extra_sysfolder == false) {ldelim}
			alert('Fatal error: Value in list of extras has wrong structure! Please contact developers!');
			return false;
		{rdelim}
		extra_sysfolder = parseInt(extra_sysfolder);
		if (extra_class != false) {ldelim} {* extra is related to pagezone in save hook! *}
			self.location.href = top.path + "typo3/alt_doc.php?returnUrl=" + top.path + "typo3conf/ext/newspaper/mod3/res/" + closehtml + "&edit[" + extra_class + "][" + extra_sysfolder + "]=new&new_extra_pz_uid=" + pz_uid + "&new_extra_after_origin_uid=" + origin_uid + new_extra_paragraph_position_data
		{rdelim}
	{rdelim}

	function extra_insert_after_POOL(origin_uid, pz_uid, in_article) {ldelim}
if (in_article) alert("pool: in article not yet implemented");
		new_extra_paragraph_position_data = '';
{if ($PARAGRAPH_USED == true)}
		{* todo: move logic from smarty to js *}
		new_extra_paragraph_position_data = '&paragraph=' + getParagraph();
{/if}
		extra_class_sysfolder = getChosenExtra();
		extra_class = top.splitAtPipe(extra_class_sysfolder, 0);
		if (extra_class == false) {ldelim}
			alert('Fatal error: Value in list of extras has wrong structure! Please contact developers!');
			return false;
		{rdelim}
		if (extra_class != false) {ldelim}
//self.location.href = "index.php?chose_extra_from_pool=1&origin_uid=" + origin_uid + "&extra=" + extra_class + "&pool_extra_pz_uid=" + pz_uid + "&pool_extra_after_origin_uid=" + origin_uid + new_extra_paragraph_position_data
			self.location.href = "index.php?chose_extra_from_pool=1&origin_uid=" + origin_uid + "&extra=" + extra_class + "&pz_uid=" + pz_uid + new_extra_paragraph_position_data
		{rdelim}
	{rdelim}

</script>

{literal}
<style>
#extra_list {
	width:300px;
}
</style>
{/literal}

{* render list with registered extras *}
<select id="extra_list" size="{$LIST_SIZE}" ondblclick="extra_insert_after_NEW({$ORIGIN_UID}, {$PZ_UID}, {$ARTICLE_UID}, {if ($IS_CONCRETE_ARTICLE)}1{else}0{/if})">';
{section name=i loop=$EXTRA}
	<option value="{$EXTRA[i]->getTable()}|{$EXTRA[i]->getSysfolderPid()}">{$EXTRA[i]->getTitle()}</option>
{/section}
</select>
<br /><br />


{* add input field for paragraph (if article) *}
{if ($PARAGRAPH_USED == true)}
Paragraph:
	{if ($NEW_AT_TOP == true)}
<input id="paragraph" name="paragraph" value="{$PARAGRAPH}" type="text" />
	{else}
<input id="paragraph" name="paragraph" value="{$PARAGRAPH}" type="hidden" /> {$PARAGRAPH}
	{/if}
<br /><br />
{/if}


<input onclick="extra_insert_after_NEW({$ORIGIN_UID}, {$PZ_UID}, {$ARTICLE_UID}, {if ($IS_CONCRETE_ARTICLE)}1{else}0{/if})" type="button" value="{$LABEL.new_extra_new}" />
{* see #1478 <input onclick="extra_insert_after_POOL({$ORIGIN_UID}, {$PZ_UID}, {if ($IS_CONCRETE_ARTICLE)}1{else}0{/if})" type="button" value="{$LABEL.new_extra_from_pool}" /> *}
