{* \todo: message "no article available" *}
{section name=i loop=$ARTICLE}
  <a href="{$T3PATH}alt_doc.php?returnUrl=close.html&edit[tx_newspaper_article][{$ARTICLE[i]->getUid()}]=edit" target="_blank">
   {$ARTICLE_EDIT_ICON} 
  </a>
  {if $ARTICLE[i]->getAttribute('title') != ''}
    {$ARTICLE[i]->getAttribute('title')}
  {else}
    (#{$ARTICLE[i]->getUid()})
  {/if}  
  <br />
{/section}
