{* debug *}

{* include file="mod5.css" css for importing articles *}
{include file="mod5.js"}  {* js for importing articles *}

<div id="create_article">

  <a href="index.php">{$LABEL.back_to_dashboard}</a><br />
  
  <form action="index.php">
    <div>{$LABEL.new_article}</div>
    <div>
      <input checked="checked" type="radio" name="type" onclick="clearSourceBrowser()" value="newarticle"> {$LABEL.new_article_typo3}<br />
      
      {* read registered sources *}
	  {foreach from=$IMPORT_SOURCE item=source key=key}
      	<input type="radio" name="type" value="{$key}" onclick="changeSource('{$key}', '')"> {$source->getTitle()}<br /> 
	  {/foreach}
    </div>

	<table>
	  <tr>
	    <td valign="top">
		  {* here the source browser is inserted via AJAX *}
		  <div id="source_browser">
		  </div>
		</td>
		<td>
		  {* here the text of the selected article is inserted via AJAX *}
		  <div id="article_text">
		  </div>
		</td>
	  </tr>
	</table>

	<div><br />
	  {$LABEL.section}:<br />
      <select name="section" size="1" onchange="setDefaultArticletype(this.value)">
		{section name=i loop=$SECTION}
    	  <option value="{$SECTION[i]->getUid()}"> {$SECTION[i]->getAttribute('section_name')}</option> 
		{/section}
      </select>
    </div>

	<div><br />
	  {$LABEL.articletype}:<br /> 
      <select id="articletype" name="articletype" size="1">
		{section name=i loop=$ARTICLETYPE}
		  {if $ARTICLETYPE[i]->getUid() == $SECTION[0]->getAttribute('default_articletype')}
            <option selected="selected" value="{$ARTICLETYPE[i]->getUid()}"> {$ARTICLETYPE[i]->getAttribute('title')}</option>
		  {else}
    	    <option value="{$ARTICLETYPE[i]->getUid()}"> {$ARTICLETYPE[i]->getAttribute('title')}</option> 
		  {/if}
		{/section}
      </select>
    </div>
	<input type="submit" value="{$LABEL.new_article_button}" />

	</form>

</div>