{* debug *}

{include file="mod5.js"}  {* js for importing articles *}

<div id="create_article">

  <strong><a href="index.php">{$LABEL.back_to_wizards}</a></strong><br /><br />

{if !$SECTION || !$ARTICLETYPE}
  {* no section available *}
  <div> <br />
	{if !$SECTION}  
      {$MESSAGE.no_section}<br />
    {/if} 
	{if !$ARTICLETYPE}  
      {$MESSAGE.no_articletype}
    {/if} 

  </div>
{else}
  {* at least one section and one article type available, so wizard be can used *}
  <form action="index.php">
    <div>{$LABEL.new_article}</div>
    <div>
      <input checked="checked" type="radio" name="tx_newspaper_mod5[type]" onclick="clearSourceBrowser()" value="newarticle"> {$LABEL.new_article_typo3}<br />
      {* read registered sources *}
	  {foreach from=$IMPORT_SOURCE item=source key=key}
      	<input type="radio" name="tx_newspaper_mod5[type]" value="{$key}" onclick="changeSource('{$key}', '')"> {$source->getTitle()}<br /> 
	  {/foreach}
    </div>

	<table>
	  <tr>
	    <td valign="top">
		  {* here the source browser is inserted via AJAX *}
		  <div id="source_browser">
		  </div>
		</td>
		<td>
		  {* here the text of the selected article is inserted via AJAX *}
		  <div id="article_text">
		  </div>
		</td>
	  </tr>
	</table>

	<div><br />
	  {$LABEL.section}:<br />
      <select name="tx_newspaper_mod5[section]" size="1" onchange="setDefaultArticletype(this.value)">
		{section name=i loop=$SECTION}
		  {if $SECTION_AVAILABLE[i]}
    	  	<option value="{$SECTION[i]->getUid()}"> {$SECTION[i]->getAttribute('section_name')}</option>
    	  {else}
    	    <option disabled="disabled" value="{$SECTION[i]->getUid()}"> {$SECTION[i]->getAttribute('section_name')}</option>
    	  {/if}
		{/section}
      </select>
    </div>

	<div><br />
	  {$LABEL.articletype}:<br /> 
      <select id="articletype" name="tx_newspaper_mod5[articletype]" size="1">
		{section name=i loop=$ARTICLETYPE}
		  {if $ARTICLETYPE[i]->getUid() == $SECTION[0]->getAttribute('default_articletype')}
            <option selected="selected" value="{$ARTICLETYPE[i]->getUid()}"> {$ARTICLETYPE[i]->getAttribute('title')}</option>
		  {else}
    	    <option value="{$ARTICLETYPE[i]->getUid()}"> {$ARTICLETYPE[i]->getAttribute('title')}</option> 
		  {/if}
		{/section}
      </select>
    </div>
    <script type="text/javascript">
//{literal}
    	function executeSubmit(type) {
    		document.getElementById('tx_newspaper_mod5[controller]').value = type; // set type
			document.forms[0].submit();
    	}
//{/literal}
    </script><br />
    <input type="hidden" name="tx_newspaper_mod5[controller]" id="tx_newspaper_mod5[controller]" value="" />
	<input type="button" onclick="executeSubmit('new_article_create'); return false;" name="tx_newspaper_mod5[new_article_create]" value="{$LABEL.new_article_button}" />
	{if $IS_ADMIN}
		<input id="lorem" type="button" onclick="executeSubmit('new_article_create_dummy'); return false;" name="tx_newspaper_mod5[new_article_create_dummy]" value="Lorem ipsum dummy article" id="tx_newspaper_mod5[new_article_create_dummy]" />
	{/if}
		

	</form>
{/if}


</div>
