<style type="text/css">
body#typo3-alt-doc-php, body#typo3-db-list-php, body#typo3-mod-web-perm-index-php, body#typo3-mod-web-info-index-php, body#typo3-mod-web-func-index-php, body#typo3-mod-user-ws-index-php, body#typo3-mod-user-ws-workspaceforms-php, body#typo3-mod-php, body#typo3-mod-tools-em-index-php, body#typo3-pagetree, body#typo3-db-new-php, body#typo3-move-el-php, body#typo3-show-rechis-php, body#ext-cms-layout-db-layout-php, body#ext-tstemplate-ts-index-php, body#ext-version-cm1-index-php, body#ext-setup-mod-index-php, body#ext-tsconfig-help-mod1-index-php, body#ext-lowlevel-dbint-index-php, body#ext-lowlevel-config-index-php, body#ext-cms-layout-db-new-content-el-php {ldelim}
  overflow: auto;
{rdelim}
table {ldelim}
  table-layout: auto; 
  border: 1px solid gray; 
  padding: 0; 
  margin: 0; 
  border-collapse: collapse; 
{rdelim}
td {ldelim}
  vertical-align: top;
   border: 1px solid #e8e8e8;
{rdelim}
.bg1 {ldelim}
  background-color: #f0f0f0;"
{rdelim}
.bg2 {ldelim}
  background-color: #d0d0d0;
{rdelim}
.kicker {ldelim}
  color: #c61940;
{rdelim}
.comment_box {ldelim}
  display: none;
  background-color: white;
{rdelim} 
.gray {ldelim}
  color: #909090;
{rdelim}
.article_text {ldelim}
  background-color: white;
{rdelim} 


.box {ldelim}
  width: 300px;
  background-color: white;
  margin: 5px;
  padding: 5px;
  margin-top: 0px;
  padding-top: 0px;
{rdelim}
.box_hl {ldelim}
  color: black;
  font-weigth: bold;
  width: 300px;
  background-color: #d0d0d0;
  margin: 5px;
  padding: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
{rdelim}


</style> 
