{*
    error message shown if a tx_newspaper_DBException occurs during frontend rendering.
    
    Variables:
    $_GET       _GET parameters coming with the HTTP request
    $exception  The exception that was thrown
    
*}

<h1>Sorry, your request could not be answered.</h1>

<p>
  These are the parameters we could deduce from your request:
  <ul>
    {foreach from=$_GET key=key item=value}
      <li>{$key}: {$value}</li>
    {/foreach}
  </ul>
  And this is the message that came with the exception that was thrown:
  <pre>{$exception->getMessage()}</pre>
</p>
