{*
    error message shown if a tx_newspaper_ObjectNotFoundException occurs during frontend rendering.
    
    Variables:
    $_GET       _GET parameters coming with the HTTP request
    $exception  The exception that was thrown
    
*}

<h1>Sorry, your request could not be answered.</h1>

<p>These are the parameters we could deduce from your request:</p>

  <ul>
    {foreach from=$_GET key=key item=value}
      <li>{$key}: {$value}</li>
    {/foreach}
  </ul>

<p>And this is the message that came with the exception that was thrown:</p>

<pre>{$exception->getMessage()}</pre>

<!--
    If you need them, you can access class and UID of the missing object like this:
    {$e->class}
    {$e->uid}
-->
