
<!-- start artikelseite/hauptspalte/tx_newspaper_extra_image.tmpl -->


{* Image
   Variables:

   $basepath		path to the image directories
   $sizes			list of the present sizes
   $template_set	template set used, if any

   $attributes		attributes as stored in DB. notable attributes include:
   	 	title		title to be displayed above the image
	 	image_file	name of image file  
	 	caption		caption line to be displayed under the image
	 	normalized_filename
	 	kicker  
	 	credit  
	 	source  
	 	type  	
	 	alttext
	 	tags 

   $extra_attributes	attributes for abstract extra record as stored in DB

*}

<h2>temporary extra_image.tmpl</h2>

{if $attributes.kicker}<h5>{$attributes.kicker}</h5>{/if}
{if $attributes.title}<h4>{$attributes.title}</h4>{/if}
{if $dossier_link}
<a href="{$dossier_link}">
{else}
<a href="{$basepath}/{$sizes.popup}/{$attributes.image_file}"
   target="fullImage"
   onclick="vHWin=window.open('{$basepath}/{$sizes.popup}/{$attributes.image_file}','fullImage','width=800,height=400');vHWin.focus();return false;"
   shape="rect">
{/if}
<img src="{$basepath}/{$sizes.artikel}/{$attributes.image_file}"
     alt="{if $attributes.alttext}{$attributes.alttext}{else}{$attributes.caption}{/if}" />
</a>

{if $attributes.caption}<p>{$attributes.caption}</p>{/if}

<!--  end  artikelseite/hauptspalte/tx_newspaper_extra_image.tmpl -->
