
<!-- start res/templates/tx_newspaper_extra_freeformimage.tmpl -->


{* Raw image without automatic resizing and caption
   Variables:

   $basepath		path to the image directories

   $attributes		attributes as stored in DB. notable attributes include:
	 	image_file	name of image file
	 	image_width width of image, if given
	 	image_height height of image, if given

   $extra_attributes	attributes for abstract extra record as stored in DB

*}

<img src="{$basepath}/{$attributes.image_file}"
     {if $attributes.image_width}width="{$attributes.image_width}"{/if}
     {if $attributes.image_height}width="{$attributes.image_height}"{/if}
     alt="" />
</a>

<!--  end  res/templates/tx_newspaper_extra_freeformimage.tmpl -->
