
<!-- start res/templates/tx_newspaper_extra_bio.tmpl -->

{* Article
   Variables:
   $template_set		template set used, if any
   $attributes			attributes as stored in DB
   $extra_attributes	attributes for abstract extra record as stored in DB
   $extra               the rendered extra as PHP object
*}

<h2>template shipped with newspaper extension in typo3conf/ext/newspaper/res/templates</h2> 

<strong>{$attributes.author_name}</strong>
<p>{$attributes.bio_text}</p>
<p>
    <img src="{$basepath}/{$sizes.teaser}/{$attributes.image_file}" 
	     alt="{if $attributes.alttext}{$attributes.alttext}{else}{$attributes.caption}{/if}" />
	Foto: {$attributes.photo_source}
</p>
{if $dossier_link}<strong>{$dossier_link}</strong>{/if}

<!--  end  res/templates/tx_newspaper_extra_bio.tmpl -->
