
<!-- start res/templates/tx_newspaper_extra_sectionlist.tmpl -->

{* Article
   Variables:
   $articles	array(
   					0 => tx_newspaper_Article object,
   					1 => tx_newspaper_Article object,
   					...
   				)
   $section_id      UID of the displayed section
   $template_set	template set used, if any
   $attributes	attributes as stored in DB
   $extra_attributes	attributes for abstract extra record as stored in DB
   $extra               the rendered extra as PHP object
*}

<h2>template shipped with newspaper extension in typo3conf/ext/newspaper/res/templates</h2> 

{section name=i loop=$articles}
	<a href="{$articles[i]->getLink()}">
		<h2>{$articles[i]->getAttribute('kicker')}</h2>
		<h1>{$articles[i]->getAttribute('title')}</h1>
	
		{assign var=image value=$articles[i]->getFirstExtraOf('tx_newspaper_Extra_Image')}
		{if $image}
			{assign var=sizes value=$image->getSizes()}
			<img src="{$image->getBasepath()}/{$sizes.preview}/{$image->getAttribute('image_file')}"
{*				 height="{$image->getHeights().preview}" width="{$image->getWidths().preview}"	*}
				 alt="{if $image->getAttribute('alttext')}{$image->getAttribute('alttext')}{else}{$image->getAttribute('caption')}{/if}" />
		{/if}

		{$articles[i]->getAttribute('teaser')}

	</a>
{/section}

<!--  end  res/templates/tx_newspaper_extra_sectionlist.tmpl -->
