<!-- start res/templates/tx_newspaper_extra_phpinclude.tmpl -->
{*
   Contains the name of a PHP file to be included. The evaluation of the PHP
   is done in the smarty template.

   Variables:

   $file                contains the PHP file which is supposed to be inserted here

   $attributes          attributes as stored in DB. notable attributes include:

   $extra_attributes    attributes for abstract extra record as stored in DB

*}

<!-- do something you can use from XSLT here with {$file} -->

<!-- end res/templates/tx_newspaper_extra_phpinclude.tmpl -->
