
<!-- start res/templates/tx_newspaper_extra_textbox.tmpl -->

{* Text box
   Variables:
   $text	text to be displayed
   $title	title to be displayed above the text
   $template_set	template set used, if any
*}

<h2>template shipped with newspaper extension in typo3conf/ext/newspaper/res/templates</h2>
<h4>{$title}</h4>
<p>
{$text}
</p>

<!--  end  res/templates/tx_newspaper_extra_textbox.tmpl -->
