
<!-- start res/templates/tx_newspaper_extra_externallinks.tmpl -->

{* Text box
   Variables:
   $links
   $template_set	template set used, if any
*}

<h2>template shipped with newspaper extension in typo3conf/ext/newspaper/res/templates</h2>
<p>
{$links}
</p>

<!--  end  res/templates/tx_newspaper_extra_externallinks.tmpl -->
