
<!-- start res/templates/tx_newspaper_extra_externallinks.tmpl -->

{* Text box
   Variables:
   $links			array
   $template_set	template set used, if any
   $attributes	attributes as stored in DB
   $extra_attributes	attributes for abstract extra record as stored in DB
*}

<h2>template shipped with newspaper extension in typo3conf/ext/newspaper/res/templates</h2>
<h3>{$title}</h3>
<ul>
{section name=i loop=$links}
	<li>
		<a href="{$links[i]->getURL()}" 
		   target="{$links[i]->getTarget()}">{$links[i]->getText()}</a>
	</li>
{/section}
</ul>
<!--  end  res/templates/tx_newspaper_extra_externallinks.tmpl -->
