<!-- start res/templates/tx_newspaper_extra_textbox.tmpl -->

{* Text box
   Variables:
   $text	text to be displayed
   $title	title to be displayed above the text
   $image   tx_newspaper_Image object, if any
   $image_rendered  the image rendered as HTML, if any
   $template_set	template set used, if any
   $attributes	attributes as stored in DB
   $extra_attributes	attributes for abstract extra record as stored in DB
   $extra               the rendered extra as PHP object
*}

<h2>template shipped with newspaper extension in typo3conf/ext/newspaper/res/templates</h2>

<h4>{$title}</h4>

<p>

    {if $attributes.image_file}
        <img src="{$basepath}/{$sizes.teaser}/{$attributes.image_file}"
             alt="{if $attributes.alttext}{$attributes.alttext}{else}{$attributes.caption}{/if}" />
    {/if}

    {$bodytext}

</p>

<!--  end  res/templates/tx_newspaper_extra_textbox.tmpl -->
