
<!-- start res/templates/tx_newspaper_article.tmpl -->

{* Article
   Variables:
   $kicker
   $title
   $teaser
   $author
   $text		the raw text as stored in the DB
   $paragraphs	array(
					$paragraph_number => array(
		 				"text" => $text_of_paragraph,
						"extras" => array(
		  					$position => $rendered_extra,
		  					...
		 	 			)
		  			),
		  			...
		  		)
   $template_set	template set used, if any
*}

<h2>template shipped with newspaper extension in typo3conf/ext/newspaper/res/templates</h2> 
<h2> {$kicker} </h2>
<h1> {$title} </h1>
<h3> {$teaser} {if $author}VON {$author}{/if} </h3>

<p> 
	{if $paragraphs}
		<ul>
			{section name=i loop=$paragraphs}
				{if $paragraphs[i].text}
					<p>{$paragraphs[i].text}</p>
				{/if}
				{if $paragraphs[i].extras}
					{foreach from=$paragraphs[i].extras item=extra}
						{$extra}
					{/foreach}					
				{/if}				
			{/section}
		</ul>
	{else}
		{$text}
	{/if}		
</p>

<!--  end  res/templates/tx_newspaper_article.tmpl -->
