<!-- start res/templates/tx_newspaper_pagezone_page.tmpl -->

{* Page Zone containing (several) Extras
   Variables:
   $class		class whose render() method is called
   $attributes	array(name => value)
   $extras		array(? => ?)
   $template_set	template set used, if any
*}

<h2>template shipped with newspaper extension in typo3conf/ext/newspaper/res/templates</h2> 
<h3>Class: {$class} </h3>

{foreach from=$attributes key=name item=value}
   <!-- {$name}: {$value} -->
{/foreach}

{foreach from=$extras item=extra}
   <p> {$extra}</p>
{/foreach}

<!--  end  res/templates/tx_newspaper_pagezone_page.tmpl -->
