<!-- start res/templates/tx_newspaper_extra_textbox.tmpl -->

{* Text box
   Variables:
   $text	text to be displayed
   $title	title to be displayed above the text
   $image   tx_newspaper_Image object, if any
   $image_rendered  the image rendered as HTML, if any
   $template_set	template set used, if any
   $attributes	attributes as stored in DB
   $extra_attributes	attributes for abstract extra record as stored in DB
   $extra               the rendered extra as PHP object
*}

<h2>template shipped with newspaper extension in typo3conf/ext/newspaper/res/templates</h2>

<h4>{$title}</h4>

<p>

    {if $image}
        {if $image->getAttribute('kicker')}<h5>{$image->getAttribute('kicker')}</h5>{/if}
        {if $image->getAttribute('title')}<h4>{$image->getAttribute('title')}</h4>{/if}
        <img src="{$basepath}/{$sizes.textbox}/{$image->getAttribute('image_file')}" 
             alt="{if $image->getAttribute('alttext')}{$image->getAttribute('alttext')}{else}{$image->getAttribute('caption')}{/if}" />
        {if $image->getAttribute('caption')}<p>{$image->getAttribute('caption')}</p>{/if}
    {/if}
    
    {$text}

</p>

<!--  end  res/templates/tx_newspaper_extra_textbox.tmpl -->
