
<!-- start res/templates/tx_newspaper_extra_container.tmpl -->

{* Container for Extras
   Variables:
   $extras
   $rendered_extras
*}

{section name=i loop=$rendered_extras}
    {$rendered_extras[i]}
{/section}

<!-- end res/templates/tx_newspaper_extra_container.tmpl -->
