
<!-- start res/templates/tx_newspaper_extra_image.tmpl -->

{* Image
   Variables:
   $title	title to be displayed above the image
   $image	image file (uploaded under uploads/tx_newspaper)
   $caption	caption line to be displayed under the image, doubles as alt text
*}

<h2>template shipped with newspaper extension in typo3conf/ext/newspaper/res/templates</h2>
<h4>{$title}</h4>
<p>
	<img src="uploads/tx_newspaper/{$image}" alt="{$caption}" />
</p>
{$caption}

<!--  end  res/templates/tx_newspaper_extra_image.tmpl -->
