
<!-- start res/templates/tx_newspaper_page.tmpl -->

{* Page Type containing (several) Page Zones
   Variables:
   $section 
   $page_type
   $page_zones: array (name of page zone => rendered content)
   $template_set	template set used, if any
*}

<h2>template shipped with newspaper extension in typo3conf/ext/newspaper/res/templates</h2> 
<h1> {$section} {$page_type} </h1>

{* Because this is a generic template, a foreach loop is used here.
   In production, it is probably more adequate to place the page zones by hand,
   such as:
   	<div class="left_column">{$page_zones.left_column}</div>
   	<div class="right_column">{$page_zones.right_column}</div>
   That way you have full control over how you wrap the page zones.
*}
{foreach from=$page_zones key=name item=content}
   <div id="{$name}"> {$name}: {$content}</div>
{/foreach}

<!--  end  res/templates/tx_newspaper_page.tmpl -->
