<!-- start res/templates/tx_newspaper_extra_typo3_ce.tmpl -->

{* Typo3 Content Element
   Variables:
   $raw	    raw attributes of the content elements as read from DB
   $rendered rendered content elements
   $attributes	attributes as stored in DB
   $extra_attributes	attributes for abstract extra record as stored in DB
   $extra               the rendered extra as PHP object
*}

<!--template shipped with newspaper extension in typo3conf/ext/newspaper/res/templates -->

{section name=i loop=$rendered}
  <!--
    {* It's probably not such a great idea to print all attributes of the CE in
       production. This is just for debugging purposes. *}
    {foreach from=$raw[i] key=attribute item=value}
      {$attribute}: {$value}
    {/foreach}
  -->
  <div>{$rendered[i]}</div>
{/section}

<!--  end  res/templates/tx_newspaper_extra_typo3_ce.tmpl -->
