<!-- start res/templates/tx_newspaper_extra_html.tmpl -->
{* HTML
   Variables:

   $html		contains the html chunk to be displayed

   $attributes          attributes as stored in DB. notable attributes include:
                template 

   $extra_attributes    attributes for abstract extra record as stored in DB

*}
{$html}
<!-- end res/templates/tx_newspaper_extra_html.tmpl -->
